
@{
    ViewData["Title"] = "درخواست دریافت اعتبار حساب";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

@section header {

    <link rel="stylesheet" type="text/css" href="~/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/datatables/DataTables-1.10.20/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/datatables/Buttons-1.6.0/css/buttons.dataTables.min.css">
}
<h1>درخواست دریافت اعتبار حساب</h1>

<div class="first-row row">
    <div class="panel panel-default panel-group simple">
        <div class="panel-heading">موجودی قابل برداشت</div>
        <div class="panel-body panel-group simple">
            <a href="/Wallet/Index" title="موجودی">
                <div class="green">
                    @ViewBag.Remain.ToString("N0") ريال
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-4 col-sm-4 center-content">
        <label for="Amount">مبلغ به ريال</label>
        <div class="input-group">
            <span class="input-group-addon"><i>ريال</i></span>
            <input name="Amount" id="Amount" class="form-control" type="number" placeholder="لطفا مبلغ را به ريال وارد نمایید" />
        </div>
    </div>
    <div class="col-sm-offset-4 col-sm-4 checkbox-lbl">
        <input name="all" id="all" type="checkbox" allCredit="@ViewBag.Remain" />
        <label for="all">درخواست دریافت همه موجودی ام را دارم</label>
    </div>
    <div class="col-sm-offset-4 col-sm-4 center-content">
        <label for="IBAN">شماره شبا</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
            <input name="IBAN" id="IBAN" class="form-control" type="number" value="@ViewBag.IBAN" placeholder="شماره شبا" />
        </div>
    </div>
    <div class="col-sm-offset-4 col-sm-4 center-content">
        <label for="CartNumber">شماره کارت</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-id-card-o"></i></span>
            <input name="CartNumber" id="CartNumber" class="form-control" value="@ViewBag.CartNumber" type="number" placeholder="شماره کارت بانکی" />
        </div>
    </div>
    <div id="hr_step4Link" class="only-charge">
        <hr class="light-hr" />
    </div>

    <button class="form-control btn-paid btn-warning " id="PayBtn"> درخواست دریافت مبلغ </button>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                شماره پیگیری
            </th>
            <th>
                مبلغ درخواستی
            </th>
            <th>
                شماره شبا
            </th>
            <th>
                شماره کارت بانکی
            </th>
            <th>
                تاریخ
            </th>
            <th>
                کد ارجاع بانک
            </th>
            <th>
                توضیحات
            </th>
            <th>
                تاریخ واریز
            </th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Result != null && ViewBag.Result.Rows.Count > 0)
            @for (int i = 0; i < ViewBag.Result.Rows.Count; i++)
            {
                <tr>
                    <td>
                        @ViewBag.Result.Rows[i]["WalletRequestCreditId"].ToString()
                    </td>
                    <td>
                        @ViewBag.Result.Rows[i]["RequestAmount"].ToString("N0")
                    </td>
                    <td>
                        @ViewBag.Result.Rows[i]["AccountIBAN"].ToString()
                    </td>
                    <td>
                        @ViewBag.Result.Rows[i]["AccountCartNumber"].ToString()
                    </td>
                    <td>
                        @if (ViewBag.Result.Rows[i].IsNull("DateAdded") == false)
                        {
                            <span>@ShppaingPart.Controllers.SharedLogic.ToShamsi((DateTime?)ViewBag.Result.Rows[i]["DateAdded"])</span>
                        }
                    </td>
                    <td>
                        @ViewBag.Result.Rows[i]["ReferenceId"].ToString()
                    </td>
                    <td>
                        @ViewBag.Result.Rows[i]["Desc"].ToString()
                    </td>
                    <td>

                        @if (ViewBag.Result.Rows[i].IsNull("ResponseDate") == false)
                        {
                            <span>
                                @(ShppaingPart.Controllers.SharedLogic.ToShamsi((DateTime?)ViewBag.Result.Rows[i]["ResponseDate"]))
                            </span>
                        }
                    </td>
                </tr>
            }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        var amount_value = 0;
        var CreditAmount = parseInt('@ViewBag.Remain');
        function ChangeAmount(amount) {
            try {
                amount_value = amount;
            } catch (e) {
            }
        }
        $("#step3Link").show();
        $('#PayBtn').on('click', function () {
            if (amount_value > 10000 && amount_value == Math.floor(amount_value ) && amount_value <= CreditAmount) {
                $('#FormAmount').val(amount_value);
                $('#FormIBAN').val($('#IBAN').val());
                $('#FormCartNumber').val($('#CartNumber').val());
                $('#formData').submit();
                //$.post('/Wallet/Increase', { Amount: amount_value }, function (data, status) {

                //});
            } else {
                alert("مبلغ نمی تواند کمتر از 10000، دارای اعشار و همچنین بیشتر از اعتبار فعلی شما باشد");
            }

        });
        $('#Amount').on('keyup', function () {
            if (isInteger($('#Amount').val()))
                ChangeAmount(parseInt($('#Amount').val()));
            $('#all').prop("checked", false);
        });
        $('#Amount').on('change', function () {
            if (isInteger($('#Amount').val()))
                ChangeAmount(parseInt($('#Amount').val()));
            $('#all').prop("checked", false);
        });
        $('#all').on('change', function () {
            var allCredit = $(this).prop('checked');
            if (allCredit) {
                if (isInteger($(this).attr('allCredit'))) {
                    var allCreditAmount = parseInt($(this).attr('allCredit'));
                    $('#Amount').val(allCreditAmount);
                }
            }
        });
        function isInteger(num) {
            try {
                var i = parseInt(num);
                return true;
            } catch (e) {
                return false;

            }
        }
    </script>
    <script type="text/javascript" src="~/datatables/dataTables.min.js"></script>
    <script type="text/javascript" src="~/datatables/FixedHeader-3.1.6/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="~/datatables/Buttons-1.6.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/datatables/JSZip-2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="~/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/datatables/Buttons-1.6.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/datatables/Buttons-1.6.0/js/buttons.print.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            //debugger;
            var strElem = "";
            $('table thead tr th').each(function (index, elem) {
                strElem += "<th>" + $($('table thead tr th')[index]).text() + "</th>";
            });
            $('table').append("<tfoot><tr>" + strElem + "</tr></tfoot>");
            $('table tfoot tr th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('table').DataTable({
                fixedHeader: true,
                orderCellsTop: true,
                responsive: true,
                dom: 'Bfrtip', "order": [],
                buttons: [
                    {
                        extend: 'collection',
                        text: 'Export',
                        buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                        ]
                    }
                ],
                "bAutoWidth": false,
            });
            $('table').on("order.dt", function () {

                if (table.settings().order().length === 1) {
                    var order = table.settings().order()[0];
                    var th = $("table th:eq(" + order[0] + ")");
                    if (th.attr("data-sort-next") === "false") {
                        table.order([]).draw();
                        th.attr("data-sort-next", true);
                    } else {
                        if (order[1] === "desc") {
                            th.attr("data-sort-next", false);
                        } else {
                            th.attr("data-sort-next", true);
                        }
                    }
                }
            });
        });
    </script>
    <style>
        #Amount {
            font-size: smaller;
        }
    </style>
}
<form method="post" action="/Wallet/Request" id="formData">
    <input type="hidden" name="Amount" id="FormAmount" value="" />
    <input type="hidden" name="IBAN" id="FormIBAN" value="" />
    <input type="hidden" name="CartNumber" id="FormCartNumber" value="" />
</form>
