@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using ShppaingPart.Models
@using Microsoft.Data.SqlClient
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var onlyLogginPage = true;
    var onlyLogin = HttpContextAccessor.HttpContext.Session.GetString("OnlyLoggin");
    if (string.IsNullOrEmpty(onlyLogin) == false)
        onlyLogginPage = onlyLogin == "OnlyLoggin";
    if (onlyLogginPage && SignInManager.IsSignedIn(User))
        onlyLogginPage = false;
    var db = new ShppaingPart.Models.DataAccess();

    var token = "";
    var userid = "";
    if (SignInManager.IsSignedIn(User))
    {
        userid = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
        try
        {
            token = HttpContextAccessor.HttpContext.Session.GetString(userid + "-tokenFCM");
        }
        catch { }
    }
    if (SignInManager.IsSignedIn(User))
    {
        var thisuser = UserManager.FindByNameAsync(User.Identity.Name);

        ViewBag.Link = GetUri(false, false).ToString().Replace(":80", "") + "Account/Register?Introducer=" + thisuser.Result.SimpleId;
        var dt3 = db.ProccessSelectQuery("sp_getAffiliateLink", new SqlParameter[] {
                new SqlParameter("userid",ShppaingPart.Controllers.SharedLogic.GetCurrentUserId()),
                new SqlParameter("AffiliateLink", GetUri(false,false).ToString().Replace(":80","") + "Account/Register?Introducer=" + thisuser.Result.SimpleId),
                new SqlParameter("simpleId", thisuser.Result.SimpleId)
            }, System.Data.CommandType.StoredProcedure);
        if (dt3.Rows[0].IsNull(0) == false)
        {
            ViewBag.AffiliateLinkSms = dt3.Rows[0]["AffiliateTextSms"].ToString();
            ViewBag.AffiliateLink = dt3.Rows[0]["AffiliateText"].ToString();
            ViewBag.CanAffiliateTextSendBySMS = (bool)dt3.Rows[0]["CanAffiliateTextSendBySMS"];
        }
    }
    else
    {
        ViewBag.Link = "";
        ViewBag.AffiliateLink = "";
        ViewBag.CanAffiliateTextSendBySMS = false;
    }
    if (ViewBag.CanAffiliateTextSendBySMS == null)
    { ViewBag.CanAffiliateTextSendBySMS = false; }
    Uri GetUri(bool addPath = true, bool addQuery = true)
    {
        var uriBuilder = new UriBuilder
        {
            Scheme = HttpContextAccessor.HttpContext.Request.Scheme,
            Host = HttpContextAccessor.HttpContext.Request.Host.Host,
            Port = HttpContextAccessor.HttpContext.Request.Host.Port.GetValueOrDefault(80),
            Path = addPath ? HttpContextAccessor.HttpContext.Request.Path.ToString() : default(string),
            Query = addQuery ? HttpContextAccessor.HttpContext.Request.QueryString.ToString() : default(string)
        };
        return uriBuilder.Uri;

    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="enamad" content="667709" />
    @*@if (controller == "info" && action == "index")
        {*@
    @{
        var SiteTitle = "";
        var description = "";
        var Keywords = "";
        var StieData = ShppaingPart.Controllers.SharedLogic.GetSiteData();
        if (StieData == null)
        {
            SiteTitle = ViewData["Title"] + " - همپیشه";
            description = "همپیشه، خرید انواع سرویس های آنلاین، شارژ، بسته، بیمه، پین و... sale online shop Charge net package mci mtn rtn irancell hamrah aval rightel voucher ticket";
            Keywords = "sale,mci,mtn,rtl,net,package,charge,insurance,ticket,hottel,metro,airplan,bus,voucher,pin,شارژ,بسته,همراه اول,ایرانسل,رایتل,پین,بیمه,بلیط,هواپیما,قطار,اتوبوس,هتل";
        }
        else
        {
            SiteTitle = StieData.SiteTitle ?? ViewData["Title"] + " - همپیشه";
            description = StieData.description ?? "همپیشه، خرید انواع سرویس های آنلاین، شارژ، بسته، بیمه، پین و... sale online shop Charge net package mci mtn rtn irancell hamrah aval rightel voucher ticket";
            Keywords = StieData.Keywords ?? "sale,mci,mtn,rtl,net,package,charge,insurance,ticket,hottel,metro,airplan,bus,voucher,pin,شارژ,بسته,همراه اول,ایرانسل,رایتل,پین,بیمه,بلیط,هواپیما,قطار,اتوبوس,هتل";
        }
        if (onlyLogginPage)
        {
            <link rel="stylesheet" href="/onboard/reset.min.css" />
            <link rel='stylesheet' href="/onboard/slick.min.css" />
            <link rel='stylesheet' href="/onboard/slick-theme.min.css" />
            <link rel='stylesheet' href="/onboard/style.css" />
            <script>
                window.console = window.console || function (t) { };
            </script>
            <script>
                if (document.location.search.match(/type=embed/gi)) {
                    window.parent.postMessage("resize", "*");
                }
            </script>
        }
        <title>@(SiteTitle.Replace("[PageTitle]", ViewData["Title"].ToString()))</title>
        <meta name="description" content="@description" />
        <meta name="Keywords" content="@Keywords" />
    }
    @*}
        else
        {
            <title>@ViewData["Title"] - همپیشه</title>
            <meta name="description" content="همپیشه، خرید انواع سرویس های آنلاین، شارژ، بسته، بیمه، پین و... sale online shop Charge net package mci mtn rtn irancell hamrah aval rightel voucher ticket" />
            <meta name="Keywords" content="sale,mci,mtn,rtl,net,package,charge,insurance,ticket,hottel,metro,airplan,bus,voucher,pin,شارژ,بسته,همراه اول,ایرانسل,رایتل,پین,بیمه,بلیط,هواپیما,قطار,اتوبوس,هتل" />

        }*@

    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

    <meta property="og:locale" content="fa" />
    <meta property="og:type" content="website" />
    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            @if (action != "service")
            {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.min.css" />
            }
            <link rel="stylesheet" href="~/css/site.css?v=7" />
            <link rel="stylesheet" id="theme" href="~/Content/Site.css?v=4" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            @if (action != "service" && controller != "info")
            {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.min.css" />
            }
            <link rel="stylesheet" href="~/css/site.css?v=7" />
            <link rel="stylesheet" id="theme" href="~/Content/Site.css?v=4" />
        </environment>*@

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    @if (action != "service")
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.min.css" />
    }

    <link rel="apple-touch-icon" href="/`logo192.png">
    <link rel="stylesheet" href="/Mobile/site2.css?v=11" />
    <link rel="stylesheet" href="/Mobile/mainpage.css" />
    <link rel="stylesheet" href="/Mobile/fonts/css/all.css" />
    <link rel="stylesheet" id="theme" href="/Mobile/Site.css?v=26" />
    @RenderSection("header", required: false)
</head>
<body>
    <div id="loading" class="loader">
        <p class="loading"></p>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("شارژ، بسته و بیمه", "Index", "Info", new { area = "" }, new { @class = "navbar-brand" })*@
                <a @(onlyLogginPage ? "href=/Account/Login" : "href=/Info/Index") class="navbar-brand hidden-md hidden-sm hidden-xs"><img class="img-circle" width="48" height="48" src="~/ic_launcher.png" alt="همپیشه" /></a>
                @*<a id="reloadData" class="navbar-brand medium-size">بازیابی مجدد</a>*@
                <a asp-area="" asp-controller="Info" asp-action="Index" class="navbar-brand siteName">@ViewData["Title"]</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    if ((action == "index" || action == "index2") && controller == "info")
                    {
                        <a asp-area="" asp-controller="Manage" asp-action="Index" class="navbar-brand username"><div>@User.Identity.Name <i class="fa fa-user"></i></div></a>
                        <a href="/Wallet/Index" class="navbar-brand credit" id="creditA"></a>
                    }
                }
                else
                {

                }
            </div>
            <div class="wallet-left">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a href="/Wallet/Index">
                        <img src="/Mobile/ico/wallet.png">
                    </a>
                }
            </div>
            <div class="navbar-collapse collapse navbar-left">
                @*<ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>*@

                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <a asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی">صفحه اصلی</a>
                        </li>
                        <li>
                            <a href="/Transactions/Index" title="لیست تراکنشها">لیست تراکنشها</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Info" asp-action="Messages" title="صندوق پیام و پاسخ">صندوق پیام و پاسخ</a>
                        </li>
                        <li>
                            <a href="/Wallet/Index" title="کیف اعتبار">کیف اعتبار</a>
                        </li>
                        <li>
                            <a title="معرف" data-toggle="modal" data-target="#IntroducerModal">معرف</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="تنظیمات">تنظیمات</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Search" asp-action="Index" title="جست و جو"><i class="glyphicon glyphicon-search"></i></a>
                        </li>
                        @*<li>
                                <a asp-area="" asp-controller="Manage" asp-action="Index" title="مقدار اعتبار" id="creditA">&nbsp;</a>
                            </li>*@
                        <li>
                            @*<a asp-area="" asp-controller="Info" asp-action="Logout" title="خروج2" >خروج2</a>*@
                            <form action="/Info/Logout" method="post" id="logoutForm">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">خروج</button>
                                <input type="hidden" value="@token" name="FCMToken" />
                            </form>
                        </li>
                    </ul>

                }
                else
                {
                    <ul class="nav navbar-nav">
                        @if (onlyLogginPage == false)
                        {
                            <li>
                                <a asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی">صفحه اصلی</a>
                            </li>
                        }
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">ثبت نام</a></li>
                        <li><a asp-area="" asp-controller="Info" asp-action="Login">ورود</a></li>
                    </ul>
                }


                @*@await Html.PartialAsync("_LoginPartialMobile")*@

            </div>
        </div>
    </nav>
    <section class="header-sec">
        <div class="backImage">
            <img src="~/Mobile/background.png?" class="tall" />
        </div>
    </section>
    @if (action == "index2" && controller == "info")
    {
        @RenderBody()
    }
    else
    {
        <div class="container">
            @RenderBody()
        </div>
        if (onlyLogginPage)
        {

            <div class="onboard">
                <!-- <h1>Daily<strong>UI</strong></h1> -->
                <div class="slider">
                    <div class="item">
                        <div class="ico">
                            <img src="./1-waiting_6.png" />
                        </div>
                        <div class="tit">
                            تو خونه بیکاری و حوصله‌ت سر رفته؟
                        </div>
                        <div class="text">
                            با همپیشه کار کن و کسب درآمد کن
                        </div>
                        <a href="#" class="cta ready">آماده شروع هستم</a>
                    </div>
                    <div class="item">
                        <div class="ico">

                            <img src="./2-money_tree.png" />
                        </div>
                        <div class="tit">
                            واسه آیندت سرمایه گذاری کن
                        </div>
                        <div class="text">
                            فقط با چند کلیک ، هم خرید کن هم پول در بیار
                        </div>
                        <a href="#" class="cta ready">آماده شروع هستم</a>
                    </div>
                    <div class="item">
                        <div class="ico">

                            <img src="./3-taxi_bank.png" />
                        </div>
                        <div class="tit">
                            از دوست‌ها و آشناهات دعوت کن
                        </div>
                        <div class="text">
                            از دوستات دعوت کن تا با هم کسب درآمد کنید
                        </div>
                        <a href="#" class="cta ready">آماده شروع هستم</a>
                    </div>
                </div>
            </div>

            <div class="login">
                <div class="item">
                    <div class="ico">

                        <img src="./4-taxi_3.png" />
                    </div>
                    <div class="tit">
                        می‌خوای بدونی چه جوری پولدار شدم؟
                    </div>
                    <div class="text">
                        همین حالا ثبت نام کن
                    </div>
                    <a href="#" target="_blank" class="cta">ثبت نام</a>
                    <a href="#" target="_blank" class="cta">ورود</a>
                </div>
            </div>
        }

    }
    <footer class="hidden-xs">
        <div class="body-content">
            <div class="backImage">
                <img src="~/Mobile/background-f.png?" class="tall" />
            </div>
            <div class="data">
                <div>
                    <div class="col-xs-4">

                        <a class="btn col-xs-12" href="/Home/Rules" title="قوانین"><span class="white">قوانین</span>  </a>
                        <a class="btn col-xs-12" href="/Home/ContactUs" title="تماس با ما"><span class="white"> تماس با ما</span> </a>
                        <a class="btn col-xs-12" href="/Home/AboutUs" title="درباره ما"><span class="white">درباره ما</span></a>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            <img src="/ic_launcher.png" width="20" />
                            <label> دانلود همپیشه :</label>
                        </div>
                        <div class="col-xs-12">
                            <a class="btn btn-success backHighlight" download="" href="/hampisheh.apk">دانلود اپ اندروید</a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <p><a href="https://instagram.com/hampisheh?igshid=4b8dogkrqesg"><i class="fab fa-instagram"></i></a><a href="https://t.me/hampisheh"><i class="fab fa-telegram"></i></a> تمامی حقوق برای همپیشه محفوظ است - &copy;1399</p>
                        @*<a download="" href="/hampisheh.apk" class="navbar-brand username"><div>دانلود اپ اندروید</div></a>*@
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @*<div style="position:fixed;bottom:0;left:0;">
            <a target="_blank" href="https://trustseal.enamad.ir/?id=141057&amp;Code=FSQZ7CEMmdrfQ7jRDO17"><img src="https://Trustseal.eNamad.ir/logo.aspx?id=141057&amp;Code=FSQZ7CEMmdrfQ7jRDO17" alt="" style="cursor:pointer" id="FSQZ7CEMmdrfQ7jRDO17"></a>
        </div>*@
    @RenderSection("Scripts", required: false)

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" id="demo" data-target="#exampleModal" style="display:none">
        Launch demo modal
    </button>

    <!-- Modal -->

    <div class="modal fade drawer" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="~/Mobile/ico/closemenu.png" />
                        </button>
                    </div>*@
                <div class="modal-body">
                    @if (SignInManager.IsSignedIn(this.User))
                    {
                        <ul class="nav navbar-nav">
                            <li>
                                <a data-dismiss="modal" aria-label="Close" title="بستن"><img src="~/Mobile/ico/closemenu.png" /></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی"><img src="~/Mobile/ico/home.png" /> صفحه اصلی</a>
                            </li>
                            <li>
                                <a href="/Transactions/Index" title="لیست تراکنشها"><img src="~/Mobile/ico/transaction.png" />لیست تراکنشها</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Info" asp-action="Messages" title="صندوق پیام و پاسخ"><img src="~/Mobile/ico/chat.png" />صندوق پیام و پاسخ</a>
                            </li>
                            <li>
                                <a data-dismiss="modal" title="معرف" data-toggle="modal" data-target="#IntroducerModal"><img src="~/Mobile/ico/introducer.png" />معرف<span id="intro-code"></span></a>
                            </li>
                            <li>
                                <a href="/Wallet/Index" title="کیف اعتبار"><img src="~/Mobile/ico/wallet.png" />کیف اعتبار <span id="wallet-ballance"></span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Manage" asp-action="Index" title="تنظیمات"><img src="~/Mobile/ico/setting.png" />تنظیمات</a>
                            </li>
                            <li>
                                <a href="/hampisheh.apk" title="دانلود اپ"><img src="~/Mobile/ico/android-svg.svg" style="width:36px" />دانلود اپ اندرود</a>
                            </li>
                            @*<li>
                                    <a asp-area="" asp-controller="Search" asp-action="Index" title="جست و جو"><i class="fa fa-search fa-2x"></i>جست و جو</a>
                                </li>*@
                            <li>
                                <a title="خروج" data-toggle="modal" data-target="#CustomModal" onclick="customeSetter('exit')"><img src="~/Mobile/ico/logout.png" />خروج</a>
                            </li>
                        </ul>

                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            @if (onlyLogginPage == false)
                            {
                                <li>
                                    <a asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی">صفحه اصلی</a>
                                </li>
                            }
                            <li><a asp-area="" asp-controller="Account" asp-action="Register">ثبت نام</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">ورود</a></li>
                        </ul>
                    }
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.navbar-toggle').on('click', function () {
                //$("#drawer").fadeToggle("slow");
                //$(".anim").fadeToggle("slow");
                $("#demo").trigger("click");
            });
        });
    </script>
    @if (SignInManager.IsSignedIn(User) && controller == "info" && action == "index")
    {
        <script type="text/javascript">
            $.post('/Info/GetCurrentCreditValue', function (data, status) {
                if (data.credit) {
                    if (data.credit != undefined) {
                        $('#creditA').html(arabicNum(data.credit.toLocaleString()) + "ريال");
                        $('#wallet-ballance').html(arabicNum(data.credit.toLocaleString()) + "ريال");
                    }

                }

            });
            function arabicNum(num) {
                return num.split('0').join('۰').split('1').join('۱').split('2').join('۲').split('3').join('۳').split('4').join('۴').split('5').join('۵')
                    .split('6').join('۶').split('7').join('۷').split('8').join('۸').split('9').join('۹');
            }
        </script>
    }
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>
        <script type="text/javascript">
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            }
        </script>*@

    @if (SignInManager.IsSignedIn(User))
    {

        <div class="modal fade Introducer modal-xs" id="IntroducerModal" tabindex="-1" role="dialog" aria-labelledby="IntroducerLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">

                        <div class="p-background-Intro">
                            <div><label>معرف</label></div>
                            <div class="link">
                                <span>لینک معرفی شما:</span>
                                @ViewBag.Link
                            </div>
                            @*<div class="row">
                                    <div class="col-xs-4" id="whatsapp-btn"><img src="~/Mobile/ico/whatsapp.png" style="width:100%" /> </div>
                                    <div class="col-xs-4" id="telegram-btn"><img src="~/Mobile/ico/telegram.png" style="width:100%" /> </div>
                                    <div class="col-xs-4" id="copy-btn"><img src="~/Mobile/ico/copy.png" style="width:100%" /> </div>
                                </div>*@
                            <div class="row">
                                <div class="col-xs-4" id="whatsapp-btn-Affiliate"><img src="~/Mobile/ico/whatsapp.png" style="width:100%" /> </div>
                                <div class="col-xs-4" id="telegram-btn-Affiliate"><img src="~/Mobile/ico/telegram.png" style="width:100%" /> </div>
                                @if (ViewBag.CanAffiliateTextSendBySMS)
                                {
                                    <div class="col-xs-4" id="SMS-btn-Affiliate"><img src="~/Mobile/ico/smsIntro.png" style="width:100%" /> </div>
                                }
                                else
                                {
                                    <div class="col-xs-4" id="copy-btn-Affiliate"><img src="~/Mobile/ico/copy.png" style="width:100%" /> </div>
                                }
                            </div>
                            <div class="row buttons">
                                <div class="col-xs-12"><a class="btn btn-warning form-control" data-dismiss="modal" aria-label="Close" title="بستن">انصراف</a></div>
                                <div class="col-xs-12"><a href="/Manage/Introducer" class="btn btn-warning form-control">مشاهده لیست سطح</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade Introducer modal-xs" id="CustomModal" tabindex="-1" role="dialog" aria-labelledby="CustomModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">

                        <div class="p-background-custom">
                            <div><label id="CustomModalLbl"></label></div>

                            <div class="link">
                                <span id="CustomModalSpan"></span>
                            </div>
                            <div class="row buttons">
                                <div class="col-xs-12"><a class="btn btn-default form-control bor-green" data-dismiss="modal" aria-label="Close" title="بستن">انصراف</a></div>
                                <div class="col-xs-12"><a class="btn btn-warning form-control" id="CustomModalBtn"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var _typeOfCustomDialoug = "";
            function customeSetter(typeOfCustomDialoug) {
                _typeOfCustomDialoug = typeOfCustomDialoug;
                if (typeOfCustomDialoug == "exit") {
                    $("#CustomModalLbl").html("خروج");
                    $("#CustomModalBtn").html("بله");
                    $("#CustomModalSpan").html("از حساب کاربری خود خارج می‌شوید؟");
                }
            }
            $('#CustomModalBtn').on('click',function () {
                if (_typeOfCustomDialoug == "exit")
                    $('#logoutForm').submit();
                //else if (_typeOfCustomDialoug == "exit")
                //    ;
            });
    var text = '@ViewBag.Link';
    //    document.getElementById('copy-btn').addEventListener('click', function (event) {
    //        copy(text);
    //});
    //document.getElementById('whatsapp-btn').addEventListener('click', function (event) {
    //    window.location.href = "https://api.whatsapp.com/send?text=" + text;
    //});
    //document.getElementById('telegram-btn').addEventListener('click', function (event) {
    //    window.location.href = "tg://msg?text=" + text;
            //});
            $('#intro-code').html(text.split('=')[1]);
    var AffiliateLink = `@Html.Raw(ViewBag.AffiliateLink)`;
            var AffiliateLinkSms = `@Html.Raw(ViewBag.AffiliateLinkSms)`;

    document.getElementById('whatsapp-btn-Affiliate').addEventListener('click', function (event) {
        window.location.href = "https://api.whatsapp.com/send?text=" +  encodeURI(AffiliateLink);
    });
    document.getElementById('telegram-btn-Affiliate').addEventListener('click', function (event) {
        window.location.href = "tg://msg?text=" +  encodeURI(AffiliateLink);
    });
    document.getElementById('SMS-btn-Affiliate').addEventListener('click', function (event) {
        $('#modalShower').trigger('click');
        $('#lblWaiting').hide();
    });
        try {
            document.getElementById('copy-btn-Affiliate').addEventListener('click', function (event) {
                copy(AffiliateLink);
            });
        } catch (e) {

        }

    function copy(text) {
        var input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);

    /* Select the text field */
        input.select();
        input.setSelectionRange(0, 99999); /*For mobile devices*/
    /* Copy the text inside the text field */
        document.execCommand('copy');
        document.body.removeChild(input);
    }
        </script>

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" id="modalShower" data-toggle="modal" data-target="#myModal" style="display:none">Open Modal</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">ارسال پیامک</h4>
                    </div>
                    <div class="modal-body">
                        <input type="number" id="MobileNumber" placeholder="لطفا شماره همراه به انگلیسی را وارد نمایید" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <label class="label-danger" id="lblWaiting">لطفا صبر کنید...</label>
                        <button type="button" class="btn btn-default" id="SendSMSBtn">ارسال</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
                    </div>
                </div>

            </div>
        </div>
        @if (ViewBag.CanAffiliateTextSendBySMS)
        {

            <script type="text/javascript">
                document.getElementById('SendSMSBtn').addEventListener('click', function (event) {
                    $('#lblWaiting').show();
                    $('#SendSMSBtn').hide();
                    var location = window.location.href;
                    if ($('#MobileNumber').val()) {
                        $('#loading').show();
                        $.post('/Info/sendAffiliateLinkSMS', { mobile: $('#MobileNumber').val() }, function (data, status) {
                            if (data.res > 0) {
                                alert('پیامک با موفقیت ارسال شد');
                            } else {
                                alert('مشکلی وجود دارد و پیامک ارسال نشد');
                            }
                            $('#myModal').modal('toggle');
                            $('#loading').hide();
                        });
                    } else {
                        alert('شماره موبایل اجباری است');
                    }
                });
            </script>
        }
    }
    <script>
        window.onload = function (event) {
            $('#loading').hide();
        };
        window.onbeforeunload = function (event) {
            $('#loading').show();
            var newLocation = document.activeElement.href;
            if (newLocation == this.undefined) {
                setTimeout(function () { $('#loading').hide(); }, 3000);
            }
            else {
                newLocation = newLocation.toString().toLowerCase();
                if (newLocation.endsWith(".jpg") || newLocation.endsWith(".png")
                    || newLocation.endsWith(".jpeg")
                    || newLocation.endsWith(".pdf")
                    || newLocation.endsWith(".gif")
                    || newLocation.endsWith(".doc")
                    || newLocation.endsWith(".docx")
                    || newLocation.endsWith(".txt")
                    || newLocation.endsWith(".csv")
                    || newLocation.endsWith(".xls")
                    || newLocation.endsWith(".xlsx")
                    || newLocation.endsWith(".ppt")
                    || newLocation.endsWith(".pptx")
                ) {
                    setTimeout(function () { $('#loading').hide(); }, 3000);
                }
            }

            //alert('qwewqewqe');
            //event = event || window.event;
            //if (event) {
            //    // This is for IE
            //    event.returnValue = s;
            //}

            //// This is for all other browsers
            //return s;
        }
        window.unload = function (event) {
            $('#loading').hide();
        }
        $('#reloadData').on('click', function () {
            window.location.href = window.location.href;
        });
        //$("*").click(function() {
        //$.fileDownload($(this).prop('type'), {
        //  failMessageHtml: "There was a problem generating your report, please try again.",
        //  successCallback: function() { window.location.reload(true) }
        //});
        //  return false; //this is critical to stop the click event which will trigger a normal file download!
        //});
    </script>
    @if (onlyLogginPage)
    {
        <script src="/onboard/slick.min.js"></script>
        <script id="rendered-js">
            $('.slider').slick({
                arrows: false,
                dots: true,
                infinite: false,
                speed: 0,
                focusOnSelect: false,
                customPaging: function (slider, i) {
                    return '<a><svg width="100%" height="100%" viewBox="0 0 16 16"><circle cx="8" cy="8" r="4"></circle><ellipse cx="8" cy="8" rx="8" ry="4"></ellipse> </svg></a>';
                }
            }).
                on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                    $('.item').removeClass('from-right from-left ready');
                    c = currentSlide < nextSlide ? 'from-right' : 'from-left';
                    $('.item').eq(nextSlide).addClass(c);
                }).on('afterChange', function (event, slick, currentSlide) {
                    $('.item').eq(currentSlide).addClass('ready');
                });
            var timer = setInterval(function () {
                if ($($('li')[0]).attr('class') == "slick-active")
                    $($('li')[1]).trigger('click');
                else if ($($('li')[1]).attr('class') == "slick-active")
                    $($('li')[2]).trigger('click');
                else if ($($('li')[2]).attr('class') == "slick-active") {
                    $($('.ready')[0]).trigger('click');
                    clearInterval(timer);
                }
            }, 4000);
            $('.ready').on('click', function () { $('.onboard').hide(); $('.login').show(); })
                                    //# sourceURL=pen.js
        </script>
    }
    <style>
        .medium-size {
            font-size: small;
            font-weight: normal;
        }

        @@media (max-width: 768px) {
            #FSQZ7CEMmdrfQ7jRDO17 {
                width: 55px;
            }
        }
    </style>
</body>
</html>
