@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using ShppaingPart.Models
@using Microsoft.Data.SqlClient
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var uid = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var V = "";
    var db22 = new DataAccess();
    string tblUserInfo = string.Empty;
    var _tblUserInfo = ShppaingPart.Controllers.SharedLogic.GetUserInfo("select top 1 [NationalCode],[Name],[LastName] from tblUserInfo WITH(NOLOCK) where UserId='" + ShppaingPart.Controllers.SharedLogic.GetCurrentUserId() + "'");
    if (_tblUserInfo != null && _tblUserInfo.Rows.Count>0)
    {
        var resData = _tblUserInfo.Select().Select(r => new { NationalCode = r["NationalCode"], Name = r["Name"], LastName = r["LastName"] }).ToList()[0];
        if(resData.NationalCode!=null)
            tblUserInfo = resData.NationalCode.ToString().Trim();
    }
    var profilePic = "/new/img/user.png";
    var dt22 = db22.GetData("[sp_getUserInfo] @userid,@onlyUserid", new Microsoft.Data.SqlClient.SqlParameter[] { new Microsoft.Data.SqlClient.SqlParameter("userid", uid), new Microsoft.Data.SqlClient.SqlParameter("onlyUserid", uid), });
    var model22 = new ShppaingPart.Models.ManageViewModels.IndexViewModel() { Username = User.Identity.Name };
    if (dt22 != null && dt22.Rows.Count > 0)
    {
        try { model22.PhoneNumber = "0" + dt22.Rows[0]["Mobile"].ToString(); } catch { }
        try { model22.Name = dt22.Rows[0]["Name"].ToString(); } catch { }
        try { model22.LastName = dt22.Rows[0]["LastName"].ToString(); } catch { }
        try { model22.IsMan = (bool)dt22.Rows[0]["IsMan"]; } catch { }
        try { model22.NationalCode = dt22.Rows[0]["NationalCode"].ToString(); } catch { }
        try
        {
            if (dt22 != null && dt22.Rows.Count > 0 && dt22.Rows[0].IsNull("ProfilePic") == false)
            {
                profilePic = "/Info/DownloadFiles?fileName=Profile/" + dt22.Rows[0]["ProfilePic"].ToString();
            }
        }
        catch { }
        try
        {
            model22.BirthDateM = (DateTime)dt22.Rows[0]["BirthDate"];
            model22.BirthDate = ShppaingPart.Controllers.SharedLogic.ToShamsi(model22.BirthDateM);
        }
        catch (Exception err) { }
    }

    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var onlyLogginPage = true;
    var onlyLogin = HttpContextAccessor.HttpContext.Session.GetString("OnlyLoggin");
    if (string.IsNullOrEmpty(onlyLogin) == false)
        onlyLogginPage = onlyLogin == "OnlyLoggin";
    else
        onlyLogginPage = false;
    if (onlyLogginPage && User.Identity.IsAuthenticated)
        onlyLogginPage = false;
    var db = new ShppaingPart.Models.DataAccess();

    var token = "";
    var userid = "";
    if (User.Identity.IsAuthenticated)
    {
        userid = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
        try { token = HttpContextAccessor.HttpContext.Session.GetString(userid + "-tokenFCM"); } catch { }
    }
    if (User.Identity.IsAuthenticated)
    {
        var thisuser = UserManager.FindByNameAsync(User.Identity.Name);
        ViewBag.thisuser = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

        ViewBag.Link = GetUri(false, false).ToString().Replace(":80", "") + "Account/Register?Introducer=" + thisuser.Result.SimpleId; ;
        var dt3 = db.ProccessSelectQuery("sp_getAffiliateLink", new SqlParameter[] {
                new SqlParameter("userid",ShppaingPart.Controllers.SharedLogic.GetCurrentUserId()),
                new SqlParameter("AffiliateLink", GetUri(false,false).ToString().Replace(":80","") + "Account/Register?Introducer=" + thisuser.Result.SimpleId),
                new SqlParameter("simpleId", thisuser.Result.SimpleId)
    }, System.Data.CommandType.StoredProcedure);
        if (dt3.Rows[0].IsNull(0) == false)
        {
            ViewBag.AffiliateLinkSms = dt3.Rows[0]["AffiliateTextSms"].ToString();
            ViewBag.AffiliateLink = dt3.Rows[0]["AffiliateText"].ToString();
            ViewBag.CanAffiliateTextSendBySMS = (bool)dt3.Rows[0]["CanAffiliateTextSendBySMS"];
        }
    }
    else
    {
        ViewBag.Link = "";
        ViewBag.AffiliateLink = "";
        ViewBag.CanAffiliateTextSendBySMS = false;
    }
    if (ViewBag.CanAffiliateTextSendBySMS == null)
    { ViewBag.CanAffiliateTextSendBySMS = false; }
    Uri GetUri(bool addPath = true, bool addQuery = true)
    {
        var uriBuilder = new UriBuilder
                {
                    Scheme = HttpContextAccessor.HttpContext.Request.Scheme,
                    Host = HttpContextAccessor.HttpContext.Request.Host.Host,
                    Port = HttpContextAccessor.HttpContext.Request.Host.Port.GetValueOrDefault(80),
                    Path = addPath ? HttpContextAccessor.HttpContext.Request.Path.ToString() : default(string),
                    Query = addQuery ? HttpContextAccessor.HttpContext.Request.QueryString.ToString() : default(string)
                };
        return uriBuilder.Uri;
    }
}

<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*    <meta name="enamad" content="667709" />*@
    <meta name="samandehi" content="946604935" />
    <meta name="enamad" content="235142" />

    @{
        var SiteTitle = "";
        var description = "";
        var Keywords = "";
        var StieData = ShppaingPart.Controllers.SharedLogic.GetSiteData();
        if (StieData == null)
        {
            SiteTitle = ViewData["Title"] + " - همپیشه";
            description = "ازمن 24، خرید انواع سرویس های آنلاین، شارژ، بسته، بیمه، پین و... sale online shop Charge net package mci mtn rtn irancell hamrah aval rightel voucher ticket";
            Keywords = "sale,mci,mtn,rtl,net,package,charge,insurance,ticket,hottel,metro,airplan,bus,voucher,pin,شارژ,بسته,همراه اول,ایرانسل,رایتل,پین,بیمه,بلیط,هواپیما,قطار,اتوبوس,هتل";
        }
        else
        {
            SiteTitle = StieData.SiteTitle ?? ViewData["Title"] + " - ازمن 24";
            description = StieData.description ?? "ازمن 24، خرید انواع سرویس های آنلاین، شارژ، بسته، بیمه، پین و... sale online shop Charge net package mci mtn rtn irancell hamrah aval rightel voucher ticket";
            Keywords = StieData.Keywords ?? "sale,mci,mtn,rtl,net,package,charge,insurance,ticket,hottel,metro,airplan,bus,voucher,pin,شارژ,بسته,همراه اول,ایرانسل,رایتل,پین,بیمه,بلیط,هواپیما,قطار,اتوبوس,هتل";
        }
        <title>@(SiteTitle.Replace("[PageTitle]", ViewData["Title"]?.ToString()))</title>
        <meta name="description" content="@description" />
        <meta name="Keywords" content="@Keywords" />
    }

    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

    <meta property="og:locale" content="fa" />
    <meta property="og:type" content="website" />
    <environment include="Development">
        @if (action != "service")
        {
        }
        @*<link rel="stylesheet" href="~/css/site.css?v=7" />
        <link rel="stylesheet" id="theme" href="~/Content/Site.css?v=4" />*@
    </environment>
    <environment exclude="Development">
        @if (action != "service" && controller != "info")
        {
        }
    </environment>
    @if (!(action == "index" && controller == "info"))
    {
        <link href="/css/notmainpage.css" rel="stylesheet" />
    }


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="apple-touch-icon" href="/logo192.png">
    <link rel="stylesheet" href="/new/css/style.css??" asp-append-version="true" />
    <link rel="stylesheet" href="/new/css/simple-line-icons.css" />
    <link rel="stylesheet" href="/new/css/owl.carousel.min.css">

    <script src="/js/xdjxvujz.js?"></script>

    @RenderSection("header", required: false)
    <style>
        .swal2-content {
            direction: rtl;
        }

        .centered {
            position: fixed;
            top: 50%;
            left: 55%;
            margin-top: -50px;
            margin-left: -100px;
            z-index: 50000;
            display: none;
        }

        .medium-size {
            font-size: small;
            font-weight: normal;
        }

        @@media (max-width: 768px) {
            #FSQZ7CEMmdrfQ7jRDO17 {
                width: 55px;
            }
        }

        .alertify-logs.left, .alertify-logs:not(.right) {
            left: 16px;
            bottom: 70px;
            z-index: 100000;
        }
    </style>
</head>
<body>

    <div id="divProcessing" class="centered">
        <p><img src="~/Content/Gif/4.gif" width="150" height="150"></p>
    </div>
    @*<div class="lands">
    <div>
    <img src="/new/img/rotate.png" class="mb-3" width="150px" />
    </div>
    لطفا گوشی خود را به حالت عمودی درآورید.
    </div>*@
    <div id="loading" class="loader">
        <p class="loading"></p>
    </div>
    @if ((onlyLogginPage == false && controller == "info" && action == "index") || ((controller == "account" && (action == "register" || action == "loginpage") && (HttpContextAccessor.HttpContext.Request.Query["SkipOnboard"] == "false" || HttpContextAccessor.HttpContext.Request.Query["SkipOnboard"].Count == 0)) == false && onlyLogginPage == false))
    {

        <div class="top">
            <div class="topover">
                <div class="topc">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-3 text-left pt-4">
                            <img src="~/new/img/logo.png" alt="Hampisheh" width="35px" />
                        </div>
                        <div class="col-9">
                            <div class="hamlogo d-inline position-relative" style="top: -6px;">
                                همپیشه
                            </div>
                            <button type="button" class="mmenu" data-toggle="modal" data-target="#menumodal">
                                <i class="icon icon-grid"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="avatar" dir="rtl" style="visibility:hidden;">
            <div class="container">
                <div class="row">

                    <div class="col-md-2 col-4 text-center">
                        <div class="uinfo avt  set-bg" data-setbg="@profilePic">
                        </div>
                    </div>


                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="col-md-4 col-sm-8 col-8">
                            <div class="uinfo">
                                <div class="uitext">
                                    <span class="pro-desk">نام و نام خانوادگی : <span>@model22.Name @model22.LastName</span></span>
                                    <span class="pro-mob">نام : <span>@model22.Name @model22.LastName</span></span>
                                    <hr />
                                    شماره موبایل : <span>@model22.PhoneNumber</span>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-md-2 col-4 text-center">
                            <a href="/Account/LoginPage?SkipOnboard=true" title="ورود">
                                <div class="uinfo uinm">

                                    <img src="~/new/img/login.png" />
                                    <div>ورود</div>

                                </div>
                            </a>
                        </div>

                        <div class="col-md-2 col-4 text-center">
                            <a href="/Account/Register?SkipOnboard=true" title="عضویت">
                                <div class="uinfo uinm">

                                    <img src="~/new/img/face-scan.png" />
                                    <div>عضویت</div>

                                </div>
                            </a>
                        </div>
                    }



                    <div class="d-none d-md-block col-md-2 text-center">
                        <a href="/Wallet/Increase" title="افزایش">
                            <div class="uinfo pt-2">

                                <img src="~/new/img/increase.png" />
                                <div class="">افزایش</div>

                            </div>
                        </a>
                    </div>
                    <div class="d-none d-md-block col-md-2 text-center">
                        <a href="/Wallet/Transfer" title="انتقال">
                            <div class="uinfo pt-2">

                                <img src="~/new/img/transfer.png" />
                                <div>انتقال</div>

                            </div>
                        </a>
                    </div>
                    <div class="d-none d-md-block col-md-2 text-center">
                        <a href="/Wallet/Request" title="برداشت">
                            <div class="uinfo pt-2">

                                <img src="~/new/img/decrease.png" />
                                <div>برداشت</div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bbar">
            <div class="row-fluid">


                <div class="smenu text-center">
                    <a asp-area="" asp-controller="Info" asp-action="Index">
                        <img src="/new/img/nicon/home.png" alt="" width="35px" /><br />
                        خانه
                    </a>
                </div>
                <div class="smenu text-center">
                    <a href="#" data-target="#shortcut" data-toggle="modal">
                        <img src="/new/img/nicon/access.png" alt="" width="32px" /><br />
                        میانبر
                    </a>
                </div>


                <a href="/Wallet/Index">
                    <div class="wallet-btn-border"></div>
                    <div class="wallet-btn">
                        <img src="../new/img/wallet2.png" width="40px" style="margin-top: -10px;" asp-append-version="true" />
                    </div>
                </a>

                <div class="smenu text-center">
                    &nbsp;
                </div>

                <div class="smenu text-center ">
                    <a href="#">
                        <img src="/new/img/nicon/gift-box.png" alt="" width="31px" /><br />
                        جشنواره
                    </a>
                </div>
                <div class="smenu text-center">
                    <a asp-area="" asp-controller="Manage" asp-action="Index">
                        <img src="/new/img/nicon/prof.png" alt="" width="30px" /><br />
                        پروفایل
                    </a>
                </div>
            </div>
        </div>
        <div id="shortcut" class="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog w-100 mw-100 modal-custom modal-bottom">
                <div class="modal-content w-100 h-100 border-0 rounded-30">
                    <div class="modal-header text-left bg-gg rounded-30">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin: -15px;">×</button>
                        <h4>دسترسی سریع</h4>
                    </div>
                    <div class="modal-body">
                        <div class="mli">
                            <a href="~/Info/CommingSoon">
                                <img src="~/new/img/credit-card.png" class="ssmg" />
                                <div class="mb-3">کارت به کارت</div>
                                <div class="ls-border"></div>
                                <div class="bl-border"></div>
                            </a>
                        </div>
                        <div class="mli">
                            <a href="~/Info/CommingSoon">
                                <img src="~/new/img/plane.png" style="height: 46px !important; width: 76px !important;" class="ssmg3" />
                                <div class="mb-3">بلیط هواپیما </div>
                                <div class="br-border"></div>
                            </a>
                        </div>

                        <div class="mli">
                            <a href="~/Info/CommingSoon">
                                <img src="~/new/img/policeman.png" class="ssmg mt-3" />
                                خلافی خودرو
                                <div class="lbs-border"></div>
                            </a>
                        </div>
                        <div class="mli">

                            <a href="#" data-target="#lifemenu" data-toggle="modal">
                                <img src="~/new/img/life-insurance.png" class="ssmg mt-3" />
                                بیمه زندگی

                            </a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade wallet" id="wallet" tabindex="-1" role="dialog" aria-labelledby="wallet" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-radius">
                    <button type="button" class="close wallc" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body wallet-bg">





                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="~/new/img/payy.png" class="mb-1 mt-2 payy" width="50%" />
                            </div>

                            @if (User.Identity.IsAuthenticated)
                            {

                                <div class="col-12 text-center">
                                    @*<a asp-area="" asp-controller="Manage" asp-action="Index" class="navbar-brand username"><div>@User.Identity.Name <i class="fa fa-user"></i></div></a>*@
                                    <a href="~/Wallet/Index" class="navbar-brand credit" id="creditA"></a> : موجودی
                                </div>
                                <div class="col-12 text-center">
                                    <hr />
                                </div>

                            }
                            else
                            {

                            }

                            <div class="col text-center">
                                <a href="~/Wallet/Increase" title="افزایش">
                                    <div class="simple">
                                        <div class="panel-group simple">
                                            <img src="~/Mobile/ico/increase.png" />
                                        </div>
                                        <div class="green">افزایش</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a href="/Wallet/Transfer" title="انتقال">
                                    <div class="simple">
                                        <div class=" panel-group simple">
                                            <img src="~/Mobile/ico/transfer.png" />
                                        </div>
                                        <div class="green">انتقال</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a href="/Wallet/Request" title="برداشت">
                                    <div class="simple">
                                        <div class="panel-group simple">
                                            <img src="~/Mobile/ico/decrease.png" />
                                        </div>
                                        <div class="green">برداشت</div>
                                    </div>
                                </a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container hhnav">
                <div class="navbar-header navbar-right">

                    @*@Html.ActionLink("شارژ، بسته و بیمه", "Index", "Info", new { area = "" }, new { @class = "navbar-brand" })*@
                    <a @(onlyLogginPage ? "href=/Account/Login" : "href=/Info/Index") class="navbar-brand hidden-md hidden-sm hidden-xs"><img class="img-circle" width="48" height="48" src="~/ic_launcher.png" alt="ازمن 24" /></a>
                    @*<a id="reloadData" class="navbar-brand medium-size">بازیابی مجدد</a>*@
                    <a asp-area="" asp-controller="Info" asp-action="Index" class="navbar-brand siteName">@ViewData["Title"]</a>

                    @*<a asp-area="" asp-controller="Manage" asp-action="Index" class="navbar-brand username"><div>@User.Identity.Name <i class="fa fa-user"></i></div></a>*@



                </div>
                <div class="navbar-collapse collapse navbar-left">
                    @*<ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>*@

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="nav navbar-nav">
                            <li>
                                <a asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی">صفحه اصلی</a>
                            </li>
                            @if (User.IsInRole("B2B"))
                            {
                                <li>
                                    <a href="/Wallet/Increase" title="افزایش اعتبار">افزایش اعتبار</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="تنظیمات">تنظیمات</a>
                                </li>
                            }
                            else
                            {
                                <li class="AccssesUserAdiy">
                                    <a href="/Transactions/Index" title="لیست تراکنشها">لیست تراکنشها</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Info" asp-action="Messages" title="صندوق پیام و پاسخ">صندوق پیام و پاسخ</a>
                                </li>
                                <li class="AccssesUserAdiy">
                                    <a href="/Wallet/Index" title="کیف اعتبار">کیف اعتبار</a>
                                </li>
                                <li class="AccssesUserAdiy">
                                    <a title="معرف" data-toggle="modal" data-target="#IntroducerModal">معرف</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="تنظیمات">تنظیمات</a>
                                </li>
                                <li class="AccssesUserAdiy">
                                    <a asp-area="" asp-controller="Unregister" asp-action="Index" title="باشگاه مشتریان">باشگاه مشتریان</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Search" asp-action="Index" title="جست و جو"><i class="glyphicon glyphicon-search"></i></a>
                                </li>
                            }
                            @*<li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="مقدار اعتبار" id="creditA">&nbsp;</a>
                    </li>*@
                            <li>
                                @*<a asp-area="" asp-controller="Info" asp-action="Logout" title="خروج2" >خروج2</a>*@
                                <form action="/Account/Logout" method="post" id="logoutForm">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-link navbar-btn navbar-link">خروج</button>
                                    <input type="hidden" value="@token" name="FCMToken" />
                                </form>
                            </li>
                        </ul>

                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            @if (onlyLogginPage == false)
                            {
                                <li>
                                    <a asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی">صفحه اصلی</a>
                                </li>
                            }
                            <li><a asp-area="" asp-controller="Account" asp-action="Register">ثبت نام</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">ورود</a></li>
                        </ul>
                    }


                    @*@await Html.PartialAsync("_LoginPartialMobile")*@

                </div>
            </div>
        </nav>
    }
    @if (action == "index2" && controller == "info")
    {
        @RenderBody()
    }
    @if (controller == "account" && action == "otp_confirm" || (controller == "account" && action == "otp"))
    {
        <div class="top">
            <div class="topover">
                <div class="topc">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-9 text-right pt-4">
                            <img src="~/new/img/logo.png" alt="Hampisheh" width="35px" />
                            <span class="hamlogo">همپیشه</span>
                        </div>
                        <div class="col-3">
                            <button type="button" class="mmenu" data-toggle="modal" data-target="#menumodal">
                                <i class="icon icon-grid"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    }
    else
    {
        <div class="container">
            @RenderBody()
        </div>
    }

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="~/new/js/owl.carousel.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-Q4GEli30r5Awgb/ITt925nE8buHKjVWM/x3DX8t5JwRLT9P/C2r7u7XzNwvpTTGw">
        </script>
        <script src="~/new/js/owl.carousel.min.js"></script>

        <script src="~/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>


    </environment>

    @if (controller == "info" && action == "index")
    {
        <div style="position:fixed;bottom:0;left:0;">
            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=317429&amp;Code=ExSc0OEBIhprduezHVv5"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=317429&amp;Code=ExSc0OEBIhprduezHVv5" alt="" style="cursor:pointer" id="ExSc0OEBIhprduezHVv5"></a>
        </div>
    }
    @RenderSection("Scripts", required: false)

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" id="demo" data-target="#exampleModal" style="display:none">
        Launch demo modal
    </button>

    <!-- Modal -->

    <div class="modal fade menumodal" id="menumodal" tabindex="-1" role="dialog" aria-labelledby="menumodal" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    @if (SignInManager.IsSignedIn(this.User))
                    {
                        <ul class="nav navbar-nav" style="padding: 0px;">
                            <li>
                                <a data-dismiss="modal" aria-label="Close" title="بستن"><div class="n-btn c-btn c-red"><i class="icon icon-close"></i></div>بستن منو</a>
                            </li>
                            <li>
                                <a class="c-success" asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی"><div class="n-btn c-btn c-green"><i class="icon icon-home"></i></div> صفحه اصلی<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a href="/Transactions/Index" title="لیست تراکنشها"><div class="n-btn c-btn c-blue"><i class="icon icon-refresh"></i></div>لیست تراکنشها<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a href="/Sale/Index?WorkFlowId=2003" title="خرید اشتراک"><div class="n-btn c-btn c-blue"><i class="icon icon-diamond"></i></div>خرید اشتراک MLM<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Info" asp-action="Messages" title="صندوق پیام و پاسخ"><div class="n-btn c-btn c-violet"><i class="icon icon-bubbles"></i></div>صندوق پیام و پاسخ<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Unregister" asp-action="Index" title="باشگاه مشتریان"><div class="n-btn c-btn c-yellow"><i class="icon icon-people"></i></div>باشگاه مشتریان<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a href="#" data-dismiss="modal" title="معرف" data-toggle="modal" data-target="#IntroducerModal"><div class="n-btn c-btn c-blue"><i class="icon icon-user-following"></i></div>معرف<span id="intro-code"></span></a>
                            </li>
                            <li>
                                <a href="/Wallet/Index" title="کیف اعتبار"><div class="n-btn c-btn c-green"><i class="icon icon-wallet"></i></div>کیف اعتبار <span id="wallet-ballance"></span></a>
                            </li>
                            <li>
                                <a href="/Info/Academy" title="آکادمی همپیشه"><div class="n-btn c-btn c-violet"><i class="icon icon-graduation"></i></div>آکادمی همپیشه<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a href="/Surveys/Index" title="کمپین نظر سنجی"><div class="n-btn c-btn c-blue"><i class="icon icon-emotsmile"></i></div>کمپین نظر سنجی<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a href="/Info/BIReport" title="BI گزارشات"><div class="n-btn c-btn c-green"><i class="icon icon-chart"></i></div>BI گزارشات<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a href="#" title="جشنواره"><div class="n-btn c-btn c-violet"><i class="icon icon-star"></i></div>جشنواره<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Manage" asp-action="Index" title="تنظیمات"><div class="n-btn c-btn c-yellow"><i class="icon icon-settings"></i></div>تنظیمات<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            <li>
                                <a href="/hampisheh.apk?v=9" title="دانلود اپ"><div class="n-btn c-btn c-violet"><i class="icon icon-cloud-download"></i></div>دانلود اپ اندروید<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="Index" title="صفحات مدیریتی"><div class="n-btn c-btn c-yellow"><i class="icon icon-settings"></i></div>صفحات مدیریتی</a>
                                </li>
                            }
                            <li>
                                <a title="خروج" data-toggle="modal" data-target="#CustomModal" onclick="customeSetter('exit')"><div class="n-btn c-btn c-red"><i class="icon icon-logout"></i></div>خروج<span class="aricon icon icon-arrow-left"></span></a>
                            </li>
                        </ul>

                    }
                    else
                    {
                        <ul class="nav navbar-nav" style="padding: 0px;">
                            <li>
                                <a data-dismiss="modal" aria-label="Close" title="بستن"><div class="n-btn c-btn c-red"><i class="icon icon-close"></i></div>بستن منو</a>
                            </li>
                            @if (onlyLogginPage == false)
                            {
                                <li>
                                    <a asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی"><div class="n-btn c-btn c-green"><i class="icon icon-home"></i></div>صفحه اصلی<span class="aricon icon icon-arrow-left"></span></a>
                                </li>
                            }
                            <li><a asp-area="" asp-controller="Account" asp-action="Register"><div class="n-btn c-btn c-violet"><i class="icon icon-key"></i></div>ثبت نام<span class="aricon icon icon-arrow-left"></span></a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Login"><div class="n-btn c-btn c-blue"><i class="icon icon-user"></i></div>ورود<span class="aricon icon icon-arrow-left"></span></a></li>
                        </ul>
                    }
                </div>

            </div>
        </div>
    </div>

    <div style="display:none;" class="p-background-custom"></div>
    <button type="button" style="display:none;" class="btn btn-primary" data-toggle="modal" id="modal-dynamic" data-target="#exampleModalCenter">
        Launch demo modal
    </button>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="modal fade" id="IntroducerModal" tabindex="-1" role="dialog" aria-labelledby="IntroducerModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-radius mt-4 mmod">
                    <div class="modal-body text-center">
                        <img src="../new/img/fr.png" class="mb-3" width="100%" />
                        <div class="link">
                            <div class="text-center pb-2">لینک معرفی شما</div>
                            @ViewBag.Link
                            <hr />
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col" id="whatsapp-btn-Affiliate"><img src="~/Mobile/ico/whatsapp.png" style="width:100%;display: none;" /> </div>
                                <div class="col" id="telegram-btn-Affiliate"><img src="~/Mobile/ico/telegram.png" style="width:100%;display: none;" /> </div>
                                @if (ViewBag.CanAffiliateTextSendBySMS)
                                {
                                    <div class="col" id="SMS-btn-Affiliate"><img src="~/Mobile/ico/smsIntro.png" style="width:100%" /> </div>
                                }
                                else
                                {
                                    <div class="col" id="copy-btn-Affiliate"><img src="~/Mobile/ico/copy.png" style="width:100%" /> </div>
                                }
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="container">
                        <div class="row pb-4 mb-1 pl-3 pr-3">
                            <div class="col-4">
                                <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal">انصراف</button>
                            </div>
                            <div class="col-8">
                                <a href="/Manage/Introducer" class="btn btn-primary btn-block">مشاهده لیست سطح</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="modal fade" id="CustomModal" tabindex="-1" role="dialog" aria-labelledby="CustomModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-radius logoutm">
                    <div class="modal-body text-center mt-4">
                        <img src="~/new/img/logout.png" class="mb-4" width="70px" />
                        <div class="text-center">
                            <span id="CustomModalSpan"></span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row pb-4 mb-1 pl-3 pr-3">
                            <div class="col-12">
                                <hr />
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal">انصراف</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-danger btn-block" id="CustomModalBtn"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" id="modalShower" data-toggle="modal" data-target="#myModal" style="display:none">Open Modal</button>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">ارسال پیامک</h4>
                    </div>
                    <div class="modal-body">
                        <input type="number" id="MobileNumber" placeholder="لطفا شماره همراه  را وارد نمایید" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <label class="label-danger" id="lblWaiting">لطفا صبر کنید...</label>
                        <button type="button" class="btn btn-default" id="SendSMSBtn">ارسال</button>
                        <button type="button" class="btn btn-default" id="SendSMSBtnCancel" data-dismiss="modal">بازگشت</button>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript">

            var text = '@ViewBag.Link';
            var AffiliateLink = '';
            var AffiliateLinkSms = '';
            if (location.pathname === "/")
                window.location.href = '/Info';
        </script>
    }
    @if (controller == "info" && action == "index")
    {
        <script type="text/javascript">
            setInterval(function () {
                $("[name=enamadtagimage]").attr("src", "https://trustseal.enamad.ir/?id=141057&amp;Code=FSQZ7CEMmdrfQ7jRDO17");
            }, 3000);
            CanAffiliateTextSendBySMS = '@ViewBag.CanAffiliateTextSendBySMS'
            //setlstor("CurrentUrlPhone", '@ViewBag.thisuser');
            localStorage.setItem("CurrentUrlPhone", '@ViewBag.thisuser');

        </script>

    }

    <script>

        if ('@tblUserInfo' === '') {
            $('.AccssesUserAdiy').hide();

        }
        else {
            $('.AccssesUserAdiy').show();
        }
        versinApp = '@V';
        AffiliateLink = `@Html.Raw(ViewBag.AffiliateLink)`;
        AffiliateLinkSms = `@Html.Raw(ViewBag.AffiliateLinkSms)`;
    </script>
    <script src="~/lib/Sweet/sweetalert2.all.min.js" asp-append-version="false"></script>
    <script src="~/lib/Sweet/sweet-alerts.js" asp-append-version="false"></script>
    <script src="~/Content/js/Utils.js" asp-append-version="true"></script>
    <script src="~/Content/js/script.js" asp-append-version="true"></script>
    <script src="~/Content/alertify.js" asp-append-version="false"></script>
    <div class="space"></div>

    <script src="~/Content/js/Info/index.js" asp-append-version="true"></script>

    <!-- Modal -->
    <div class="modal fade" dir="rtl" id="exampleModalCenter" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">نوع شارژ ایرانسل</h5>
                    <div id="buttom-close">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body" id="bodyModal">
                    @*fillBy ajax*@
                </div>
                <div class="modal-footer" id="footer-modal" dir="ltr" style="display:none;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>