@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	@using Microsoft.AspNetCore.Http
	@using Microsoft.AspNetCore.Identity
	@using ShppaingPart.Models
	@using Microsoft.Data.SqlClient
	@inject IHttpContextAccessor HttpContextAccessor

	@using System.Security.Claims
	@inject UserManager<ApplicationUser> UserManager
	var thisuser = await UserManager.FindByNameAsync(User.Identity.Name);
	Layout = null;
	var db = new ShppaingPart.Models.DataAccess();

	var tpeOfUser = db.ProccessSelectQuery("sp_getTpeOfUser", new SqlParameter[] {
				new SqlParameter("@UserId",thisuser.Id),
		}, System.Data.CommandType.StoredProcedure);
	var tpeOfUserList = tpeOfUser.Select().Select(r => new { IsCompleteProfile = r["IsCompleteProfile"], hasSubscribe = r["hasSubscribe"] }).ToList();
	var TypeOfUserTitle = "کاربر مهمان";
	var redirectTypeOfUserUrl = "/Account/ProfileInfo";
	if (tpeOfUserList.Count > 0)
	{
		if (((bool)tpeOfUserList.First().IsCompleteProfile) && ((bool)tpeOfUserList.First().hasSubscribe) == false)
		{
			redirectTypeOfUserUrl = "/Sale/Index?WorkFlowId=2003";
			TypeOfUserTitle = "کاربر عادی";
		}
		if (((bool)tpeOfUserList.First().IsCompleteProfile) && ((bool)tpeOfUserList.First().hasSubscribe))
		{
			redirectTypeOfUserUrl = "";
			TypeOfUserTitle = "کاربر VIP";
		}
	}
	var dt3 = db.ProccessSelectQuery("sp_getAffiliateLink", new SqlParameter[] {
				new SqlParameter("userid",ShppaingPart.Controllers.SharedLogic.GetCurrentUserId()),
				new SqlParameter("AffiliateLink", GetUri(false,false).ToString().Replace(":80","") + "Account/Register?Introducer=" + thisuser.SimpleId),
				new SqlParameter("simpleId", thisuser.SimpleId)
	}, System.Data.CommandType.StoredProcedure);
	if (dt3.Rows[0].IsNull(0) == false)
	{
		ViewBag.AffiliateLinkSms = dt3.Rows[0]["AffiliateTextSms"].ToString();
		ViewBag.AffiliateLink = dt3.Rows[0]["AffiliateText"].ToString();
		ViewBag.CanAffiliateTextSendBySMS = (bool)dt3.Rows[0]["CanAffiliateTextSendBySMS"];
	}
	Uri GetUri(bool addPath = true, bool addQuery = true)
	{
		var uriBuilder = new UriBuilder
				{
					Scheme = HttpContextAccessor.HttpContext.Request.Scheme,
					Host = HttpContextAccessor.HttpContext.Request.Host.Host,
					Port = HttpContextAccessor.HttpContext.Request.Host.Port.GetValueOrDefault(80),
					Path = addPath ? HttpContextAccessor.HttpContext.Request.Path.ToString() : default(string),
					Query = addQuery ? HttpContextAccessor.HttpContext.Request.QueryString.ToString() : default(string)
				};
		return uriBuilder.Uri;

	}
}
<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>آسان پرداخت</title>
	<link rel="stylesheet" href="/netcharge/css/bootstrap-icons.css" />
	<link rel="stylesheet" href="/netcharge/css/swiper-bundle.min.css" />
	<link rel="stylesheet" href="/netcharge/css/bootstrap.rtl.min.css" />
	<link rel="stylesheet" href="/netcharge/css/toastr.min.css" />
	<link rel="stylesheet" href="/netcharge/css/nice-select.css" />
	<link rel="stylesheet" href="/netcharge/css/fonts.css" />
	<link rel="stylesheet" href="/netcharge/css/css.css" asp-append-version="true" />
	<link rel="stylesheet" href="/netcharge/css/swiper-bundle.min.css" />
	<link rel="stylesheet" href="/netcharge/css/switcher.css" />
	<link rel="stylesheet" href="/netcharge/css/app.css" />
	<link rel="stylesheet" id="code-theme" />
</head>

<body>

	<header>
		<div class="header-brand">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="header-logo">
			<a href="/" class="header-logo-link"></a>
		</div>

		<div>
			<a href="/" class="header__btn__move_page btn__move_page btn_back"></a>
		</div>
		<div class="header__help">
			<span class="header__help__icon icon-info"></span>
		</div>
	</header>


	<div class="overlay"></div>
	<div class="sidebar-menu">
		<div class="sidebar-menu-permissons">
			@if (string.IsNullOrEmpty(redirectTypeOfUserUrl))
			{
				<span class="sidebar-menu-permissons-title">@TypeOfUserTitle</span>
			}
			else
			{
				<span class="sidebar-menu-permissons-title">@TypeOfUserTitle</span>
				<a href="@redirectTypeOfUserUrl" class="sidebar-menu-permissons-link">ارتقا</a>
			}
		</div>
		<div class="user-mobile-number">
			<span>نام کاربری</span>
			<p>@User.Identity.Name</p>
		</div>
		<div class="menu">
			<ul>
				<li class="sidebar-menu-item">
					<a href="/">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">صفحه اصلی</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a href="/Transactions/Index">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">لیست تراکنشها</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a href="/Sale/Index?WorkFlowId=2003">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">خرید اشتراک</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a asp-area="" asp-controller="Info" asp-action="Messages">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">صندوق پیام و پاسخ</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a asp-area="" asp-controller="Unregister" asp-action="Index">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">باشگاه مشتریان</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#IntroducerModal">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">معرف</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a href="/Wallet/Index">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">کیف اعتبار</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a href="/Info/Academy">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">آکادمی همپیشه</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a href="/Surveys/Index">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">کمپین نظر سنجی</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a href="/Info/BIReport">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">BI گزارشات</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a href="#">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">جشنواره</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a asp-area="" asp-controller="Manage" asp-action="Index">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">تنظیمات</span>
					</a>
				</li>
				<li class="sidebar-menu-item">
					<a asp-area="" asp-controller="Manage" asp-action="Index">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">دانلود اپ</span>
					</a>
				</li>
				@if (User.IsInRole("Admin"))
				{
					<li class="sidebar-menu-item">
						<a asp-area="" asp-controller="Admin" asp-action="Index">
							<span class="icon-list icon"></span>
							<span class="sidebar-item-title">صفحات مدیریتی</span>
						</a>
					</li>
				}
				<li class="sidebar-menu-item">
					<a title="خروج" data-bs-dismiss="modal" onclick="customeSetter('exit')" data-bs-toggle="modal" data-bs-target="#CustomModal">
						<span class="icon-list icon"></span>
						<span class="sidebar-item-title">خروج</span>
					</a>
				</li>
				<li class="mt-3">
					<input type="checkbox" id="dark-mode" class="form-check-input" value="dark" onchange="darkMode(this.checked)">
				</li>
			</ul>
		</div>
	</div>

	@RenderBody()


	<div class="loading">
		<div id="loading">
			<div class="spinner-border text-light" role="status">
				<span class="visually-hidden">لطفا منتظر بمانید...</span>
			</div>
		</div>
	</div>

	<div id="overlayer"></div>
	<span class="loader"><span class="loader-inner"></span></span>

	<script src="/netcharge/js/jquery-3.4.1.min.js"></script>
	<script src="/netcharge/js/jquery.validate.min.js"></script>
	<script src="/netcharge/js/alpine.min.js"></script>
	<script src="/netcharge/js/list.min.js"></script>
	<script src="/netcharge/js/bootstrap.bundle.min.js"></script>
	<script src="/netcharge/js/toastr.min.js"></script>
	<script src="/netcharge/js/swiper-bundle.min.js"></script>
	<script src="/netcharge/js/jquery.nice-select.min.js"></script>
	<script src="/netcharge/js/wordifyfa.min.js"></script>
	<script src="/netcharge/js/js.js" asp-append-version="true"></script>
	<script src="/netcharge/js/jquery.switcher.min.js"></script>
	<script src="/netcharge/js/swiper-bundle.min.js"></script>
	<script src="~/Content/js/script.js" asp-append-version="true"></script>
	@RenderSection("Scripts",false)
	<script>
		let listMobileNumber = [
			['0911', '0912', '0913', '0914', '0915', '0916', '0917', '0918', '0919', '0990', '0991', '0992', '0993', '0994', '0910'], // پیش شماره های همراه اول
			['0930', '0933', '0935', '0936', '0937', '0938', '0939', '0901', '0902', '0903', '0904', '0905', '0941'], // ایرانسل
			['0932'], // تالیا
			['0920', '0921', '0922', '0923'], // رایتل
			['0998'] // شاتل
		];
		window.listMobileNumber = listMobileNumber;


		$('select.wide').niceSelect();

	</script>
	<script>
		$.switcher('#dark-mode');
	</script>

	<div class="modal fade" id="CustomModal" tabindex="-1" role="dialog" aria-labelledby="CustomModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-radius logoutm">
				<div class="modal-body text-center mt-4">
					<img src="~/new/img/logout.png" class="mb-4" width="70px" />
					<div class="text-center">
						<span id="CustomModalSpan"></span>
					</div>
				</div>
				<div class="container">
					<div class="row pb-4 mb-1 pl-3 pr-3">
						<div class="col-12">
							<hr />
						</div>
						<div class="col">
							<button type="button" class="btn btn-outline-secondary btn-block" data-bs-dismiss="modal" >انصراف</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-danger btn-block" id="CustomModalBtn"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="IntroducerModal" tabindex="-1" role="dialog" aria-labelledby="IntroducerModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-radius mt-4 mmod">
				<div class="modal-body text-center">
					<img src="../new/img/fr.png" class="mb-3" width="100%" />
					<div class="link">
						<div class="text-center pb-2">لینک معرفی شما</div>
						@ViewBag.Link
						<hr />
					</div>

					<div class="container">
						<div class="row">
							<div class="col" id="whatsapp-btn-Affiliate"><img src="~/Mobile/ico/whatsapp.png" style="width:100%;display: none;" /> </div>
							<div class="col" id="telegram-btn-Affiliate"><img src="~/Mobile/ico/telegram.png" style="width:100%;display: none;" /> </div>
							@if (ViewBag.CanAffiliateTextSendBySMS != null && ViewBag.CanAffiliateTextSendBySMS)
							{
								<div class="col" id="SMS-btn-Affiliate"><img src="~/Mobile/ico/smsIntro.png" style="width:100%" /> </div>
							}
							else
							{
								<div class="col" id="copy-btn-Affiliate"><img src="~/Mobile/ico/copy.png" style="width:100%" /> </div>
							}
						</div>
					</div>
					<hr />
				</div>
				<div class="container">
					<div class="row pb-4 mb-1 pl-3 pr-3">
						<div class="col-4">
							<button type="button" class="btn btn-outline-secondary btn-block" data-bs-dismiss="modal">انصراف</button>
						</div>
						<div class="col-8">
							<a href="/Manage/Introducer" class="btn btn-primary btn-block">مشاهده لیست سطح</a>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<form action="/Account/Logout" method="post" id="logoutForm">
		@Html.AntiForgeryToken()
		<button type="submit" class="btn btn-link navbar-btn navbar-link">خروج</button>
		<input type="hidden" value="" name="FCMToken" />
	</form>
	<script src="/netcharge/js/contactlist.js" asp-append-version="true">
	</script>
	<script>
		localStorage.setItem("my_mobile_number",@("0"+User.Identity.Name))
	</script>
	<script>
		var mypnumber = @("0" + User.Identity.Name)
	</script>
</body>

</html>