@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var onlyLogginPage = true;
    var onlyLogin = HttpContextAccessor.HttpContext.Session.GetString("OnlyLoggin");
    if (string.IsNullOrEmpty(onlyLogin) == false)
        onlyLogginPage = onlyLogin == "OnlyLoggin";
    if (onlyLogginPage && User.Identity.IsAuthenticated)
        onlyLogginPage = false;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="enamad" content="667709" />
    @*@if (controller == "info" && action == "index")
        {*@
    @{
                var SiteTitle = "";
        var description = "";
        var Keywords = "";
        var StieData = ShppaingPart.Controllers.SharedLogic.GetSiteData();
        if (StieData == null)
        {
            SiteTitle = ViewData["Title"] + " - همپیشه";
            description = "همپیشه، خرید انواع سرویس های آنلاین، شارژ، بسته، بیمه، پین و... sale online shop Charge net package mci mtn rtn irancell hamrah aval rightel voucher ticket";
            Keywords = "sale,mci,mtn,rtl,net,package,charge,insurance,ticket,hottel,metro,airplan,bus,voucher,pin,شارژ,بسته,همراه اول,ایرانسل,رایتل,پین,بیمه,بلیط,هواپیما,قطار,اتوبوس,هتل";
        }
        else
        {
            SiteTitle = StieData.SiteTitle ?? ViewData["Title"] + " - همپیشه";
            description = StieData.description ?? "همپیشه، خرید انواع سرویس های آنلاین، شارژ، بسته، بیمه، پین و... sale online shop Charge net package mci mtn rtn irancell hamrah aval rightel voucher ticket";
            Keywords = StieData.Keywords ?? "sale,mci,mtn,rtl,net,package,charge,insurance,ticket,hottel,metro,airplan,bus,voucher,pin,شارژ,بسته,همراه اول,ایرانسل,رایتل,پین,بیمه,بلیط,هواپیما,قطار,اتوبوس,هتل";
        }
        <title>@(SiteTitle.Replace("[PageTitle]", ViewData["Title"].ToString()))</title>
        <meta name="description" content="@description" />
        <meta name="Keywords" content="@Keywords" />
    }
    @*}
        else
        {
            <title>@ViewData["Title"] - همپیشه</title>
            <meta name="description" content="همپیشه، خرید انواع سرویس های آنلاین، شارژ، بسته، بیمه، پین و... sale online shop Charge net package mci mtn rtn irancell hamrah aval rightel voucher ticket" />
            <meta name="Keywords" content="sale,mci,mtn,rtl,net,package,charge,insurance,ticket,hottel,metro,airplan,bus,voucher,pin,شارژ,بسته,همراه اول,ایرانسل,رایتل,پین,بیمه,بلیط,هواپیما,قطار,اتوبوس,هتل" />

        }*@

    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

    <meta property="og:locale" content="fa" />
    <meta property="og:type" content="website" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @if (action != "service")
        {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.min.css" />
        }
        <link rel="stylesheet" href="~/css/site.css?v=7" />
        <link rel="stylesheet" id="theme" href="~/Content/Site.css?v=4" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        @if (action != "service" && controller != "info")
        {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.min.css" />
        }
        @*@RenderSection("header", required: false)*@
        <link rel="stylesheet" href="~/css/site.css?v=7" />
        <link rel="stylesheet" id="theme" href="~/Content/Site.css?v=4" />
    </environment>
    @RenderSection("header", required: false)
</head>
<body>
    <div id="loading" class="loader">
        <div class="loader2"></div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-Pre">
            <div class="container">

                <a href="#" title="شماره تماس">86071109(021)</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/Home/ContactUs" title="تماس با ما">تماس با ما</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/Home/Rules" title="قوانین">قوانین</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/Home/AboutUs" title="پشتیبانی">درباره ما</a>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("شارژ، بسته و بیمه", "Index", "Info", new { area = "" }, new { @class = "navbar-brand" })*@
                <a @(onlyLogginPage?"href=/Account/Login":"href=/Info/Index") class="navbar-brand"><img class="img-circle" width="48" height="48" src="~/ic_launcher.png" alt="همپیشه" /></a>
                @*<a id="reloadData" class="navbar-brand medium-size">بازیابی مجدد</a>*@
                @if (User.Identity.IsAuthenticated)
                {
                <a asp-area="" asp-controller="Manage" asp-action="Index" class="navbar-brand">@User.Identity.Name</a>
                }
                else
                {

                }
            </div>
            <div class="navbar-collapse collapse navbar-left">
                @*<ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>*@
                @await Html.PartialAsync("_LoginPartial")

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <div class="container body-content">
            <p>همپیشه - &copy;1399</p>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" download="" href="/hampisheh.apk">دانلود اپ اندروید</a>
            }
        </div>
        <div style="position:fixed;bottom:0;left:0;">
            <a target="_blank" href="https://trustseal.enamad.ir/?id=141057&amp;Code=FSQZ7CEMmdrfQ7jRDO17"><img src="https://Trustseal.eNamad.ir/logo.aspx?id=141057&amp;Code=FSQZ7CEMmdrfQ7jRDO17" alt="" style="cursor:pointer" id="FSQZ7CEMmdrfQ7jRDO17"></a>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @if (User.Identity.IsAuthenticated)
    {
    <script type="text/javascript">
        $.post('/Info/GetCurrentCreditValue', function (data, status) {
            $('#creditA').html(data.credit.toLocaleString() + "ريال");
        });
    </script>
    }
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>
        <script type="text/javascript">
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            }
        </script>*@
    <script>
        window.onload = function (event) {
            $('#loading').hide();
        };
        window.onbeforeunload = function (event) {
            $('#loading').show();
            var newLocation = document.activeElement.href;
            if (newLocation == this.undefined) {
                setTimeout(function () { $('#loading').hide(); }, 3000);
            }
            else {
                newLocation = newLocation.toString().toLowerCase();
                if (newLocation.endsWith(".jpg") || newLocation.endsWith(".png")
                    || newLocation.endsWith(".jpeg")
                    || newLocation.endsWith(".pdf")
                    || newLocation.endsWith(".gif")
                    || newLocation.endsWith(".doc")
                    || newLocation.endsWith(".docx")
                    || newLocation.endsWith(".txt")
                    || newLocation.endsWith(".csv")
                    || newLocation.endsWith(".xls")
                    || newLocation.endsWith(".xlsx")
                    || newLocation.endsWith(".ppt")
                    || newLocation.endsWith(".pptx")
                ) {
                    setTimeout(function () { $('#loading').hide(); }, 3000);
                }
            }

            //alert('qwewqewqe');
            //event = event || window.event;
            //if (event) {
            //    // This is for IE
            //    event.returnValue = s;
            //}

            //// This is for all other browsers
            //return s;
        }
        window.unload = function (event) {
            $('#loading').hide();
        }
        $('#reloadData').on('click', function () {
            window.location.href = window.location.href;
        });
        //$("*").click(function() {
        //$.fileDownload($(this).prop('type'), {
        //  failMessageHtml: "There was a problem generating your report, please try again.",
        //  successCallback: function() { window.location.reload(true) }
        //});
        //  return false; //this is critical to stop the click event which will trigger a normal file download!
        //});
    </script>
    <style>
        .medium-size {
            font-size: small;
            font-weight: normal;
        }
@@media (max-width: 768px) {
        #FSQZ7CEMmdrfQ7jRDO17 {
            width: 75px;
        }      }
    </style>

    <script type="text/javascript">
    console.log('@HttpContextAccessor.HttpContext.Session.GetString("OnlyLoggin")');
    console.log('@onlyLogginPage');
    </script>
</body>
</html>
