@*@using Microsoft.AspNetCore.Identity
@using ShppaingPart.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@
<!DOCTYPE html>
<html lang="fa"
      class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<title>@ViewData["Title"]</title>*@
    <title>369149</title>
    <meta name="enamad" content="667709" />

    <link rel="shortcut icon" href="/MainPage/favicon.png">


    <meta name="description" content="همپیشه، خرید انواع سرویس های آنلاین، شارژ، بسته، بیمه، پین و... sale online shop Charge net package mci mtn rtn irancell hamrah aval rightel voucher ticket" />
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="Keywords" content="sale,mci,mtn,rtl,net,package,charge,insurance,ticket,hottel,metro,airplan,bus,voucher,pin,شارژ,بسته,همراه اول,ایرانسل,رایتل,پین,بیمه,بلیط,هواپیما,قطار,اتوبوس,هتل" />

    <meta property="og:locale" content="fa" />
    <meta property="og:type" content="website" />
    @*<meta property="og:title" content="Allo Floride" />*@
    <meta property="og:title" content="369149" />
    <meta property="og:description" content="Maison d’artistes et créateur de contenus culturels, libre et indépendant, Allo Floride dédie son expertise et sa curiosité à la musique et à l’art de vivre." />

    @*<meta property="og:site_name" content="همپیشه" />*@
    <meta property="og:site_name" content="369149" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Maison d’artistes et créateur de contenus culturels, libre et indépendant, Allo Floride dédie son expertise et sa curiosité à la musique et à l’art de vivre." />
    <meta name="twitter:title" content="hampisheh" />
    <meta name="twitter:site" content="@@hampisheh" />

    <meta name="generator" content="WPML ver:4.2.9 stt:1,4;" />
    <link rel="icon" href="/MainPage/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/MainPage/cropped-favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="/MainPage/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="/MainPage/cropped-favicon-270x270.png" />
    <link rel="stylesheet" type="text/css" href="/MainPage/style.css">
    <meta property="og:image" content="/MainPage/share-new.jpg" />
    <script type="application/ld+json">
        {"@@context":"http:\/\/schema.org","@@type":"Organization","name":"Allo Floride","url":"https:\/\/hampisheh.com\/","logo":"https:\/\/hampisheh.com\/wp-content\/themes\/hampisheh\/img\/logo.png"}
    </script>
    <script>
        (
            function (w) {
                w.F = w.F || {}; w.F.CONFIG = {
                    PATH_URL: '/',
                    ROOT_URL: 'http://171.22.25.161',
                    //ROOT_URL: 'https://localhost:44317/',
                    THEME_URL: '',
                    DEBUG: false, GOOGLE_MAP_API_KEY: '', DISABLE_AJAX: true,
                    IS_BOT: /page speed insights|lighthouse|bot|googlebot|crawler|spider|robot|crawling/i.test(navigator.userAgent || '')
                    , GA_UA: 'UA-149845518-1',
                    DISABLE_COOKIES: /page speed insights|lighthouse|bot|googlebot|crawler|spider|robot|crawling/i
                        .test(navigator.userAgent)
                };
                w.F.components = {}; w.F._ = { wW: w.innerWidth, wH: w.innerHeight, scrollTop: 0 }; w.F.svgs = {
                    arrownext: '',// '<svg class=""width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill=""/><path d="M22 28L26 24.5L22 21" stroke="white" stroke-linecap="round"/></svg>', arrowprev: '<svg class=""width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill=""/><path d="M26 21L22 24.5L26 28" stroke="white" stroke-linecap="round"/></svg>',
                    plus: ''// '<svg class="icon-svg"width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill=""/><line class="stroke" x1="24" y1="18" x2="24" y2="30" stroke="white" stroke-width="1.5"/><line class="stroke" x1="18" y1="24.0002" x2="30" y2="24.0002" stroke="white" stroke-width="1.5"/></svg>'

                }; F.breakpoints = { SMALL_DESKTOP: 1275, TABLET: 1024, TABLET_PORTRAIT: 960, MOBILE: 767 }; w.F.isSmallDesktop = function () { return F._.wW <= F.breakpoints.SMALL_DESKTOP }; w.F.isTablet = function () { return F._.wW <= F.breakpoints.TABLET }; w.F.isTabletPortrait = function () { return F._.wW <= F.breakpoints.TABLET_PORTRAIT }; w.F.isMobile = function () { return F._.wW <= F.breakpoints.MOBILE }; w.F.PAGES_VIEWS = { home: 'Home' };
            })(window);</script>
</head>

<body>
    <div class="full-wrapper">
        <header id="header-wrapper" data-component="Header" data-ref="header">
            <div id="header" class="">
                <div class="logo-burger">

                    <h1 class="logo">
                        <a href="https://hampisheh.com/" rel="home" title="Allo Floride">
                            <svg class="icon-svg" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="fill" d="M24.5 2C12.0935 2 2 12.0935 2 24.5C2 36.9065 12.0935 47 24.5 47C36.9065 47 47 36.9065 47 24.5C47 12.0935 36.9065 2 24.5 2ZM3.368 24.5C3.368 12.848 12.848 3.368 24.5 3.368C36.152 3.368 45.632 12.848 45.632 24.5C45.632 26.69 45.296 28.805 44.675 30.7925C42.4055 33.767 37.7705 32.609 34.7795 32.954C32.843 33.1775 31.2515 34.1315 30.0605 35.141C29.723 31.799 30.4655 28.847 31.3055 26.714C32.312 24.1565 33.722 22.0265 35.066 20.4725C35.111 20.591 35.1635 20.702 35.2145 20.8115C35.312 21.0185 35.4035 21.2135 35.429 21.4265C35.4665 21.7385 35.369 22.004 35.2745 22.2605C35.129 22.655 34.9925 23.027 35.4185 23.4395C35.093 24.1175 35.1275 24.494 35.162 24.857C35.1935 25.199 35.2235 25.523 34.907 26.1035C34.892 26.132 34.895 26.165 34.916 26.189C34.931 26.2055 34.952 26.216 34.973 26.216C34.982 26.216 34.991 26.2145 34.9985 26.2115C36.5105 25.664 37.7315 23.8055 37.664 22.154C37.6265 21.2375 37.4045 20.4935 37.1 19.8905C37.373 20.1875 37.7165 20.3015 38.0525 20.4125C38.486 20.5565 38.936 20.7035 39.281 21.2435C39.299 21.272 39.332 21.284 39.365 21.2765C39.3965 21.2675 39.4205 21.2405 39.422 21.2075C39.434 20.99 39.611 20.708 39.8105 20.57C39.9845 21.647 40.8095 22.448 42.3245 23.015C42.3335 23.018 42.3425 23.0195 42.3515 23.0195C42.374 23.0195 42.395 23.0105 42.41 22.9925C42.431 22.9685 42.434 22.934 42.4175 22.9055C42.218 22.556 42.062 22.073 41.897 21.5615C41.6 20.642 41.2625 19.5995 40.562 19.007C39.632 18.218 38.324 17.873 37.136 17.951C37.148 17.7215 37.4135 17.504 37.7825 17.48C38.5295 17.432 39.47 17.3855 39.755 16.5275C40.7465 16.9985 41.255 16.847 41.792 16.6865C42.1235 16.5875 42.4655 16.4855 42.947 16.5425L43.112 16.562L43.019 16.424C42.1775 15.173 40.6325 14.51 38.9855 14.6915C37.556 14.849 36.3275 15.6005 35.456 16.808C35.4425 16.781 35.4305 16.7525 35.417 16.724C35.3705 16.622 35.321 16.517 35.273 16.409C34.7015 15.11 33.227 13.919 31.7675 13.577C30.3065 13.235 28.631 13.9055 28.178 14.243C28.151 14.2625 28.1405 14.2985 28.151 14.3285C28.1615 14.36 28.1885 14.381 28.226 14.3795C29.039 14.351 29.477 14.681 29.9015 15.0035C30.242 15.2615 30.5645 15.506 31.046 15.5465C31.151 15.5555 31.3025 15.5315 31.4795 15.5045C31.8035 15.4535 32.2235 15.3875 32.5655 15.4895C32.231 15.542 32.03 15.65 31.8095 15.815C31.79 15.83 31.7795 15.8525 31.7795 15.875C31.7795 15.899 31.79 15.9215 31.8095 15.9365C31.964 16.0535 32.0585 16.2545 32.1575 16.466C32.312 16.7945 32.486 17.168 32.9345 17.3045C33.251 17.4005 33.5405 17.612 33.8195 17.8175C33.8435 17.834 33.866 17.852 33.89 17.8685C33.653 17.8625 33.4115 17.8475 33.1625 17.8325C31.1195 17.7065 28.805 17.564 27.7835 22.703C27.7775 22.736 27.7925 22.7705 27.824 22.7855C27.8345 22.7915 27.8465 22.793 27.8585 22.793C27.8795 22.793 27.9005 22.784 27.914 22.769C28.1405 22.5215 28.3865 22.418 28.67 22.2995C29.0705 22.1315 29.5235 21.941 29.9945 21.284C30.1775 21.029 30.4655 20.924 30.77 20.8115C31.169 20.6645 31.5815 20.513 31.7495 20.012C32.5955 20.4875 32.993 20.219 33.3785 19.961C33.5525 19.844 33.722 19.73 33.935 19.6865C32.528 21.338 31.0715 23.5655 30.029 26.2115C29.0405 28.7225 28.1795 32.2925 28.832 36.3245C28.3235 36.881 27.959 37.3655 27.755 37.6355C27.7115 37.6925 27.6545 37.739 27.5855 37.763C26.555 38.141 25.805 37.5575 24.5045 37.4165C26.2055 30.863 24.689 25.8035 23.336 21.29C22.4795 18.431 21.6665 15.7085 21.716 12.8555C21.986 12.995 22.142 13.2335 22.3115 13.5005C22.5125 13.8185 22.742 14.1785 23.2175 14.3825L23.3015 14.4185L23.321 14.3285C23.4005 13.9655 23.693 13.6445 24.0185 13.5425C23.624 14.597 24.239 15.2705 24.833 15.9215C25.007 16.112 25.1855 16.3085 25.3325 16.508C25.5155 16.76 25.5635 16.967 25.61 17.168C25.676 17.456 25.745 17.753 26.2025 18.1355L26.2805 18.2L26.321 18.107C26.999 16.55 26.9 14.864 26.0495 13.481C25.4255 12.4655 24.44 11.6915 23.2145 11.2205C23.5055 11.0105 23.9045 10.886 24.32 11.078C25.022 11.402 26 11.5085 26.591 10.829C27.11 11.684 27.8135 11.72 28.553 11.759C28.9025 11.777 29.264 11.795 29.6405 11.897L29.9285 11.975L29.8235 11.696C29.381 10.529 27.9365 9.164 26.036 8.8115C24.6365 8.552 23.255 8.8955 22.037 9.7835C22.0685 9.428 22.226 9.116 22.382 8.927C22.5545 8.72 22.6085 8.465 22.5275 8.2475C22.4915 8.153 22.433 8.0735 22.3595 8.0225C22.5995 7.9205 22.9475 7.9265 23.213 7.931C23.363 7.934 23.4815 7.9355 23.5625 7.9205C24.1835 7.8005 24.206 7.523 24.23 7.2275C24.2525 6.9515 24.278 6.638 24.839 6.329C25.5155 5.957 25.6355 5.669 25.7405 5.414C25.8215 5.219 25.8845 5.066 26.2115 4.8965L26.396 4.8005L26.192 4.754C24.983 4.481 23.4185 4.901 22.208 5.828C21.2855 6.533 20.177 7.8215 19.988 9.9875C19.0565 8.945 17.528 8.3495 15.8975 8.4185C14.279 8.486 12.905 9.2 12.2225 10.3265L12.0905 10.544L12.392 10.4C12.968 10.124 13.316 9.9575 13.8065 10.3565C13.952 10.475 14.0645 10.5755 14.162 10.6655C14.5265 10.997 14.6645 11.12 15.3875 11C15.7145 10.946 15.8915 11.0435 16.0805 11.147C16.367 11.306 16.664 11.4695 17.426 11.0645C18.0455 10.736 18.98 11.4635 19.1465 11.6C18.2075 11.9975 17.207 12.6755 16.6055 13.6565C15.6575 15.2015 15.683 17.531 16.2515 18.8045L16.3715 19.0745L16.3955 18.7805C16.433 18.3395 16.6535 18.1925 16.91 18.023C17.129 17.8775 17.3765 17.714 17.4965 17.3405C17.6525 16.853 17.5745 16.151 17.2265 15.797C17.432 15.719 17.783 15.7235 18.005 15.9155L18.077 15.977L18.122 15.893C18.3875 15.3965 18.674 15.1985 18.95 15.0065C19.2815 14.7785 19.5935 14.5625 19.8065 13.8965C19.9475 13.457 20.1425 13.169 20.345 12.9575C20.312 15.9635 21.146 18.7565 22.0235 21.686C23.4125 26.3195 24.842 31.0985 23.0765 37.4495C21.4715 37.655 20.3435 38.36 19.7615 38.6855C19.1345 38.2595 18.644 37.898 17.906 37.7825C18.167 36.263 18.005 34.553 17.408 32.747C16.745 30.7385 15.554 28.706 14.2115 27.2135C14.4515 27.2015 14.654 27.167 14.7635 27.1445C15.1775 27.0605 15.332 27.2195 15.5105 27.404C15.728 27.629 15.974 27.8825 16.6895 27.6515C17.066 28.6325 18.134 29.159 19.055 29.159C19.1645 29.159 19.271 29.1515 19.3745 29.1365C19.4045 29.132 19.43 29.1095 19.4375 29.0795C19.445 29.0495 19.433 29.018 19.4075 29C18.857 28.6025 18.602 28.0385 18.3335 27.44C18.047 26.8025 17.7515 26.144 17.069 25.673C16.1 25.0025 15.0155 24.77 13.8785 24.974C14.105 24.569 14.1905 24.2105 14.123 23.939C14.6375 23.8715 14.7365 23.573 14.8325 23.282C14.8955 23.093 14.96 22.898 15.146 22.7525C15.2705 22.655 15.452 22.6235 15.6455 22.5905C15.938 22.5395 16.2695 22.4825 16.5245 22.1885C16.5425 22.1675 16.547 22.1405 16.5395 22.115C16.484 21.9515 16.373 21.803 16.238 21.644C16.9025 21.809 17.429 21.536 17.8625 21.3125C18.14 21.1685 18.38 21.0455 18.563 21.0995C18.599 21.11 18.6365 21.0935 18.653 21.0605C18.6695 21.0275 18.659 20.987 18.629 20.966C17.4485 20.105 15.7205 20.075 14.327 20.891C13.196 21.554 12.455 22.6415 12.155 24.0095C11.6195 23.2415 10.862 22.502 9.9185 22.109C8.3435 21.4535 6.1505 21.803 4.925 22.9025L4.76 23.051L4.982 23.0345C5.5715 22.9925 5.75 23.123 5.9975 23.3045C6.1055 23.384 6.2285 23.474 6.3995 23.558C7.289 23.9945 8.4485 23.7095 9.0335 23.285C8.954 23.5355 8.8505 23.654 8.7275 23.795C8.666 23.8655 8.603 23.9375 8.5355 24.0335L8.4665 24.131L8.585 24.152C9.4685 24.305 9.719 24.6185 9.9635 24.9215C10.049 25.0265 10.136 25.1345 10.247 25.2335C9.4925 25.073 8.6735 25.1285 7.8635 25.4135C6.332 25.952 5.126 27.2105 4.715 28.7C4.7045 28.739 4.7255 28.7795 4.7645 28.793C4.8245 28.8125 4.8815 28.8215 4.94 28.8215C5.2115 28.8215 5.4665 28.625 5.7335 28.4195C6.002 28.214 6.278 27.9995 6.5975 27.9575C6.953 27.9095 7.238 27.947 7.514 27.983C7.9055 28.034 8.2745 28.082 8.7035 27.83C8.72 27.8195 8.7335 27.8045 8.738 27.785C8.8025 27.56 8.711 27.044 8.5895 26.735C8.8025 26.855 9.065 27.1925 9.2045 27.374C9.2135 27.386 9.227 27.395 9.2405 27.3995C9.4145 27.4565 9.7865 27.5405 10.202 27.5795C9.635 28.052 9.1715 28.6985 8.8745 29.462C8.249 31.0715 8.471 32.8565 9.485 34.361C9.5 34.382 9.5225 34.394 9.548 34.394C9.554 34.394 9.5585 34.394 9.5645 34.3925C9.5945 34.385 9.6185 34.361 9.623 34.3295C9.722 33.6965 9.878 33.3785 10.004 33.122C10.13 32.864 10.2305 32.66 10.178 32.2805C10.1 31.709 10.3655 31.532 10.649 31.3445C10.985 31.121 11.3315 30.89 10.91 30.017C11.7935 29.9585 11.8175 29.4005 11.8415 28.859C11.864 28.337 11.891 27.797 12.5615 27.479C14.792 29.5535 17.36 34.1405 16.514 37.853C14.642 38.309 11.957 40.004 9.6215 39.4985C5.765 35.666 3.368 30.3575 3.368 24.5ZM12.0275 26.3645C12.026 26.36 12.0245 26.357 12.023 26.3525C12.0245 26.3555 12.0275 26.357 12.029 26.36C12.029 26.36 12.0275 26.363 12.0275 26.3645Z" fill="white"></path>
                            </svg>
                        </a>
                    </h1>


                    <a class="burger" href="#">
                        <svg class="icon-svg" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect class="" width="48" height="48" fill=""></rect>
                            <path class="fill" d="M5.09 15V12.36C5.09 10.93 5.8 10.08 7.1 10.08C8.06 10.08 8.56 10.48 8.76 11.08C8.87 11.39 8.92 11.71 8.92 12.09V15H10.17V12.24C10.17 10.94 10.83 10.08 12.06 10.08C13.01 10.08 13.53 10.43 13.77 11.05C13.89 11.37 13.95 11.72 13.95 12.15V15H15.2V11.96C15.2 10.2 14.32 9.07 12.47 9.07C11.21 9.07 10.33 9.73 9.94 10.74C9.63 9.72 8.88 9.07 7.49 9.07C6.23 9.07 5.41 9.71 5.02 10.66L4.91 9.29H3.84V15H5.09ZM23.9085 13.38H22.5285C22.1785 13.94 21.5185 14.21 20.2985 14.21C18.6685 14.21 17.8385 13.67 17.6785 12.6H24.0085V12.1C24.0085 10.84 23.4085 9.94 22.2985 9.44C21.7385 9.19 21.0785 9.07 20.2985 9.07C18.7085 9.07 17.5485 9.64 16.9485 10.59C16.6585 11.07 16.4985 11.6 16.4985 12.22C16.4985 13.44 16.9885 14.33 18.0885 14.83C18.6385 15.07 19.3285 15.19 20.1985 15.19C22.0185 15.19 23.2885 14.72 23.9085 13.38ZM20.3285 10.04C21.8185 10.04 22.6285 10.58 22.7885 11.69H17.6985C17.9085 10.6 18.8385 10.04 20.3285 10.04Z" fill="white"></path>
                            <rect class="fill" x="27.394" y="10.1818" width="16.9697" height="4.24242" fill="white"></rect>
                            <path class="fill" d="M29.1 36V33.48C29.1 31.93 29.92 31.08 31.45 31.08C32.48 31.08 33.07 31.45 33.34 32.09C33.49 32.41 33.55 32.79 33.55 33.22V36H34.8V32.95C34.8 31.8 34.34 30.91 33.46 30.43C33.02 30.19 32.49 30.07 31.83 30.07C30.45 30.07 29.48 30.71 29.04 31.73L28.93 30.29H27.84V36H29.1ZM41.7589 34.5L41.8689 36H42.9389V30.29H41.6789V32.91C41.6789 34.32 40.8889 35.15 39.5189 35.15C38.0289 35.15 37.4189 34.44 37.4189 33.11V30.29H36.1689V33.34C36.1689 35.14 37.1289 36.19 39.0489 36.19C40.4389 36.19 41.3789 35.55 41.7589 34.5Z" fill="white"></path>
                            <rect class="fill" x="4.06061" y="31.394" width="19.0909" height="4.24242" fill="white"></rect>
                            <rect class="fill" x="4.06061" y="20.7879" width="40.303" height="4.24242" fill="white"></rect>
                        </svg>
                    </a>
                    <a class="close" href="#">
                        <svg class="icon-svg" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="48" height="48" fill=""></rect>
                            <path d="M6.86 10.34H9.03V9.29H6.86V9.05C6.86 8.29 6.98 7.94 7.36 7.81C7.55 7.76 7.81 7.72 8.14 7.72H9.03V6.73H8.03C6.84 6.73 6.18 6.95 5.89 7.63C5.74 7.96 5.67 8.44 5.67 9.06V9.29H4.1V10.34H5.67V15H6.85L6.86 10.34ZM17.0277 13.38H15.6477C15.2977 13.94 14.6377 14.21 13.4177 14.21C11.7877 14.21 10.9577 13.67 10.7977 12.6H17.1277V12.1C17.1277 10.84 16.5277 9.94 15.4177 9.44C14.8577 9.19 14.1977 9.07 13.4177 9.07C11.8277 9.07 10.6677 9.64 10.0677 10.59C9.77766 11.07 9.61766 11.6 9.61766 12.22C9.61766 13.44 10.1077 14.33 11.2077 14.83C11.7577 15.07 12.4477 15.19 13.3177 15.19C15.1377 15.19 16.4077 14.72 17.0277 13.38ZM13.4477 10.04C14.9377 10.04 15.7477 10.58 15.9077 11.69H10.8177C11.0277 10.6 11.9577 10.04 13.4477 10.04ZM18.4338 15H19.6938V13.08C19.6938 11.86 19.9738 11.11 20.7138 10.75C21.0938 10.56 21.5938 10.47 22.2338 10.47H22.8938V9.25H22.2738C20.8038 9.25 19.9838 9.96 19.6638 11.07L19.5138 9.29H18.4338V15Z" fill="white"></path>
                            <path d="M20.09 36V33.36C20.09 31.93 20.8 31.08 22.1 31.08C23.06 31.08 23.56 31.48 23.76 32.08C23.87 32.39 23.92 32.71 23.92 33.09V36H25.17V33.24C25.17 31.94 25.83 31.08 27.06 31.08C28.01 31.08 28.53 31.43 28.77 32.05C28.89 32.37 28.95 32.72 28.95 33.15V36H30.2V32.96C30.2 31.2 29.32 30.07 27.47 30.07C26.21 30.07 25.33 30.73 24.94 31.74C24.63 30.72 23.88 30.07 22.49 30.07C21.23 30.07 20.41 30.71 20.02 31.66L19.91 30.29H18.84V36H20.09ZM38.9085 34.38H37.5285C37.1785 34.94 36.5185 35.21 35.2985 35.21C33.6685 35.21 32.8385 34.67 32.6785 33.6H39.0085V33.1C39.0085 31.84 38.4085 30.94 37.2985 30.44C36.7385 30.19 36.0785 30.07 35.2985 30.07C33.7085 30.07 32.5485 30.64 31.9485 31.59C31.6585 32.07 31.4985 32.6 31.4985 33.22C31.4985 34.44 31.9885 35.33 33.0885 35.83C33.6385 36.07 34.3285 36.19 35.1985 36.19C37.0185 36.19 38.2885 35.72 38.9085 34.38ZM35.3285 31.04C36.8185 31.04 37.6285 31.58 37.7885 32.69H32.6985C32.9085 31.6 33.8385 31.04 35.3285 31.04ZM40.3146 36H41.5746V34.08C41.5746 32.86 41.8546 32.11 42.5946 31.75C42.9746 31.56 43.4746 31.47 44.1146 31.47H44.7746V30.25H44.1546C42.6846 30.25 41.8646 30.96 41.5446 32.07L41.3946 30.29H40.3146V36Z" fill="white"></path>
                            <rect x="4" y="21" width="40" height="4.24" fill="white"></rect>
                        </svg>
                    </a>

                </div>

                <nav id="site-navigation" class="main-navigation">
                    <div class="nav vertical-center-wrapper">
                        <ul class="vertical-center-inner">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1248"><a onclick="window.location.href='@Url.Action("Service","Info",new { page = "charge" })'">شارژ</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1251"><a onclick="window.location.href='@Url.Action("Service", "Info", new { page = "net" })'">بسته اینترنت</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1250"><a onclick="window.location.href='@Url.Action("Service","Info",new { page = "report" })'">گزارش های خرید</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1249"><a onclick="window.location.href='@Url.Action("Index","Info",new { page = "charge" })'">سرویس های اینترنتی</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1247"><a onclick="window.location.href='@Url.Action("Travis","Info")'">بیمه مسافرتی(کشورهای دیگر)</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1252"><a onclick="window.location.href='@Url.Action("PinService","Info")'">پین شارژ</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1246"><a onclick="window.location.href='@Url.Action("About","Main")'">درباره همپیشه</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1246"><a onclick="window.location.href='@Url.Action("Index", "Manage")'">کاربر @User.Identity.Name خوش آمدید!</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1246"><a id="creditA" onclick="window.location.href='@Url.Action("Index", "Manage")'"></a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1246"><a id="Logout" onclick="">خروج</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1246"><a onclick="window.location.href='http://hampisheh.com:53992/Transactions'">حسابداری</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1246"><a onclick="window.location.href='http://hampisheh.com:53992/MLMPlans'">برنامه های MLM</a></li>
                                }
                            }
                            else
                            {
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1246"><a onclick="window.location.href='@Url.Action("Login", "Account")'">ورود</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1246"><a onclick="window.location.href='@Url.Action("Register", "Account")'">ثبت نام</a></li>
                            }
                        </ul>
                    </div>

                </nav>
            </div>
        </header>

        <main id="page">

            <div id="loader"></div>

            <div id="content">
                @RenderBody()

            </div>
        </main>
        <footer id="footer" class="footer">
            <div class="footer-wrapper">
                <div class="footer-part footer-credits">
                    <strong>همپیشه @@1398</strong> <span>برنامه نویسی توسط <a target="_blank" href="http://www.hampisheh.com"><strong></strong></a> گروه همپیشه </span>
                </div>
                <div class="footer-part footer-socials">
                </div>
            </div>
        </footer>

        <div class="popin-overlay" data-component="Popin" data-ref="popin"></div>

        <div data-component="Transition" data-ref="transition" class="transition-wrapper">
            <div class="transition-mask full">

                <div class="transition-logo-wrapper">

                </div>
                <div class="transition-wave-wrapper">
                    <svg class="" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 250" xml:space="preserve">
                    <path class="wave-1" d="M-75.5,59.5c0,0,178,186,580,186s447-137,900-137s686,137,686,137l-1-355h-2165V59.5z"></path>
                    <path class="wave-2" style="display:none" fill="red" d="M-75,204c0,0,172-123,574-123s454,165,907,165s685-177,685-177l-1.5-178.5h-2165L-75,204z"></path>
                </svg>
                </div>
                <div class="transition-bkg full"></div>
                <div class="transition-svg-wrapper full">

                </div>
            </div>
        </div>

    </div>
    <script src="/MainPage/header.js"></script>
    <script>
        //F._page = {"id":null,"content":null,"title":"","seoTitle":"همپیشه","seoDesc":"","bodyClass":"home blog paged paged-2","pageType":"home","data":{"rs":""},"noJSCache":false};
        F._page = { "id": null, "content": null, "title": "", "seoTitle": "369149", "seoDesc": "", "bodyClass": "home blog paged paged-2", "pageType": "home", "data": { "rs": "" }, "noJSCache": false };

        (function (m, d) {
            if (!m.csstransforms || (m.ie && F.browser_version === 9)) {
                d.body.className += ' error--browser';
                d.write('<div id="error_browser_wrapper"><div id="error_browser">' +
                    '<div class="logo">Allo Floride</div>' +
                    '<div class="link_navigateur"><p>Ce site n\'est pas optimisé pour votre navigateur internet<br />Vous pouvez le mettre à jour ou utiliser un des navigateurs suivants&nbsp;:</p><ul><li><a target="_blank" href="http://www.google.com/intl/fr_fr/chrome/browser/"><img src="https://hampisheh.com/wp-content/themes/hampisheh/img/navigateur/chrome.png" alt="Chrome"><br/>Chrome</a></li><li><a target="_blank" href="http://support.apple.com/kb/DL1531?viewlocale=fr_FR"><img src="https://hampisheh.com/wp-content/themes/hampisheh/img/navigateur/safari.png" alt="Safari"><br/>Safari</a></li><li><a target="_blank" href="https://www.mozilla.org/fr/firefox/new/"><img src="https://hampisheh.com/wp-content/themes/hampisheh/img/navigateur/firefox.png" alt="Firefox"><br/>Firefox</a></li><li><a target="_blank" href="http://windows.microsoft.com/fr-fr/internet-explorer/ie-11-worldwide-languages"><img src="https://hampisheh.com/wp-content/themes/hampisheh/img/navigateur/ie.png" alt="IE"><br/>Internet Explorer</a></li></ul></div></div></div>');
            }
        })(Modernizr, document);


        //var items = document.getElementsByClassName('clickable-link');
        //for (var i = 0; i < items.length; i++) {
        //    items[i].addEventListener("click", function (o, r) { window.location.href = r.getAttribute('href'); });
        //}
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        </form>
        <script type="text/javascript">
            $.post('/Info/GetCurrentCreditValue', function (data, status) {
                $('#creditA').html(data.credit.toLocaleString() + "ريال");
            });
            $('#Logout').on('click', function () { $('#logoutForm').submit(); });
        </script>
    }
    <script async defer src="/MainPage/index.js"></script>
</body>
</html>


<!-- Dynamic page generated in 0.516 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2019-12-08 08:45:25 -->
<!-- super cache -->