@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using BotDetect.Web.Mvc
@inject SignInManager<ApplicationUser> SignInManager

@model ShppaingPart.Models.AccountViewModels.LoginViewModel


@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
    var onBoardPage = false; 
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.ConfirmInfo != null)
{
    <div class="row" style="padding-top:60px">
        <div class="col-xs-12">
            <label class="label-success">اطلاعات شما با موفقیت ثبت شده است پس از تایید اطلاعات حساب شما توسط مدیر سیستم شما می توانید از خدمات سامانه بهره ببرید.</label>
            <a href="/Info/Index" class="btn btn-primary">صفحه اصلی</a>
        </div>
    </div>
    return;
}
@if (ViewBag.SkipOnboard == false && ViewBag.ShowOnboard)
{

    @section Header{
        <link rel="stylesheet" href="/onboard/reset.min.css" />
        <link rel='stylesheet' href="/onboard/slick.min.css" />
        <link rel='stylesheet' href="/onboard/slick-theme.min.css" />
        <link rel='stylesheet' href="/onboard/style.css" />
        <script>
            window.console = window.console || function (t) { };
        </script>
        <script>
            if (document.location.search.match(/type=embed/gi)) {
                window.parent.postMessage("resize", "*");
            }
        </script>
    }
    <div id="onboard">
        <div class="onboard">
            <div id="carouselExampleIndicators" dir="ltr" class="carousel slide sliv" data-ride="carousel">
            <div class="carousel-inner ccx">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../new/img/s1.png" alt="First slide">
                    <div class="slidec"></div>
                    <div class="carousel-caption fcapt">
                        <h5>تو خونه بیکاری و حوصله‌ت سر رفته؟</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../new/img/s2.png" alt="Second slide">
                    <div class="slidec"></div>
                    <div class="carousel-caption fcapt">
                        <h5>واسه آیندت سرمایه گذاری کن</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../new/img/s3.png" alt="Third slide">
                    <div class="slidec"></div>
                    <div class="carousel-caption fcapt">
                        <h5>از دوستان و آشناهات دعوت کن</h5>
                    </div>
                </div>
            </div>
            </div>

            <div class="text-center">
                <a href="#" class="cta ready btn btn-success">آماده شروع هستم</a>
            </div>
        </div>

        <div id="carouselExampleIndicators" dir="ltr" class="carousel slide sliv" data-ride="carousel">
            <div class="carousel-inner ccx">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../new/img/rich.png" alt="First slide">
                    <div class="slidec"></div>
                    <div class="carousel-caption fcapt">
                        <h5>می‌خوای بدونی چه جوری پولدار شدم؟ </h5>
                        
                    </div>
                </div>
            </div>
            <div class="text-center text-danger" style="margin-top: -30px; margin-bottom: 30px;">
                   همین حالا ثبت نام کن
                </div>
        </div>
        <div class="container">
            <div class="row">
                
                <div class="col">
                    <a href="/Account/Register?SkipOnboard=true" class="btn btn-primary btn-block">ثبت نام</a>
                </div>
                <div class="col">
<a href="/Account/LoginPage?SkipOnboard=true" class="btn btn-success btn-block">ورود</a>
                </div>
            </div>
        </div>
    </div>
     onBoardPage = true;
}
else
{
    <div class="row">

        <div class="col-md-7 logimg">
            <img src="../new/img/log.png" />
        </div>


        <div class="col-md-5">
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    @*<h4>Use a local account to log in.</h4>*@
                    @*<h4>ورود توسط حساب کاربری داخلی سامانه.</h4>*@
                    
                    <div class="mobile-none">
                    <h4 class="mt-4 pt-4">ورود کاربران</h4>
                    <hr />
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Mobile"></label>
                            <input asp-for="Mobile" type="tel" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <input type="hidden" value="@ViewBag.FCMToken" name="FCMToken" />
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control mb-2" />
                        <span class="ifcode">در صورتی که رمز عبور ندارید کد ملی شما رمزعبور شماست</span>

                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="remember-me mb-4">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe">
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning form-control">ورود</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-action="ForgotPassword"><span class="green">فراموشی رمزعبور؟</span></a>
                        </p>
                        <p>
                            حساب کاربری ندارید؟
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]"><span class="green">ثبت نام</span></a>
                        </p>
                    </div>
                </form>
            </section>
        </div>

        
        <div class="col-md-6 col-md-offset-2">
            <section>
                @*<h4>استفاده از سرویس های دیگر برای ورود.</h4>
                    <hr />
                    @{
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }*@
            </section>
        </div>
    </div>
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @if (ViewBag.SkipOnboard == false && ViewBag.ShowOnboard && onBoardPage)
    {
        <script src="/onboard/slick.min.js"></script>
        <script id="rendered-js">
            $('.slider').slick({
                arrows: false,
                dots: true,
                infinite: false,
                speed: 0,
                focusOnSelect: false,
                customPaging: function (slider, i) {
                    return '<a><svg width="100%" height="100%" viewBox="0 0 16 16"><circle cx="8" cy="8" r="4"></circle><ellipse cx="8" cy="8" rx="8" ry="4"></ellipse> </svg></a>';
                }
            }).
                on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                    $('.item').removeClass('from-right from-left ready');
                    c = currentSlide < nextSlide ? 'from-right' : 'from-left';
                    $('.item').eq(nextSlide).addClass(c);
                }).on('afterChange', function (event, slick, currentSlide) {
                    $('.item').eq(currentSlide).addClass('ready');
                });
            var timer = setInterval(function () {
                if ($($('.onboard li')[0]).attr('class') == "slick-active")
                    $($('.onboard li')[1]).trigger('click');
                else if ($($('.onboard li')[1]).attr('class') == "slick-active")
                    $($('.onboard li')[2]).trigger('click');
                else if ($($('.onboard li')[2]).attr('class') == "slick-active") {
                    $($('.ready')[0]).trigger('click');
                    clearInterval(timer);
                }
            }, 4000);
            $('.ready').on('click', function () { $('.onboard').hide(); $('.login').show(); })
                                            //# sourceURL=pen.js
        </script>

    }

}