@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using BotDetect.Web.Mvc
@inject SignInManager<ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model ShppaingPart.Models.AccountViewModels.LoginViewModelWithCaptcha
@section header {
    <environment names="Development,Staging,Production">
        <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
              rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/StyleSheet.css" />
    </environment>
}

@{
    ViewData["Title"] = "ورود";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
    var onlyLogginPage = true;
    var onlyLogin = HttpContextAccessor.HttpContext.Session.GetString("OnlyLoggin");
    if (string.IsNullOrEmpty(onlyLogin) == false)
        onlyLogginPage = onlyLogin == "OnlyLoggin";
    else
        onlyLogginPage = false;
    if (onlyLogginPage && User.Identity.IsAuthenticated)
        onlyLogginPage = false;
}
@if (onlyLogginPage == false)
{
<h2>@ViewData["Title"]</h2>
@if (ViewBag.ConfirmInfo != null)
{
    <div class="row" style="padding-top:60px">
        <div class="col-xs-12">
            <label class="label-success">اطلاعات شما تایید نشده است. پس از تایید اطلاعات حساب شما توسط مدیر سیستم شما می توانید از خدمات سامانه بهره ببرید.</label>
            <a href="/Info/Index" class="btn btn-primary">صفحه اصلی</a>
        </div>
    </div>
    return;
}
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="frmlogin">
                @*<h4>Use a local account to log in.</h4>*@
                @*<h4>ورود توسط حساب کاربری داخلی سامانه.</h4>*@
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Mobile"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                        <input asp-for="Mobile" class="form-control" />
                    </div>
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <input type="hidden" value="@ViewBag.FCMToken" name="FCMToken" />

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input asp-for="Password" class="form-control" placeholder="در صورتی که رمز عبور ندارید کد ملی شما رمزعبور شماست" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        @*<fieldset>
                                <legend>ASP.NET MVC CAPTCHA Validation</legend>
                                <div>
                                    <label asp-for="CaptchaCode">Retype the code from the picture:</label>
                                    @{ var exampleCaptcha = new MvcCaptcha("ExampleCaptcha") { UserInputID = "CaptchaCode" }; }
                                    <captcha mvc-captcha="exampleCaptcha" />
                                    <div class="actions">
                                        <input asp-for="CaptchaCode" />
                                        <input type="submit" value="Validate" />
                                        <span asp-validation-for="CaptchaCode"></span>
                                        @if (ViewContext.IsPost() && ViewData.ModelState.IsValid)
                                        {
                                            <span class="correct">Correct!</span>
                                        }
                                    </div>
                                </div>
                            </fieldset>*@

                        <label asp-for="CaptchaCode">لطفا عبارت تصویر پایین را در کادر زیر وارد نمایید :</label>
                        <captcha id="ExampleCaptcha" user-input-id="CaptchaCode" />
                        <div class="actions">
                            <input asp-for="CaptchaCode" />
                            <input type="submit" value="Validate" />
                            <span asp-validation-for="CaptchaCode"></span>
                            @if ((Context.Request.Method.ToUpper() == "POST") && ViewData.ModelState.IsValid)
                            {
                                <span class="correct">Correct!</span>
                            }
                        </div>
                    </div>
                    @*<label asp-for="CaptchaCode">Retype the code from the picture</label>
                        <captcha id="LoginCaptcha" user-input-id="CaptchaCode" />
                        <input asp-for="CaptchaCode" id="CaptchaCode" class="form-control captchaVal" />*@
                </div>
                @*<div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>*@
                <div class="form-group">
                    <button type="submit" class="btn btn-warning form-control">ورود</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword"><span class="green">فراموشی رمزعبور؟</span></a>
                    </p>
                    <p>
                        حساب کاربری ندارید؟
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]"><span class="green">ثبت نام</span> </a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        @*<section>
                <h4>استفاده از سرویس های دیگر برای ورود.</h4>
                <hr />
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>*@
    </div>
</div>
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        $('#frmlogin').submit(function(){
            try {
                console.log("frmlogin", "start");
                JSBridge.loginData($('#Mobile').val(), $('#Password').val());
                console.log("frmlogin", "end");

            } catch (e) {
                console.log("frmlogin", "error:",e);

            }
        });
    </script>

}
