@using ShppaingPart.Models.AccountViewModels;
@model RegisterViewModel
@{
    if (ViewBag.ConfirmSMS == null || ViewBag.ConfirmSMS == false)
        ViewData["Title"] = "";
    else
        ViewData["Title"] = "کد تاییدیه پیامکی";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
    var onBoardPage = false;
}
<h2>@ViewData["Title"]</h2>
@if (Model.SkipOnboard == false && ViewBag.ShowOnboard)
{

@section Header{
    <link rel="stylesheet" href="/onboard/reset.min.css" />
    <link rel='stylesheet' href="/onboard/slick.min.css" />
    <link rel='stylesheet' href="/onboard/slick-theme.min.css" />
    <link rel='stylesheet' href="/onboard/style.css" />
    <script>
        window.console = window.console || function (t) { };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
}
<div id="onboard">
    <div class="onboard">


        <div id="carouselExampleIndicators" dir="ltr" class="carousel slide sliv" data-ride="carousel">
        <div class="carousel-inner ccx">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/new/img/s1.png" alt="First slide">
                <div class="slidec"></div>
                <div class="carousel-caption fcapt">
                    <h5>تو خونه بیکاری و حوصله‌ت سر رفته؟</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/new/img/s2.png" alt="Second slide">
                <div class="slidec"></div>
                <div class="carousel-caption fcapt">
                    <h5>واسه آیندت سرمایه گذاری کن</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/new/img/s3.png" alt="Third slide">
                <div class="slidec"></div>
                <div class="carousel-caption fcapt">
                    <h5>از دوستان و آشناهات دعوت کن</h5>
                </div>
            </div>
        </div>
        </div>

        <div class="text-center">
            <a href="#" class="cta ready btn btn-success">آماده شروع هستم</a>
        </div>

        
    </div>

   <div id="carouselExampleIndicators" dir="ltr" class="carousel slide sliv" data-ride="carousel">
            <div class="carousel-inner ccx">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/new/img/rich.png" alt="First slide">
                    <div class="slidec"></div>
                    <div class="carousel-caption fcapt">
                        <h5>می‌خوای بدونی چه جوری پولدار شدم؟ </h5>
                        
                    </div>
                </div>
            </div>
            <div class="text-center text-danger" style="margin-top: -30px; margin-bottom: 30px;">
                   همین حالا ثبت نام کن
                </div>
        </div>
        <div class="container">
            <div class="row">
                
                <div class="col">
                    <a href="/Account/Register?SkipOnboard=true&Introducer=@(ViewBag.Introducer)" class="btn btn-primary btn-block">ثبت نام</a>
                </div>
                <div class="col">
<a href="/Account/LoginPage?SkipOnboard=true" class="btn btn-success btn-block">ورود</a>
                </div>
            </div>
        </div>

</div>
onBoardPage = true;
}
else
{
<div class="row">
    <div class="col-md-7 regimg">
        <img src="/new/img/register.png" />
    </div>
        <div class="col-md-5 reg-d" dir="rtl">
    @switch (Model.PageIndex)
        {
            case 1:
                {
                    <form  method="post">
                        @Html.AntiForgeryToken()

                        <input asp-for="FromLogin" type="hidden"  />
                        <input asp-for="PageIndex" type="hidden" value="1" />
                        <input asp-for="returnUrl" type="hidden" />
                        <input asp-for="FCMToken" type="hidden" />
                        <input asp-for="ShowOnboard" type="hidden" />
                        <input asp-for="SkipOnboard" type="hidden" />
                        <input asp-for="Introducer" type="hidden" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="RegisterFirstPageViewModel.Mobile"></label>
                            <input asp-for="RegisterFirstPageViewModel.Mobile" type="tel" class="form-control" placeholder="به عنوان مثال 09121234455" />
                            <span asp-validation-for="RegisterFirstPageViewModel.Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Introducer"></label>
                            <input asp-for="Introducer" type="tel" class="form-control" disabled />
                            <span asp-validation-for="Introducer" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-warning form-control">تایید</button>
                    </form>
                    <span>حساب کاربری دارید؟</span> <a href="/Account/Login" class="text-success">ورود</a>
                    break;
                }
            case 3:
                {
                    <form method="post">
                        <hr />
                        @Html.AntiForgeryToken()
                        <input asp-for="PageIndex" type="hidden" value="3" />
                        <input asp-for="returnUrl" type="hidden" />
                        <input asp-for="FCMToken" type="hidden" />
                        <input asp-for="RegisterFirstPageViewModel.Mobile" name="Mobile" type="hidden" />
                        <input asp-for="RegisterFirstPageViewModel.Mobile" name="UserName" type="hidden" />
                        <input asp-for="ShowOnboard" type="hidden" />
                        <input asp-for="SkipOnboard" type="hidden" />
                        <input asp-for="Introducer" type="hidden" />
                        <input type="hidden" asp-for="RegisterFirstPageViewModel.Mobile" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="SMSConfirmText"></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                                <input asp-for="SMSConfirmText" class="form-control" autocomplete="off" />
                            </div>
                            <span asp-validation-for="SMSConfirmText" class="text-danger"></span>
                            @*<span class="text-danger">@ViewBag.Err</span>*@
                            @if (string.IsNullOrEmpty(ViewBag.Err) == false)
                            {
                                <br />
                            }
                            <p id="timer" class="text-success text-center" StartDate="@ViewBag.StartDate"></p>
                            <label> شماره اشتباه است؟ <a class="text-success" id="editPhone">ویرایش شماره</a></label>
                            <label> کد دریافت نشد؟ <a class="text-success" id="resend">دریافت مجدد</a></label>
                        </div>
                        <button type="submit" class="btn btn-warning form-control">تایید</button>

                    </form>
                    break;
                }
            case 4:
                {
                    <form method="post">
                            @Html.AntiForgeryToken()

                        <input asp-for="PageIndex" type="hidden" value="4" />
                        <input asp-for="returnUrl" type="hidden" />
                        <input asp-for="FCMToken" type="hidden" />
                        <input asp-for="ShowOnboard" type="hidden" />
                        <input asp-for="SkipOnboard" type="hidden" />
                        <input asp-for="Introducer" type="hidden" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="RegisterRuleConfirmationViewModel.Mobile" />
                        <div class="form-group">
                            <label asp-for="RegisterRuleConfirmationViewModel.Password"></label>
                            <input asp-for="RegisterRuleConfirmationViewModel.Password" class="form-control" />
                            <span asp-validation-for="RegisterRuleConfirmationViewModel.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RegisterRuleConfirmationViewModel.ConfirmPassword"></label>
                            <input asp-for="RegisterRuleConfirmationViewModel.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="RegisterRuleConfirmationViewModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                <label>
                                    متن در باره قوانین این اپلیکیشن
                                </label>
                        </div>
                        <button type="submit" class="btn btn-warning form-control">تایید میکنم</button>
                    </form>
                    break;
                }
            case 5:
                {
                    @*<form method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()

							       <input asp-for="Introducer" type="hidden" />
                        <input asp-for="PageIndex" type="hidden" value="5" />
                        <input asp-for="returnUrl" type="hidden" />
                        <input asp-for="FCMToken" type="hidden" />
                        <input asp-for="ShowOnboard" type="hidden" />
                        <input asp-for="SkipOnboard" type="hidden" />
                      <input asp-for="RegisterOtherFieldsViewModel.Mobile" type="hidden" />
                        <div asp-validation-summary="All" class="text-danger"></div>
*@
							@* <div class="form-group">
                        <label asp-for="RegisterOtherFieldsViewModel.NationalCode"></label>
                        <input asp-for="RegisterOtherFieldsViewModel.NationalCode" id="NationalCode" type="tel" class="form-control" />
                        <span asp-validation-for="RegisterOtherFieldsViewModel.NationalCode"  class="text-danger"></span>
                        <span id="NationalCodeErr" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterOtherFieldsViewModel.Name"></label>
                        <input asp-for="RegisterOtherFieldsViewModel.Name" class="form-control" />
                        <span asp-validation-for="RegisterOtherFieldsViewModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterOtherFieldsViewModel.LastName"></label>
                        <input asp-for="RegisterOtherFieldsViewModel.LastName" class="form-control" />
                        <span asp-validation-for="RegisterOtherFieldsViewModel.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterOtherFieldsViewModel.IsMan"></label>
                        <select asp-for="RegisterOtherFieldsViewModel.IsMan" class="form-control">
                            <option value="True">مرد</option>
                            <option value="False">زن</option>
                        </select>
                        <span asp-validation-for="RegisterOtherFieldsViewModel.IsMan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterOtherFieldsViewModel.BirthDate"></label>
                        <input asp-for="RegisterOtherFieldsViewModel.BirthDate" class="form-control persian-date" />
                        <span asp-validation-for="RegisterOtherFieldsViewModel.BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterOtherFieldsViewModel.Email"></label>
                        <input asp-for="RegisterOtherFieldsViewModel.Email" class="form-control" />
                        <span asp-validation-for="RegisterOtherFieldsViewModel.Email" class="text-danger"></span>
			</div>
                    <div class="form-group">
						<button type="submit" class="btn btn-warning col-xs-5 col-md-3 text-start">تایید نهایی</button>
						<button type="button" class="btn btn-warning col-xs-5 col-md-3 text-end" id="btn-later">بعدا</button>
                    </div>
                    </form>*@
                    break;
                }
            default:
                break;
        }
    </div>
</div>
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        $('#ruleClick').on('click', function () { window.location.href = "/Home/Rules"; });
        var lastAddressId = 'Address';
        var adrIndex = 1;
        $('#AddNewAddress').on('click', function () {
            debugger;
            var strAdress = $('#' + lastAddressId).html();
            strAdress = strAdress.split('UserAddresses[' + (adrIndex - 1).toString() + ']').join('UserAddresses[' + (adrIndex).toString() + ']');
            strAdress = strAdress.split('UserAddresses_' + (adrIndex - 1).toString() + '_').join('UserAddresses_' + (adrIndex).toString() + '_');
            UserAddresses_0__ZipCode
            strAdress = '<div id="Address' + adrIndex.toString() + '">' + strAdress + '</div>';
            $(strAdress).insertAfter('#' + lastAddressId);
            lastAddressId = 'Address' + adrIndex.toString();
            adrIndex++;
        })
        $('#DelLastAddress').on('click', function () {
            if (lastAddressId == "Address")
                return;
            $('#' + lastAddressId).remove();
            adrIndex--;
            lastAddressId = 'Address' + (adrIndex - 1).toString();
            lastAddressId = lastAddressId == "Address0" ? "Address" : lastAddressId;
        });

        $('.Province').on('click', function () {
            var thisId = $(this).attr('id');
            thisId = thisId.split('ProvinceId').join('CityId');
            $('#' + thisId).html('');
            var pid = $(this).val();

            $.post('/Account/LoadCityByProvinceId', { pid: pid }, function (data, status) {
                var strValue = '<option value="">لطفا انتخاب کنید</option>';
                for (var i = 0; i < data.length; i++) {
                    strValue += '<option value="' + data[i].cityId + '">' + data[i].name + '</option>';
                }
                $('#' + thisId).html(strValue);
            })
        })

        //$('form').submit(function (e) {
        //    if (isResendCode == false && validateNationalCode($('#NationalCode').val()) == false && $('#PageIndex').val()=="5") {
        //        e.preventDefault();
        //        $('#NationalCodeErr').html('کد ملی وارد شده صحیح نیست. لطفا دوباره بررسی نمایید');
        //        $('#NationalCode').focus();
        //    }
        //    //if (isResendCode == false && $('#rule').prop('checked') == false && $('#PageIndex').val() == "5") {
        //    //    e.preventDefault();
        //    //    $('#ruleErr').html('برای ثبتنام قوانین را باید بپذیرید.');
        //    //    $('#rule').focus();
        //    //}
        //});
        function validateNationalCode(nc) {
            var sumNaCode = 0;
            for (var i = 0; i < nc.length - 1; i++) {
                sumNaCode = sumNaCode + parseInt(nc[i]) * (10 - i);
            }
            console.log(sumNaCode);
            console.log(sumNaCode % 11);
            if (sumNaCode % 11 < 2) {
                if ((sumNaCode % 11).toString() == nc[9])
                    return true;
            } else {
                if ((11 - (sumNaCode % 11)).toString() == nc[9])
                    return true;
            }
            return false;
        }
    </script>
    @if (ViewBag.SkipOnboard == false && ViewBag.ShowOnboard && onBoardPage)
    {
        <script src="/onboard/slick.min.js"></script>
        <script id="rendered-js">
            $('.slider').slick({
            arrows: false,
            dots: true,
            infinite: false,
            speed: 0,
            focusOnSelect: false,
            customPaging: function (slider, i) {
            return '<a><svg width="100%" height="100%" viewBox="0 0 16 16"><circle cx="8" cy="8" r="4"></circle><ellipse cx="8" cy="8" rx="8" ry="4"></ellipse> </svg></a>';
            }
            }).
            on('beforeChange', function (event, slick, currentSlide, nextSlide) {
            $('.item').removeClass('from-right from-left ready');
            c = currentSlide < nextSlide ? 'from-right' : 'from-left';
            $('.item').eq(nextSlide).addClass(c);
            }).on('afterChange', function (event, slick, currentSlide) {
            $('.item').eq(currentSlide).addClass('ready');
            });
            var timer = setInterval(function () {
            if ($($('.onboard li')[0]).attr('class') == "slick-active")
            $($('.onboard li')[1]).trigger('click');
            else if ($($('.onboard li')[1]).attr('class') == "slick-active")
            $($('.onboard li')[2]).trigger('click');
            else if ($($('.onboard li')[2]).attr('class') == "slick-active") {
            $($('.ready')[0]).trigger('click');
            clearInterval(timer);
            }
            }, 4000);
            $('.ready').on('click', function () { $('.onboard').hide(); $('.login').show(); })
            //# sourceURL=pen.js
        </script>
    }

    @if (Model.PageIndex == 3)
    {
        <script type="text/javascript">
            var clientFirstdateTiem = new Date().getTime();
            var x = setInterval(getNewCounter, 1000);
            function getNewCounter() {
                var noEnd = false;
                var noStart = false;
                var StartDate = new Date('@DateTime.Now.AddDays(-1)').getTime();
                if ($('#timer').attr('StartDate'))
                    StartDate = new Date($('#timer').attr('StartDate')).getTime();
                else
                    noStart = true;
                var serverdate = new Date('@DateTime.Now').getTime();
                var clientdate = new Date().getTime();
                var countDownDateIsStartDate = true;
                var countDownDate = StartDate;
                if ((StartDate - serverdate - (clientdate - clientFirstdateTiem)) < 0) {
                    countDownDateIsStartDate = false;
                }
                var distance = countDownDate - serverdate - (clientdate - clientFirstdateTiem);
                // Time calculations for days, hours, minutes and seconds
                //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                //var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                var relative = "";
                relative += minutes + ":" + seconds + "";
                if (minutes < 0) {
                    relative = "00:00";
                    clearInterval(x);
                }
                $('#timer').html(relative);
                if (distance < 0 && noEnd) {
                    $('#timer').html("بدون محدودیت زمانی");
                }

            }
        </script>

        <script type="text/javascript">
        var isResendCode=false;
            $('#resend').on('click', function () {
                isResendCode=true;
                $('#PageIndex').val('2'); $('.col-md-5 form input').removeAttr("required"); $('.col-md-5 form').submit();
            });
            $('#editPhone').on('click', function () { window.location.href = "/Account/Register?SkipOnboard=true&Introducer=" + '@Model.Introducer&RegisterFirstPageViewModel.Mobile=@Model.RegisterFirstPageViewModel.Mobile'; });
            $('#SMSConfirmText').focus();
        </script>

    }
   @* else if (Model.PageIndex == 5)
    {
        <link rel="stylesheet" href="/new/css/jalaliDatepicker.min.css">
        <script src="/new/js/jalaliDatepicker.min.js"></script>
        <script>
            jalaliDatepicker.startWatch({
                minDate: "attr",
                maxDate: "attr"
            });
        </script>

        <script type="text/javascript">
            $('#btn-later').on('click', function () {
                window.location.href = $('#returnUrl').val() ? $('#returnUrl').val() : "/";
            });

            try {
                $('.jalaliDatePicker').remove();
                $('.persian-date').each(function (index, elem) {
                    if ($(this).val())
                        ;
                    else
                        $(this).val('1360/06/15');
                    $(this).ShamsiDatePicker(false);
                });
            } catch (e) {

            }
        </script>
    }*@
}