@*@model ShppaingPart.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";

}

<h2>@ViewData["Title"]</h2>
@if (ViewBag.ConfirmSMS != null)
{
    <label class="label-success">اطلاعات شما با موفقیت ثبت گردید بعد از ورود تاییدیه پیامک شما می توانید از خدمات سامانه بهره ببرید.</label>
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-action="SMSRegister" method="post">
        <h4>کد تاییده پیامک شده.</h4>
        <hr />
        <input type="hidden" asp-for="UserName" />
        <input type="hidden" value="@ViewBag.FCMToken" name="FCMToken" />
        <input type="hidden" asp-for="Mobile" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SMSConfirmText"></label>
            <input asp-for="SMSConfirmText" class="form-control" autocomplete="off" />
            <span asp-validation-for="SMSConfirmText" class="text-danger"></span>
            <span class="text-danger">@ViewBag.Err</span>
        </div>
        <button type="submit" class="btn btn-default">تایید و فعال سازی</button>

    </form>
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-action="Register" method="post">
        <input type="hidden" asp-for="UserName"  />
        <input type="hidden" asp-for="Mobile"  />
        <input type="hidden" name="NewSmsCode" value="true"  />

        <button type="submit" class="btn btn-default">درخواست کد پیامک جدید</button>
    </form>

    return;
}
@if (ViewBag.ConfirmInfo != null)
{
    <label class="label-success">اطلاعات شما با موفقیت ثبت گردید بعد از تایید مدیریت شما می توانید از خدمات سامانه بهره ببرید.</label>
    <a href="/Info/Index" class="btn btn-primary">صفحه اصلی</a>
    return;
}
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>ثبت نام کاربران.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Introducer"></label>
                <input asp-for="Introducer" class="form-control" />
                <span asp-validation-for="Introducer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalCode"></label>
                <input asp-for="NationalCode" class="form-control" />
                <span asp-validation-for="NationalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfBirth"></label>
                <input asp-for="YearOfBirth" class="form-control" />
                <span asp-validation-for="YearOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div id="Address">
                <div class="form-group" id="lastItem">
                    <label asp-for="UserAddresses[0].ProvinceId"></label>
                    <select asp-for="UserAddresses[0].ProvinceId" class="form-control Province" asp-items="ViewBag.Provinces"><option value="">لطفا انتخاب کنید</option></select>
                    <span asp-validation-for="UserAddresses[0].ProvinceId" class="text-danger"></span>
                </div>
                <div class="form-group" id="lastItem">
                    <label asp-for="UserAddresses[0].CityId"></label>
                    <select asp-for="UserAddresses[0].CityId" class="form-control"></select>
                    <span asp-validation-for="UserAddresses[0].CityId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].CountryName"></label>
                    <input asp-for="UserAddresses[0].CountryName" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].CountryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].Quarter"></label>
                    <input asp-for="UserAddresses[0].Quarter" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].Quarter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].Street"></label>
                    <input asp-for="UserAddresses[0].Street" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].SecondStreet"></label>
                    <input asp-for="UserAddresses[0].SecondStreet" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].SecondStreet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].Alley"></label>
                    <input asp-for="UserAddresses[0].Alley" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].Alley" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].SecondAlley"></label>
                    <input asp-for="UserAddresses[0].SecondAlley" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].SecondAlley" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].Others"></label>
                    <input asp-for="UserAddresses[0].Others" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].Others" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].BoxNO"></label>
                    <input asp-for="UserAddresses[0].BoxNO" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].BoxNO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].UnitNo"></label>
                    <input asp-for="UserAddresses[0].UnitNo" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].UnitNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].Floor"></label>
                    <input asp-for="UserAddresses[0].Floor" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].Floor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserAddresses[0].ZipCode"></label>
                    <input asp-for="UserAddresses[0].ZipCode" class="form-control" />
                    <span asp-validation-for="UserAddresses[0].ZipCode" class="text-danger"></span>
                </div>
            </div>
            <button type="button" class="btn-success" id="AddNewAddress">افزودن آدرس جدید</button>
            <button type="button" class="btn-success" id="DelLastAddress">حذف آخرین آدرس</button>
            <button type="submit" class="btn btn-default">ثبت نام</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        var lastAddressId = 'Address';
        var adrIndex = 1;
        $('#AddNewAddress').on('click', function () {
            debugger;
            var strAdress = $('#' + lastAddressId).html();
            strAdress = strAdress.split('UserAddresses[' + (adrIndex - 1).toString() + ']').join('UserAddresses[' + (adrIndex).toString() + ']');
            strAdress = strAdress.split('UserAddresses_' + (adrIndex - 1).toString() + '_').join('UserAddresses_' + (adrIndex).toString() + '_');
            UserAddresses_0__ZipCode
            strAdress = '<div id="Address' + adrIndex.toString() + '">' + strAdress + '</div>';
            $(strAdress).insertAfter('#' + lastAddressId);
            lastAddressId = 'Address' + adrIndex.toString();
            adrIndex++;
        })
        $('#DelLastAddress').on('click', function () {
            if (lastAddressId == "Address")
                return;
            $('#' + lastAddressId).remove();
            adrIndex--;
            lastAddressId = 'Address' + (adrIndex - 1).toString();
            lastAddressId = lastAddressId == "Address0" ? "Address" : lastAddressId;
        });

        $('.Province').on('click', function () {
            var thisId = $(this).attr('id');
            thisId = thisId.split('ProvinceId').join('CityId');
            $('#' + thisId).html('');
            var pid = $(this).val();

            $.post('/Account/LoadCityByProvinceId', { pid: pid }, function (data, status) {
                var strValue = '<option value="">لطفا انتخاب کنید</option>';
                for (var i = 0; i < data.length; i++) {
                    strValue += '<option value="' + data[i].cityId + '">' + data[i].name + '</option>';
                }
                $('#' + thisId).html(strValue);
            })
        })

        $('form').submit(function (e) {
            if (validateNationalCode($('#NationalCode').val()) == false) {
                e.preventDefault();
                alert('کد ملی وارد شده صحیح نیست. لطفا دوباره بررسی نمایید');
                $('#NationalCode').focus();
            }
        });
        function validateNationalCode(nc) {
            var sumNaCode = 0;
            for (var i = 0; i < nc.length - 1; i++) {
                sumNaCode = sumNaCode+parseInt(nc[i]) * (10 - i);
            }
            console.log(sumNaCode);
            console.log(sumNaCode % 11);
            if (sumNaCode % 11 < 2) {
                if ((sumNaCode % 11).toString() == nc[9])
                    return true;
            } else {
                if ((11 - (sumNaCode % 11)).toString() == nc[9])
                    return true;
            }
            return false;
        }
    </script>
}*@
