@model Hotel24Suggestion
@{
    ViewData["Title"] = "اطلاعات هتل ها";
	Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>اطلاعات هتل ها</h1>

<script>
    function commafy(num) {
        var str = num.toString().split('.');
        if (str[0].length >= 5) {
            str[0] = str[0].replace(/(\d)(?=(\d{3})+$)/g, '$1,');
        }
        if (str[1] && str[1].length >= 5) {
            str[1] = str[1].replace(/(\d{3})/g, '$1 ');
        }
        return str.join(',');
    }

    function calcPrice(adultPrice, BabyPrice, adultCount, childsAges){
        var childPrice = 0;
        if (childsAges && childsAges.length > 0) {
            var Frees = childsAges.filter(r => parseInt(r) <= 2);
            if (Frees && Frees.length>0) {
                if (Frees.length > 1) {
                    childPrice = (childsAges.length - 1) * adultPrice;
                }

            } else {
                var halfPrice = childsAges.filter(r => parseInt(r) <= 7)
                if (halfPrice && halfPrice.length > 0) {
                    if (halfPrice.length > 1) {
                        childPrice = (childsAges.length - 1) * adultPrice + BabyPrice;
                    }else{
                        childPrice = BabyPrice;
                    }
                }
            }
            var adultsToo = childsAges.filter(r => parseInt(r) > 7).length;
            adultCount += adultsToo;

        }
        return " " + commafy(adultPrice * adultCount + childPrice) + " ريال";
    }
</script>
<label class="txt-danger" >
    @ViewBag.Mess
</label>
@if(Model==null || Model.Rooms==null){
    return;
}
<div id="SearchContainer" class="container">
	<div id="appRoot">
		<div class="row HotelResult mt-md-3 mt-2">
			<div class="col">
				<div class="HotelResult__container">
					<div id="hotelList">
                        @foreach (var item in Model.Rooms)
                        {
                            <div data-hotel-id="@item.HotelId" class="HotelResult__item false" data-provider="8" data-testid="result-available-hotel">
							<a class="HotelResult__item__main color-inherit">
								<div class="HotelResult__item__container">
                                        
									<div class="campaign-labels d-flex undefined">
										<div class="result-item-campaign-label discount" style="background-color: rgb(153, 102, 255);">مجموع تخفیف شما از این خرید توسط همپیشه : <span>@item.DiscountPrices.ToString("#,#.##") ريال</span></div>
									</div>
									<div class="HotelResult__item__main_container">
										<div class="HotelResult__item__main_info">
                                                <h4 class="HotelResult__item__name" data-testid="result-title">نام هتل:  @item.HotelName</h4>
											<p class="HotelResult__item__top_info">
												<button class="btn-link btn-show-on-map d-flex align-items-start underline-none" data-testid="result-region-info-button" id="show-on-map-btn">
													<img class="mr-1" src="https://cdn.enuygun.com/otel/build/images/map-icon.svg" alt="Map Icon" id="show-on-map-icon" />
                                                        <div data-testid="result-region-info" id="result-region-info-btn">عنوان اتاق: @item.RoomTypeName</div>
												</button>
											</p>
											<div class="room-concept" data-testid="result-room-concept">
												<span class="room-concept__item"><img class="room-concept__icon" src="https://cdn.enuygun.com/otel/static/images/concept-icons/AS.svg" />عنوان تعرفه: @item.RatePlansName</span>
											</div>
											<div class="room-concept" data-testid="result-room-concept">
                                                <span class="room-concept__item"><img class="room-concept__icon" src="https://cdn.enuygun.com/otel/static/images/concept-icons/AS.svg" />به ازای هر فرد بالغ : @item.Prices.ToString("#,#.##") ريال</span>
											</div>
											<div class="room-concept" data-testid="result-room-concept">
                                                <span class="room-concept__item"><img class="room-concept__icon" src="https://cdn.enuygun.com/otel/static/images/concept-icons/AS.svg" />به ازای کودک(2 تا7 سال) : @item.WithBabyPrice.ToString("#,#.##") ريال</span>
											</div>
											<div class="room-concept" data-testid="result-room-concept">
                                                <span class="room-concept__item"><img class="room-concept__icon" src="https://cdn.enuygun.com/otel/static/images/concept-icons/AS.svg" />هزینه یک تخت اضافه : @item.WithExtraPrices.ToString("#,#.##") ريال</span>
											</div>
											<div class="room-concept" data-testid="result-room-concept">
                                                <span class="room-concept__item"><img class="room-concept__icon" src="https://cdn.enuygun.com/otel/static/images/concept-icons/AS.svg" />به ازای نوزاد(زیر دو سال) : رایگان</span>
											</div>
											<div class="room-concept" data-testid="result-room-concept">
                                                <span class="room-concept__item"><img class="room-concept__icon" src="https://cdn.enuygun.com/otel/static/images/concept-icons/AS.svg" />تعرفه نوزاد یا کودک فقط شامل یک نفر می شود</span>
											</div>
											<div class="room-concept" data-testid="result-room-concept">
                                                <span class="room-concept__item"><img class="room-concept__icon" src="https://cdn.enuygun.com/otel/static/images/concept-icons/AS.svg" />تعداد روز انتخابی: @item.DayCount.ToString("#,#.##")</span>
											</div>
											<div class="room-concept" data-testid="result-room-concept">
                                                <span class="room-concept__item"><img class="room-concept__icon" src="https://cdn.enuygun.com/otel/static/images/concept-icons/AS.svg" />از روز: @(ShppaingPart.Controllers.SharedLogic.ToShamsi(ViewBag.input.checkInDate)) تا روز @(ShppaingPart.Controllers.SharedLogic.ToShamsi(ViewBag.input.checkOutDate))</span>
                                            </div>
											<div class="room-concept" data-testid="result-room-concept">
                                                    <span class="room-concept__item"><img class="room-concept__icon" src="https://cdn.enuygun.com/otel/static/images/concept-icons/AS.svg" />مجموع مبلغ: <script>document.write(calcPrice(@item.Prices, @item.WithBabyPrice, @ViewBag.input.Adult, @(ViewBag.input.Childs != null?"["+string.Join(",", ViewBag.input.Childs)+"]":"[]")))</script></span>
                                            </div>
                                            @* <div class="distance-item mt-2 HotelResult__item__distance-info" data-tesid="result-city-center"><i class="ei-my-location HotelResult__item__distance-info"></i> </div> *@
											@* <div class="child-item mt-2"><img class="mr-1" src="https://cdn.enuygun.com/otel/build/images/child-icon.svg" /> 0-7 yaş ücretsiz</div> *@
										</div>
										<div class="HotelResult__item__review_info">
											@* <div class="d-flex justify-content-end align-items-center">
												<div class="mb-2">
													<div class="HotelResult__item-review d-flex align-items-center">
														<div class="d-flex flex-column"><span class="font-weight-600" data-testid="result-review-text">Olağanüstü</span><span data-testid="result-review-count" class="font-size-sm">8 yorum</span></div>
														<span class="HotelResult__item-review-badge" data-testid="result-review-score">9,6</span>
													</div>
												</div>
											</div> *@
											<div class="select-detail-box mt-0">
                                                    <button class="btn btn-success select-btn select-btn--inversed mt-2 font-size-sm btn-reserve" data-testid="no-result-button" data-hotelid="@item.HotelId" data-rate-plan-id="@item.RatePlanId" data-roomid="@item.RoomTypeId" data-person-count="@(ViewBag.input.Adult)">
                                                        @* data-person-count="@(ViewBag.input.Adult + ViewBag.input.Childs.Length)" *@
													<span class="change-date-text">رزرو کن</span> <i class="ei-chevron-right color-black"></i>
												</button>
											</div>
										</div>
									</div>
									@* <div class="d-flex justify-content-end member-special-offer-area"><span class="text-right text-danger">Seçtiğiniz tarihler için bu seçenek tükendi.</span></div> *@
								</div>
							</a>
                            </div>
                        }
					</div>
				</div>

				<div class="persons d-none">
					<div>
					    <div class="person person0">
						    <fieldset>
                                <legend></legend>
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                        <label >
                                            <div>نام</div>
                                            <input type="text" id="person0name" class="form-control"/>
                                        </label>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                        <label>
                                            <div>نام خانوادگی</div>
                                            <input type="text" id="person0lname" class="form-control" />
                                        </label>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                        <label >
                                            <div>کد ملی</div>
                                            <input type="text" id="person0nationalcode" class="form-control" />
                                        </label>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                        <label >
                                            <div>موبایل</div>
                                            <input type="text" id="person0mobile" class="form-control" />
                                        </label>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-sm-6">
                                        <label >
                                            <div>ایمیل</div>
                                            <input type="text" id="person0email" class="form-control" />
                                        </label>
									</div>
									<div class="col-xl-3 col-lg-4 col-sm-6">
										<label>
											<div>شماره پاسپورت</div>
											<input type="text" id="person0PassaportNo" class="form-control" />
										</label>
									</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <button id="savePersonInfoButton" class="btn btn-primary" >تایید و ارسال</button>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>



@section headerupper {
	@* <link rel="preload" href="https://cdn2.enuygun.com/media/lib/uploads/image/homepages-summer-bg-59600.webp" as="image" /> *@
    <script>
        function handleOneTrustLoad() {
            if (typeof window === "undefined" || !("OneTrust" in window)) return;

            const $ot = window.OneTrust;

            if (!$ot?.IsAlertBoxClosedAndValid()) {
                const $ot_c00002 = document.getElementById("ot-group-id-C0002");
                const $ot_c00004 = document.getElementById("ot-group-id-C0004");

                if ($ot_c00002.checked) {
                    $ot_c00002.click();
                }
                if ($ot_c00004.checked) {
                    $ot_c00004.click();
                }
            }
        }
    </script>
    <link rel="preload" as="script" href="/enuygun/chunks/consent/OtAutoBlock.js" />
    <link rel="preload" as="script" href="/enuygun/chunks/scripttemplates/otSDKStub.js" data-document-language="true" charset="UTF-8" data-domain-script="09f1c894-2c3f-4626-977c-910163434b5b" />
    <script type="text/javascript" src="/enuygun/chunks/consent/OtAutoBlock.js"></script>
    <script src="/enuygun/chunks/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8"></script>
    <script id="optanon-wrapper" type="text/javascript">
        {
            function OptanonWrapper() {
                handleOneTrustLoad();
            }
        }
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <script type="text/javascript" src="/enuygun/chunks/hotel.js"> 
    </script>
    <meta name="theme-color" content="#2dc44d" />
    <meta name="description" content="2 Eylül Tarihli Antalya Otel Arama Sonuçları listeleniyor." />
    <meta name="keywords" content="" />
    <meta property="fb:app_id" content="166275857694" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="2 Eylül Tarihli Antalya Otel Arama Sonuçları | ENUYGUN" />
    <meta property="og:description" content="2 Eylül Tarihli Antalya Otel Arama Sonuçları listeleniyor." />
    <meta property="og:image" content="https://cdn.enuygun.com/otel/v-26128/static/images/og-image.jpg" />
    <meta property="og:locale" content="fa_IR" />
    <meta name="apple-itunes-app" content="app-id=669210250" app-argument=" https://apps.apple.com/tr/app/id669210250" />
    <meta name="google-play-app" content="app-id=com.mobilatolye.android.enuygun" />
    <meta http-equiv="content-language" content="fa" />

    <meta name="robots" content="noindex" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" type="text/css" media="print" onload="this.media='all'" />
    <link rel="shortcut icon" href="https://cdn.enuygun.com/bundles/enuygunwebui/img/favicon.ico?v=3" />
    <link rel="apple-touch-icon" href="https://cdn.enuygun.com/otel/static/images/touch-icon-iphone.png" />
    <script>
        var loadJS = function (src, done) {
            var script = document.createElement("script");
            script.src = src;
            script.onload = function () {
                done && done();
            };
            script.onerror = function () {
                done && done();
            };
            document.head.appendChild(script);
        };
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
    </script>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f,
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.setAttributeNode(d.createAttribute("data-ot-ignore"));
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f = d.getElementById("optanon-wrapper");
            f.insertAdjacentElement("afterend", j);
        })(window, document, "script", "dataLayer", "GTM-PPNXR7C");
    </script>
    <script>
        window.addEventListener("load", function () {
            loadJS("https://cdn.enuygun.com/otel/v-26128/build/sentry.js");
        });
    </script>
    <script type="text/javascript" defer>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function () {
            var gads = document.createElement("script");
            gads.async = true;
            gads.type = "text/javascript";
            var useSSL = "https:" == document.location.protocol;
            gads.src = (useSSL ? "https:" : "http:") + "//www.googletagservices.com/tag/js/gpt.js";
            var node = document.getElementsByTagName("script")[0];
            node.parentNode.insertBefore(gads, node);
        })();
    </script>
    <script type="text/javascript" defer>
        googletag.cmd.push(function () {
            var ds = "/",
                key = ds + "4519939" + ds;
            googletag
                .defineSlot(key + "EnuygunCom_300x100_scrolldown", [300, 100], "dfp-000000005cf34d1700000000414f40df")
                .setCollapseEmptyDiv(true, true)
                .addService(googletag.pubads());
            googletag.pubads().setTargeting("modul", "otel");
            googletag.pubads().setTargeting("sub_modul", "karsilastir");
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
	<link rel="stylesheet" href="/enuygun/css/hotel.css" />
}


@section Scripts {
	<script>
		(function () {
			function c() {
				var b = a.contentDocument || a.contentWindow.document;
				if (b) {
					// var d = b.createElement('script');
					// d.innerHTML = "window.__CF$cv$params={r:'8b5b06e0b8b165e0',t:'MTcyNDA3OTc2OS4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";
					// b.getElementsByTagName('head')[0].appendChild(d)
				}
			}
			if (document.body) {
				var a = document.createElement('iframe');
				a.height = 1;
				a.width = 1;
				a.style.position = 'absolute';
				a.style.top = 0;
				a.style.left = 0;
				a.style.border = 'none';
				a.style.visibility = 'hidden';
				document.body.appendChild(a);
				if ('loading' !== document.readyState) c();
				else if (window.addEventListener) document.addEventListener('DOMContentLoaded', c);
				else {
					var e = document.onreadystatechange || function () { };
					document.onreadystatechange = function (b) {
						e(b);
						'loading' !== document.readyState && (document.onreadystatechange = e, c())
					}
				}
			}
		})();
	</script>
	<script defer src="/enuygun/chunks/vcd15cbe7772f49c399c6a5babf22c1241717689176015.js" data-cf-beacon='{"rayId":"8b5b06e0b8b165e0","serverTiming":{"name":{"cfL4":true}},"version":"2024.7.0","token":"6651ec1d9c3a41999fc99682236c8d1b"}'></script>

    <form enctype="multipart/form-data" action="/Travel/SendToBMS" id="frm_SendToBMS" method="post">
        <input type="hidden" name="property_id" id="property_id" />
        <input type="hidden" name="room_type_id" id="room_type_id" />
        <input type="hidden" name="check_in" value="@ViewBag.input.checkInDate" />
        <input type="hidden" name="check_out" value="@ViewBag.input.checkOutDate" />
        @* 
        <input type="hidden" name="booker_first_name" id="booker_first_name" value="" />
        <input type="hidden" name="booker_last_name" id="booker_last_name" value="" />
        <input type="hidden" name="booker_phone" id="booker_phone" value="" />
        <input type="hidden" name="booker_email" id="booker_email" value="" /> *@

        <input type="hidden" name="rate_plan_id" id="rate_plan_id" value="" />
        <input type="hidden" name="count" id="count" value="1" />
        <input type="hidden" name="guest_city_id" id="guest_city_id" value="@ViewBag.input.city" />
        <input type="hidden" name="adult_count" id="adult_count" value="@ViewBag.input.Adult" />
        @for (var i=0;ViewBag.input.Childs!=null && i<ViewBag.input.Childs.Length;i++)
        {
            <input type="hidden" name="children[@i]" value="@ViewBag.input.Childs[i]" />
        }
        <input type="hidden" name="webserviceRunDatailLogId" id="webserviceRunDatailLogId" value="@Model.Hotel24WorkflowDataRes.webserviceRunDatailLogId" />
        <input type="hidden" name="WorkFlowRunLogDetailId" id="WorkFlowRunLogDetailId" value="@Model.Hotel24WorkflowDataRes.WorkFlowRunLogDetailId" />
        <input type="hidden" name="workflowrunid" id="workflowrunid" value="@Model.Hotel24WorkflowDataRes.workflowrunid" />
        <input type="hidden" name="WorkFlowDetailsId" id="WorkFlowDetailsId" value="@Model.Hotel24WorkflowDataRes.WorkFlowDetailsId" />
        
        @* 
        public string checkInDate { get; set; }
        public string checkOutDate { get; set; }
        public int? city { get; set; }
        public string roomDetail { get; set; }
        public int Adult { get; set; }
        public int[] Childs { get; set; } = null;


        public int adult_count { get; set; }
        public int[] children { get; set; }
        public string guest_first_name { get; set; }
        public string guest_last_name { get; set; }
        public string guest_phone { get; set; }
        public string guest_email { get; set; }
        public string guest_national_code { get; set; }
        public string guest_passport_number { get; set; }
        public int guest_country_id { get; set; } = 222;
        public int guest_city_id { get; set; } *@
    </form>
    <script>
        var hotelid;
        var roomid;
        var personcount;
        var datarateplanid;
        $('.btn-reserve').on('click', function () {
            //data-hotelid="@@item.HotelId" data-roomid="@@item.RoomTypeId" data-person-count
            hotelid = $(this).attr('data-hotelid');
            $('#property_id').val(hotelid);
            roomid = $(this).attr('data-roomid');
            $('#room_type_id').val(roomid);
            datarateplanid = $(this).attr('data-rate-plan-id');
            $('#rate_plan_id').val(datarateplanid);
            personcount = $(this).attr('data-person-count');
            $('#adult_count').val(personcount);
            $('.HotelResult__container').addClass('d-none');
            $('.persons').removeClass('d-none');
            $('.persons .person:not(.person0)').remove();
            $('fieldset').eq(0).find('legend').html('مشخصات نفر 1 :');
            for (var i = 0; i < personcount; i++) {
                if (i > 0) {
                    var newPerson = $('.person0').parent().html();
                    newPerson = newPerson.split('id="person0').join('id="person' + i);
                    $('.person0').parent().append(newPerson);

                    $('fieldset').eq(i).find('legend').html('مشخصات نفر ' + (i + 1).toString() + ' :');
                }
                $('#frm_SendToBMS').append('<input type="hidden" name="guests[' + i + '].first_name" id="guests' + i + '_first_name" value="" />');
                $('#frm_SendToBMS').append('<input type="hidden" name="guests[' + i + '].last_name" id="guests' + i + '_last_name" value="" />');
                $('#frm_SendToBMS').append('<input type="hidden" name="guests[' + i + '].phone" id="guests' + i + '_phone" value="" />');
                $('#frm_SendToBMS').append('<input type="hidden" name="guests[' + i + '].email" id="guests' + i + '_email" value="" />');
                $('#frm_SendToBMS').append('<input type="hidden" name="guests[' + i + '].national_code" id="guests' + i + '_national_code" value="" />');
                $('#frm_SendToBMS').append('<input type="hidden" name="guests[' + i + '].passport_number" id="guests' + i + '_passport_number" value="" />');
            }
        });
        $('#savePersonInfoButton').on('click', function () {
            for (var i = 0; i < personcount; i++) {
                $('#guests'+i+'_first_name').val($('#person'+i+'name').val());
                $('#guests'+i+'_last_name').val($('#person'+i+'lname').val());
                $('#guests'+i+'_phone').val($('#person'+i+'mobile').val());
                $('#guests'+i+'_email').val($('#person'+i+'email').val());
                $('#guests'+i+'_national_code').val($('#person'+i+'nationalcode').val());
                $('#guests'+i+'_passport_number').val($('#person'+i+'PassaportNo').val());
            }
            $('#frm_SendToBMS').submit();
        })
    </script>
}