@model Hotel24Dto
@using Newtonsoft.Json;
@{
	ViewData["Title"] = "اطلاعات هتل ها";
	Layout = "~/Views/Shared/_LayoutTravel.cshtml";
}

<div class="d-none d-lg-block desk-search">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<h2>Hampisheh</h2>
			</div>
			<div class="col-9">
				<div class="desk-search-links">
					<a href="#">لینک 1</a>
					<a href="#">لینک 2</a>
					<a href="#">لینک 3</a>
					<a href="#">لینک 4</a>
					<a href="#">لینک 5</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="search-form-2 d-none d-lg-block">
	<div class="container">
		<div class="row">
			<div class="select-group pt-3 pb-1">
				<div class="select-hotel" data-bs-toggle="modal" data-bs-target="#Select_hotel">
					<span class="">انتخاب شهر</span>
					<div class="hotel-name" id="hotel-name">نام شهر</div>
				</div>
			</div>

			<input type="hidden" id="search-id" name="search-id" value="" />

			<div class="clearfix d-block d-md-none"></div>



			<div class="select-group mt-2 days">
				<div class="select-box">
					<div class="dtext">تاریخ ورود</div>
					<div class="day text-center" id="startDate">روز / ماه / سال</div>
				</div>

				<img src="img/calender.jpg" alt="" />

				<div class="select-box">
					<div class="dtext">تاریخ خروج</div>
					<div class="day text-center" id="endDate">روز / ماه / سال</div>
				</div>
			</div>


			<input type="hidden" id="go" name="go" value="" />

			<div class="clearfix d-block d-md-none"></div>

			<div class="select-group mt-2">
				<div class="select-box-2" data-bs-toggle="modal" data-bs-target="#Select_person">
					<div class="row">
						<div class="col">
							<span id="person">0</span>  نفر
						</div>
						<div class="col">
							<strong>+</strong> افزودن
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix d-block d-md-none"></div>

			<div class="sng pt-3">
				<input type="submit" class="submit-button search-submit" id="search-submit" value="جستجوی هتل" />
			</div>
		</div>
	</div>
</div>


<div class="search-top clearfix d-block d-lg-none">
	<div class="icon-left">
		<a href="#"><i class="bi bi-arrow-left-short"></i></a>
	</div>
	<div class="search-detail">
		<h2>استانبول</h2>
		<span>متن تست</span>
	</div>
	<div class="icon-right">
		<a href="#"><i class="bi bi-box-arrow-up"></i></a>
	</div>
</div>

<div class="search-menu-3 clearfix d-block d-lg-none">
	<div class="menu-3">
		<a href="#" class="navy-bg">لینک 1</a>
	</div>
	<div class="menu-3">
		<a href="#" class="navy-bg">فیلتر</a>
	</div>
	<div class="menu-3 map-color">
		<a href="#" class="map-bg">نقشه</a>
	</div>
</div>

<div class="hotel-result">

	<div class="row">
		<div class="col-3 d-none d-lg-block">
			<div class="filter-map">
				<a href="#">لینک نقشه</a>
			</div>
			<div class="search-filter">
				<div class="filter-title">
					فیلتر
				</div>

				<div class="filter-items">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="g1">
						<label class="form-check-label" for="g1">
							گزینه 1
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="g2">
						<label class="form-check-label" for="g2">
							گزینه 2
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="g3">
						<label class="form-check-label" for="g3">
							گزینه 3
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="g4">
						<label class="form-check-label" for="g4">
							گزینه 4
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="g5">
						<label class="form-check-label" for="g5">
							گزینه 5
						</label>
					</div>
				</div>
			</div>

		</div>
		<div class="col-12 col-lg-9">
			<div class="row pt-3">
				<div class="col-12 d-none d-lg-block search-r-links mb-2">
					<h4>عنوان تست</h4>
					<a href="#">لینک تست</a>
					<a href="#">لینک تست</a>
					<a href="#">لینک تست</a>
					<a href="#">لینک تست</a>
				</div>
				<div class="col-12">
					@if (Model != null && Model.Hotels != null)
					{
						@foreach (var item in Model.Hotels)
						{
							<a role="button" class="hotel" data-id="@item.id">
								<div class="hotel-list">
									<div class="hotel-img set-bg" data-bg="@item.images[0]"></div>
									<div class="hotel-detail">
										@* <div class="icon-heart float-end">
											<i class="bi bi-heart"></i>
										</div> *@
										<h2 class="hotel-name">@item.name</h2>
										<div class="hotel-score">
											<div class="navy-bg float-start score rounded text-white px-2">@item.star </div>
											<span class="px-2">ستاره</span>
										</div>
										<h4 class="pt-3">اطلاعات هتل</h4>

										<div><i class="bi bi-arrows-move"></i> @(string.Join("، ", item.facilities.Take(3)))</div>
										<div><i class="bi bi-geo-alt"></i> @item.address</div>
										@if (item.Prices != null)
										{
											<h4 class="price text-end navy">شروع از @(((double)item.Prices).ToString("N0")) ريال</h4>
										}
									</div>
								</div>
							</a>
						}
					}



				</div>
			</div>
		</div>
	</div>




</div>




<div class="bnav-space"></div>



<div class="bnav">

	<div class="menu">
		<a href="index.html">
			<i class="bi bi-search"></i>جستجو
		</a>
	</div>
	<div class="menu">
		<a href="menu-2.html">
			<i class="bi bi-2-circle"></i>منو 2
		</a>
	</div>
	<div class="menu">
		<a href="menu-3.html">
			<i class="bi bi-3-circle"></i>منو 3
		</a>
	</div>
	<div class="menu">
		<a href="menu-4.html">
			<i class="bi bi-4-circle"></i>منو 4
		</a>
	</div>
	<div class="menu">
		<a href="menu-5.html">
			<i class="bi bi-person-circle"></i>منو 5
		</a>
	</div>

</div>


<div class="modal fade" id="Select_hotel" tabindex="-1" aria-labelledby="Select_hotel_Label" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="Select_hotel_Label">انتخاب هتل</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="modal-search-box">
					<input type="text" id="search_hotel" class="form-control modal-input" placeholder="نام هتل را وارد نمایید" />
				</div>

				<div id="results1"></div>
			</div>
		</div>
	</div>
</div>




<div class="modal fade" id="Select_date" tabindex="-1" aria-labelledby="date_picker_Label" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen wdate">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="date_picker_Label">انتخاب تاریخ ورود و خروج</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" dir="ltr">
				<div id="date_result" class="text-success text-center"></div>
				<input type="text" class="datep" id="datepicker" />
			</div>

			<button data-bs-dismiss="modal" aria-label="Close" class="submit-button fix-bottom">بستن پنجره </button>
		</div>
	</div>
</div>



<div class="modal fade" id="Select_person" tabindex="-1" aria-labelledby="Select_person_Label" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="Select_person_Label">افزودن شخص</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" dir="rtl">
				<div class="row">

					<div class="col-8">
						متن 1
					</div>
					<div class="col-4">
						<div class="counter">
							<button class="button" id="minus">-</button>
							<span class="number" id="number">0</span>
							<button class="button" id="plus">+</button>
						</div>
					</div>

					<div class="col-8 mt-3">
						متن 2
					</div>
					<div class="col-4 mt-3">
						<div class="counter">
							<button class="button" id="minus2">-</button>
							<span class="number" id="number2">0</span>
							<button class="button" id="plus2">+</button>
						</div>
					</div>

					<hr class="mt-3" />

					<div id="options"></div>

					<button data-bs-dismiss="modal" aria-label="Close" class="submit-button fix-bottom">بستن پنجره</button>
				</div>
			</div>
		</div>
	</div>
</div>

<form id="hotelForm" action="/Travel/Hotel">
	<input type="hidden" name="city" id="city" asp-for="input.city" />
	<input type="hidden" name="checkInDate" id="checkInDate" asp-for="input.checkInDate" />
	<input type="hidden" name="checkOutDate" id="checkOutDate" asp-for="input.checkOutDate" />
	<input type="hidden" name="Adult" id="Adult" asp-for="input.Adult" />
	<input type="hidden" name="Childs" id="Childs" value="@(string.Join(",",Model.input.Childs??new int[0]))"  />
	<input type="hidden" name="hotelId" id="hotelId" />
</form>
@section Scripts{
	<script>
		$('.hotel').on('click',function(){
			var hotelId=$(this).attr('data-id');
			$('#hotelId').val(hotelId);
			$('#hotelForm').trigger('submit');
		});
	</script>
}