@model ShppaingPart.Models.Hotel24Dto
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "اطلاعات هتل ها";
    Layout = "~/Views/Shared/_LayoutTravel.cshtml";
}



<div class="d-none d-lg-block desk-search">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2>Hampisheh</h2>
            </div>
            <div class="col-9">
                <div class="desk-search-links">
                    <a href="#">لینک 1</a>
                    <a href="#">لینک 2</a>
                    <a href="#">لینک 3</a>
                    <a href="#">لینک 4</a>
                    <a href="#">لینک 5</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hotel-images set-bg d-block d-lg-none" data-bg="img/hotel1.jpg" data-bs-toggle="modal" data-bs-target="#hotel_img">
    <div class="hotel-top-icons clearfix">
        <div class="icon-left float-end">
            <a href="#"><i class="bi bi-arrow-left-short"></i></a>
        </div>
        <div class="icon-right float-start">
            <a href="#"><i class="bi bi-heart"></i></a>
        </div>
        <div class="icon-right float-start">
            <a href="#"><i class="bi bi-box-arrow-up"></i></a>
        </div>
    </div>
</div>

@if (Model == null || Model.Hotels.Count == 0)
{
    return;
}
<div class="hotel-page-detail">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>@(Model.Hotel.name)</h1>
                <div class="hotel-score">
                    <div class="navy-bg float-start score rounded text-white px-2">@Model.Hotel.star</div>
                    <span class="px-2">ستاره</span>
                    <div class="float-end stars">
                        @{
                            int star = 0;
                            if (int.TryParse(Model.Hotel.star, out star))
                            {
                                var i = 0;
                                for (; i < star; i++)
                                {
                                    <i class="bi bi-star-fill"></i>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-3 d-none d-lg-block">
                <a href="#" class="submit-menu">منو</a>
            </div>
        </div>
    </div>


    <div class="container pt-3">
        <div class="row">
            <div class="pic-list">
                @if (Model.Hotel.images != null && Model.Hotel.images.Count > 0)
                {
                    var index = 0;
                    @foreach (var item in Model.Hotel.images)
                    {
                        index++;
                        <div class="div@(index)"><img src="@item" alt="" /></div>

                    }
                }
            </div>
        </div>
    </div>


    <div class="map set-bg mt-3 d-block d-lg-none" data-bg="/newtem/rtl/img/loc.jpg">
        <div><i class="bi bi-geo-alt"></i> @Model.Hotel.address</div>
        <div><i class="bi bi-compass"></i> @Model.Hotel.longitude , @Model.Hotel.latitude</div>
        <div class="loca"><i class="bi bi-map"></i> نقشه</div>
    </div>
@* 
    <div class="rounded px-2 py-2 border mt-3  d-block d-lg-none">
        <div class="float-end"><i class="bi bi-pencil-square"></i></div>
        متن تست 1 | متن تست 2
    </div> *@

    <div class="pt-3  d-block d-lg-none">
            <input type="submit" class="submit-button selectroom" value="ارسال فرم" />
    </div>

    <div class="hotel-detail-links pt-3 sticky-top bg-white">
        <a href="#link1">لینک 1</a>
        <a href="#link2">لینک 2</a>
        <a href="#link3">لینک 3</a>
        <a href="#link4">لینک 4</a>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-3 d-none d-lg-block pt-2">
                <div class="filter-map">
                    <a href="#">لینک نقشه</a>
                </div>
            </div>

            <div class="col-9">

                <div class="hotel-page-descript mt-2" id="link1">
                    @foreach (var item in Model.Hotel.Rooms)
                    {

                        <div class="clearfix">
                            <h5>@item.RatePlansName</h5>
                            <span>@item.RoomTypeName</span>
                        </div>
                        <h6 class="pt-2">جزئیات</h6>
                        <div class="descript-box bg-white p-2 mb-2">
                            @* <div><i class="bi bi-geo-alt"></i>@item.BoardType </div> *@
                            <div><i class="bi bi-geo-alt"></i>@(item.Cancelable ? "قابلیت کنسل" : "") </div>
                            <div><i class="bi bi-geo-alt"></i>ظرفیت @item.RoomTypeCapacity نفر</div>
							<div><i class="bi bi-geo-alt"></i>بالغ: @(((double)item.Prices).ToString("N0")) ريال </div>
							<div><i class="bi bi-compass"></i> کودک: @(((double)item.WithBabyPrice).ToString("N0")) ريال</div>
							<div class="float-end"><h3>@(((double)item.Prices).ToString("N0")) ريال</h3></div>
                            <div><i class="bi bi-compass"></i> یک نفر اضافه: @(((double)item.WithExtraPrices).ToString("N0")) ريال</div>
                            <a role="button" class="select-room" data-typeid="@item.RoomTypeId" data-planid="@item.RatePlanId" >رزرو اتاق</a>
                        </div>
                    }
                </div>

                <div class="hotel-info mt-4" id="link2">
                    <h3>اطلاعات هتل</h3>
                    <span>
                        @(Model.Hotel.description)
                    </span>

                    <h5 class="text-primary pt-3">امکانات</h5>
                    <hr />
                    @* <h5><i class="bi bi-chat-left-text"></i> Title</h5> *@
                    <ul>
                        @foreach (var item in Model.Hotel.facilities)
                        {
                            <li>@item </li>
                        }
                    </ul>
                    <hr />
                    <h5 class="text-primary pt-3">قوانین</h5>
                    <hr />
                    @* <h5><i class="bi bi-chat-left-text"></i> Title</h5> *@
                    <ul>
                        @foreach (var item in Model.Hotel.rules)
                        {
                            <li><b>@item.Key :</b> @item.Value</li>
                        }
                    </ul>
                    @* <a href="#">منوی تست</a> *@
                </div>

@* 
                <div class="hotel-info-score mt-4" id="link3">
                    <h4>عنوان</h4>
                    <div class="score-box">
                        <h1 class="float-end">9.5</h1><span>امتیاز</span>
                        <div class="block pt-3">متن تست متن تست متن تست متن تست</div>

                        <div class="score-bar">
                            <div class="clearfix pt-2">
                                <strong class="float-end">8.5</strong>
                                <div>عنوان 1</div>
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="clearfix pt-2">
                                <strong class="float-end">6.5</strong>
                                <div>عنوان 1</div>
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="clearfix pt-2">
                                <strong class="float-end">7.3</strong>
                                <div>عنوان 1</div>
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 73%;" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="clearfix pt-2">
                                <strong class="float-end">9.5</strong>
                                <div>عنوان 1</div>
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="clearfix pt-2">
                                <strong class="float-end">9.2</strong>
                                <div>عنوان 1</div>
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 92%;" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="clearfix pt-2">
                                <strong class="float-end">9.0</strong>
                                <div>عنوان 1</div>
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 *@
            </div>
        </div>
    </div>

</div>








<div class="bnav-space"></div>
<div class="bnav">
    <div class="menu">
        <a href="hotel.html">
            <i class="bi bi-search"></i>جستجو
        </a>
    </div>
    <div class="menu">
        <a href="menu-2.html">
            <i class="bi bi-2-circle"></i>منو 2
        </a>
    </div>
    <div class="menu">
        <a href="menu-3.html">
            <i class="bi bi-3-circle"></i>منو 3
        </a>
    </div>
    <div class="menu">
        <a href="menu-4.html">
            <i class="bi bi-4-circle"></i>منو 4
        </a>
    </div>
    <div class="menu">
        <a href="menu-5.html">
            <i class="bi bi-person-circle"></i>منو 5
        </a>
    </div>
</div>


<div class="modal fade hotel-img" id="hotel_img" tabindex="-1" aria-labelledby="hotel_img" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content navy-bg text-white">
            <div class="modal-header">
                <h5> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="scroll-snap pt-4">

                    <div class="snap-hotel">
                        <div class="snap-title set-bg" data-bg="img/ber-1.jpg"></div>
                    </div>

                    <div class="snap-hotel">
                        <div class="snap-title set-bg" data-bg="img/mad-1.jpg"></div>
                    </div>

                    <div class="snap-hotel">
                        <div class="snap-title set-bg" data-bg="img/lon-1.jpg"></div>
                    </div>

                    <div class="snap-hotel">
                        <div class="snap-title set-bg" data-bg="img/bus-1.jpg"></div>
                    </div>

                </div>

                <button data-bs-dismiss="modal" aria-label="Close" class="submit-button fix-bottom">بستن پنجره </button>
            </div>
        </div>
    </div>
</div>


<form id="hotelForm" action="/Travel/SelectGuestForRoom">
    <input type="hidden" name="city" id="city" asp-for="input.city" />
    <input type="hidden" name="checkInDate" id="checkInDate" asp-for="input.checkInDate" />
    <input type="hidden" name="checkOutDate" id="checkOutDate" asp-for="input.checkOutDate" />
    <input type="hidden" name="Adult" id="Adult" asp-for="input.Adult" />
    <input type="hidden" name="Childs" id="Childs" asp-for="input.Childs" value="@(string.Join(",",Model.input.Childs??new int[0]))" />
    <input type="hidden" name="hotelId" id="hotelId" asp-for="input.hotelId" />
    <input type="hidden" name="room_type_id" id="room_type_id" asp-for="input.room_type_id" />
    <input type="hidden" name="roomDetail" id="roomDetail" asp-for="input.roomDetail" />
</form>
@section Scripts {
    <script>

        $('.select-room').on('click',function(){
            var room_type_id=$(this).attr('data-typeid');
            var roomDetail=$(this).attr('data-planid');
            $('#room_type_id').val(room_type_id);
            $('#roomDetail').val(roomDetail);
            $('#hotelForm').trigger('submit');
        });
    </script>
}