@model ShppaingPart.Models.Hotel24Dto
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "اطلاعات افراد";
    Layout = "~/Views/Shared/_LayoutTravel.cshtml";
    var itemIndex = 0;
}
<div class="d-none d-lg-block desk-search">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2>Hampisheh</h2>
            </div>
            <div class="col-9">
                <div class="desk-search-links">
                    <a href="#">لینک 1</a>
                    <a href="#">لینک 2</a>
                    <a href="#">لینک 3</a>
                    <a href="#">لینک 4</a>
                    <a href="#">لینک 5</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="search-top clearfix d-block d-lg-none">
    <div class="icon-left">
        <a href="#"><i class="bi bi-arrow-left-short"></i></a>
    </div>
    <div class="search-detail">
        <h3>متن آزمایشی</h3>
    </div>
    <div class="icon-right">
        <a href="#"><i class="bi bi-telephone-outbound-fill"></i></a>
    </div>


</div>


<div class="accordion acc-reserve" id="accordionExample">
    @foreach(var item in Model.Hotel.rules){
        itemIndex++;
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading@(itemIndex)">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(itemIndex)" aria-expanded="false" aria-controls="collapseOne">
                    @item.Key
                </button>
            </h2>
            <div id="collapse@(itemIndex)" class="accordion-collapse collapse" aria-labelledby="heading@(itemIndex)">
                <div class="accordion-body">
                    <div>
                        @item.Value
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<div class="reserve">
    <div class="form-box">
        <h3>اطلاعات تماس</h3>
        <div class="floating-label-content">
            <input class="floating-input" type="email" id="bookeremail" placeholder=" ">
            <label class="floating-label">ایمیل</label>
        </div>

        <div class="floating-label-content">
            <input class="floating-input" type="text" id="bookertel" placeholder="">
            <label class="floating-label">موبایل</label>
        </div>
    </div>

</div>




<div class="reserve" id="personinfos">
    <div class="form-box">
        <h3>اطلاعات افراد</h3>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                @for (var index = 0; index < Model.input.Adult; index++)
                {
                    <div>

                    <div class="row ff pt-3">
                        <div class="col-6">
                            <div class="floating-label-content">
                                <input class="floating-input" id="guests[@index].first_name" type="text" placeholder=" ">
                                <label class="floating-label">نام </label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="floating-label-content">
                                    <input class="floating-input" id="guests[@index].last_name" type="text" placeholder=" ">
                                <label class="floating-label">نام خانوادگی</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="floating-label-content">
                                    <input class="floating-input" id="guests[@index].phone" type="text" placeholder=" ">
                                <label class="floating-label">شماره تماس</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="floating-label-content">
                                    <input class="floating-input" id="guests[@index].email" type="text" placeholder=" ">
                                <label class="floating-label">ایمیل</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="floating-label-content">
                                    <input class="floating-input" id="guests[@index].national_code" type="text" placeholder=" ">
                                <label class="floating-label">کد ملی</label>
                            </div>
                        </div>
                        <h3>اطلاعات گذرنامه</h3>
                        <div class="col-6">
                            <div class="floating-label-content">
                                    <input class="floating-input" id="guests[@index].passport_number" type="text" placeholder="">
                                <label class="floating-label">شماره گذرنامه</label>
                            </div>
                        </div>
@* 
                        <div class="col-6 py-3">
                            <div class="floating-label-content">
                                <div class="day text-center" id="guests[0].birthDate">روز / ماه / سال</div>
                                <label class="floating-label">تاریخ تولد</label>
                            </div>
                        </div>
                        <div class="col-6 pt-3">
                            <select id="guests[0].nationality" class="floating-input">
                                <option value="222">ایرانی</option>
                                <option value="">خارجی</option>
                            </select>
                        </div>

                        <div class="col-3">
                            <label class="radio-box">
                                مرد
                                <input type="radio" checked="checked" id="guests[0].passport_number" value="true" name="radio1">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="radio-box">
                                زن
                                <input type="radio" name="radio1" id="guests[0].isMan" value="false">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <h3>اطلاعات گذرنامه</h3>
                        <div class="col-6">
                            <div class="floating-label-content">
                                <input class="floating-input" id="guests[0].engName" type="text" placeholder=" ">
                                <label class="floating-label">نام انگلیسی</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="floating-label-content">
                                <input class="floating-input" id="guests[0].engFamily" type="text" placeholder=" ">
                                <label class="floating-label">نام خانوادگی انگلیسی</label>
                            </div>
                        </div>
                        <div class="col-6 py-3">
                            <div class="floating-label-content">
                                <div class="day text-center" id="guests[0].expireDate">روز / ماه / سال</div>
                                <label class="floating-label">تاریخ انقضا</label>
                            </div>
                        </div> *@



                        <br /><br /><Br /><br /><br /><Br /><br /><br /><br />

                    </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>




<div class="reserve-bottom">
    <div class="clearfix">
        <div class="reserve-price">
            <span>مبلغ</span>
            <h2>@((Model.Room.Prices??0).ToString("N0"))</h2>
        </div>
        <div class="reserve-button">
            <button class="submit-button">رزرو</button>
        </div>
    </div>
    <div class="reserve-text">@Model.Hotel.name از @(ShppaingPart.Controllers.SharedLogic.ToShamsi(Model.input.checkInDate)) تا @(ShppaingPart.Controllers.SharedLogic.ToShamsi(Model.input.checkOutDate))</div>
</div>


@section Scripts{
    <form enctype="multipart/form-data" action="/Travel/SendToBMS"  id="frm_SendToBMS" method="post">
        <input type="hidden" name="property_id" id="property_id" asp-for="input.hotelId" />
        <input type="hidden" name="room_type_id" id="room_type_id" asp-for="input.room_type_id" />
        <input type="hidden" name="rate_plan_id" id="rate_plan_id" asp-for="input.rate_plan_id" />
        <input type="hidden" name="check_in" asp-for="input.checkInDate" />
        <input type="hidden" name="check_out" asp-for="input.checkOutDate" />

        <input type="hidden" name="count" id="count" value="1" />
        <input type="hidden" name="guest_city_id" id="guest_city_id" value="@ViewBag.input.city" />
        <input type="hidden" name="adult_count" id="adult_count" value="@ViewBag.input.Adult" />
        @for (var i = 0; ViewBag.input.Childs != null && i < ViewBag.input.Childs.Length; i++)
        {
            <input type="hidden" class="child" name="children[@i]" value="@ViewBag.input.Childs[i]" />
        }
        <input type="hidden" name="webserviceRunDatailLogId" id="webserviceRunDatailLogId" value="@Model.Hotel24WorkflowDataRes.webserviceRunDatailLogId" />
        <input type="hidden" name="WorkFlowRunLogDetailId" id="WorkFlowRunLogDetailId" value="@Model.Hotel24WorkflowDataRes.WorkFlowRunLogDetailId" />
        <input type="hidden" name="workflowrunid" id="workflowrunid" value="@Model.Hotel24WorkflowDataRes.workflowrunid" />
        <input type="hidden" name="WorkFlowDetailsId" id="WorkFlowDetailsId" value="@Model.Hotel24WorkflowDataRes.WorkFlowDetailsId" />
        <input type="hidden" name="booker_email" id="booker_email"  />
        <input type="hidden" name="booker_phone" id="booker_phone" />
    </form>
    <script>
        $('.submit-button').on('click',function(){
            $.each($('#personinfos input'),function(index,elem){
                var str='<input type="hidden" name="'+$(elem).attr('id')+'" />';
                $('#frm_SendToBMS').append(str);
                $('[name="'+$(elem).attr('id')+'"]').val($(elem).val())
            });
            $('#booker_phone').val($('#bookertel').val());
            $('#booker_email').val($('#bookeremail').val());
            $('#frm_SendToBMS').trigger('submit');
        });
    </script> 
@*     <script>

        var start = new persianDate();
        $('#birthDate').persianDatepicker({
            format: 'YYYY/MM/DD',
            autoClose: true,
            startDate: start.now().addDay(-365*100).toString("YYYY/MM/DD"),
            endDate: start.now().addDay(-1).toString("YYYY/MM/DD"),
            onSelect: function() {
                start2 = new persianDate();
            }
        });


        $('#expireDate').persianDatepicker({
            format: 'YYYY/MM/DD',
            autoClose: true,
            startDate: start.now().addDay(30*6).toString("YYYY/MM/DD"),
            endDate: start.now().addDay(365*6).toString("YYYY/MM/DD"),
        });
    </script> *@
}

