@{
    ViewData["Title"] = "آکادمی همپیشه";
    var sanitizer = new Ganss.XSS.HtmlSanitizer();
    sanitizer.AllowedTags.Add("iframe");
    sanitizer.AllowedTags.Add("style");
    sanitizer.AllowedCssProperties.Add("position");
    sanitizer.AllowedAttributes.Add("class");
    sanitizer.AllowedAttributes.Add("mozallowfullscreen");
    sanitizer.AllowedAttributes.Add("webkitallowfullscreen");
    sanitizer.AllowedAttributes.Add("allowFullScreen");
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>آکادمی همپیشه</h1>
@if (ViewBag.Academy != null)
{
    if (ViewBag.Academy.Tables[0] != null && ViewBag.Academy.Tables[0].Rows.Count > 0)
    {
        <div class="panel panel-default panel-group">
            <div class="panel-heading">کتابها</div>

            <div class="panel-body panel-group">
                <div id="articles-carousel" class="index-carousel articles carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        @for (int i = 0; i < ViewBag.Academy.Tables[0].Rows.Count; i += 3)
                        {

                            <div class="item @(i==0?"active":"")">
                                <div class="row">
                                    <article class="col-xs-4">
                                        <a href="/Info/DownloadFiles?fileName=/AcademyDoc/@ViewBag.Academy.Tables[0].Rows[i]["FilePath"]">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <h4>
                                                        @ViewBag.Academy.Tables[0].Rows[i]["Name"]
                                                    </h4>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                    @if (i + 1 < ViewBag.Academy.Tables[0].Rows.Count)
                                    {
                                        <article class="col-xs-4">
                                            <a href="/Info/DownloadFiles?fileName=/AcademyDoc/@ViewBag.Academy.Tables[0].Rows[i+1]["FilePath"]">

                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <h4>
                                                            @ViewBag.Academy.Tables[0].Rows[i + 1]["Name"]
                                                        </h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    }
                                    @if (i + 2 < ViewBag.Academy.Tables[0].Rows.Count)
                                    {
                                        <article class="col-xs-4">
                                            <a href="/Info/DownloadFiles?fileName=/AcademyDoc/@ViewBag.Academy.Tables[0].Rows[i+2]["FilePath"]">

                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <h4>
                                                            @ViewBag.Academy.Tables[0].Rows[i + 2]["Name"]
                                                        </h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (ViewBag.Academy.Tables[0].Rows.Count > 3)
                {
                    <button id="next">لیست بعدی</button>
                    <button id="prev">لیست قبلی</button>
                }
            </div>
        </div>
    }

    if (ViewBag.Academy.Tables[1] != null && ViewBag.Academy.Tables[1].Rows.Count > 0)
    {
        <div class="panel panel-default panel-group">
            <div class="panel-heading">ویدیو و پادکست</div>

            <div class="panel-body panel-group">
                <div id="articles-carousel" class="index-carousel articles carousel slide aparat" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        @for (int i = 0; i < ViewBag.Academy.Tables[1].Rows.Count; i += 3)
                        {

                            <div class="item @(i==0?"active":"")">
                                <div class="row">
                                    <article class="col-xs-12 col-sm-4">
                                        <a>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    @Html.Raw(sanitizer.Sanitize(ViewBag.Academy.Tables[1].Rows[i]["AparatUrl"], "https://www.aparat.com"))

                                                    <h4>
                                                        @ViewBag.Academy.Tables[1].Rows[i]["Name"]
                                                    </h4>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                    @if (i + 1 < ViewBag.Academy.Tables[1].Rows.Count)
                                    {
                                        <article class="col-xs-12 col-sm-4">
                                            <a>

                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        @Html.Raw(sanitizer.Sanitize(ViewBag.Academy.Tables[1].Rows[i + 1]["AparatUrl"], "https://www.aparat.com"))
                                                        <h4>
                                                            @ViewBag.Academy.Tables[1].Rows[i + 1]["Name"]
                                                        </h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    }
                                    @if (i + 2 < ViewBag.Academy.Tables[1].Rows.Count)
                                    {
                                        <article class="col-xs-12 col-sm-4">
                                            <a>

                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        @Html.Raw(sanitizer.Sanitize(ViewBag.Academy.Tables[1].Rows[i + 2]["AparatUrl"], "https://www.aparat.com"))
                                                        <h4>
                                                            @ViewBag.Academy.Tables[1].Rows[i + 2]["Name"]
                                                        </h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (ViewBag.Academy.Tables[1].Rows.Count > 3)
                {
                    <button id="next2">لیست بعدی</button>
                    <button id="prev2">لیست قبلی</button>
                }
            </div>
        </div>
    }
    if (ViewBag.Academy.Tables[2] != null && ViewBag.Academy.Tables[2].Rows.Count > 0)
    {
        <div class="panel panel-default panel-group">
            <div class="panel-heading">آزمونها</div>

            <div class="panel-body panel-group">
                <div id="articles-carousel" class="index-carousel articles carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        @for (int i = 0; i < ViewBag.Academy.Tables[2].Rows.Count; i += 3)
                        {

                            <div class="item @(i==0?"active":"")">
                                <div class="row">
                                    <article class="col-xs-4">
                                        <a target="_blank" href="@ViewBag.Academy.Tables[2].Rows[i]["AcademyExamUrl"]">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <h4>
                                                        @ViewBag.Academy.Tables[2].Rows[i]["Name"]
                                                    </h4>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                    @if (i + 1 < ViewBag.Academy.Tables[2].Rows.Count)
                                    {
                                        <article class="col-xs-4">
                                            <a target="_blank" href="@ViewBag.Academy.Tables[2].Rows[i+1]["AcademyExamUrl"]">

                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <h4>
                                                            @ViewBag.Academy.Tables[2].Rows[i + 1]["Name"]
                                                        </h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    }
                                    @if (i + 2 < ViewBag.Academy.Tables[2].Rows.Count)
                                    {
                                        <article class="col-xs-4">
                                            <a target="_blank" href="@ViewBag.Academy.Tables[2].Rows[i+2]["AcademyExamUrl"]">

                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <h4>
                                                            @ViewBag.Academy.Tables[2].Rows[i + 2]["Name"]
                                                        </h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (ViewBag.Academy.Tables[2].Rows.Count > 3)
                {
                    <button id="next3">لیست بعدی</button>
                    <button id="prev3">لیست قبلی</button>
                }
            </div>
        </div>
    }
}

<div class="panel panel-default panel-group">
    <div class="panel-heading">نتایج آزمون</div>

    <div class="panel-body panel-group">
        @if (User.Identity.IsAuthenticated == false)
        {
            <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Register">ثبتنام کنید</a>
        }
        else
        {
            <a class="btn btn-primary" href="https://www.joinubest.com/">ثبتنام کنید</a>
        }
    </div>
</div>
<style>
    .panel-group {
        position: inherit;
        height: auto;
    }

    .aparat .panel {
        height: 320px;
    }
</style>
@section Scripts{
    <script type="text/javascript" src="~/bcSwipe-master/jquery.bcSwipe.min.js"></script>
    <script type="text/javascript">
        $(".carousel").bcSwipe({ threshold: 50 })
        $('#next').on('click', function () {
            $($(".carousel")[0]).carousel('next');
        });
        $('#prev').on('click', function () {
            $($(".carousel")[0]).carousel('prev');
        });
        $('#next2').on('click', function () {
            $($(".carousel")[1]).carousel('next');
        });
        $('#prev2').on('click', function () {
            $($(".carousel")[1]).carousel('prev');
        });
        $('#next3').on('click', function () {
            $($(".carousel")[2]).carousel('next');
        });
        $('#prev3').on('click', function () {
            $($(".carousel")[2]).carousel('prev');
        })
//document.addEventListener('DOMContentLoaded', function () {
//    var elems = document.querySelectorAll('.carousel');
//    var instances = elems.Carousel.init(elems, options);
//  });

                                                                                                                          // Or with jQuery

                                                                                                                          //$(document).ready(function(){
                                                                                                                            //$('.carousel').carousel();
                                                                                                                          //});
    </script>
}
