
@{
    ViewData["Title"] = "اخبار";
    var sanitizer = new Ganss.XSS.HtmlSanitizer();
    sanitizer.AllowedTags.Add("iframe");
    sanitizer.AllowedTags.Add("style");
    sanitizer.AllowedCssProperties.Add("position");
    sanitizer.AllowedAttributes.Add("class");
    sanitizer.AllowedAttributes.Add("mozallowfullscreen");
    sanitizer.AllowedAttributes.Add("webkitallowfullscreen");
    sanitizer.AllowedAttributes.Add("allowFullScreen");
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";

}

<h1>اخبار
    <span class="backb"><a href="javascript:history.back()"><i class="icon-arrow-left"></i> بازگشت</a></span>
</h1>



@if (ViewBag.News != null)
{
    if (ViewBag.News.Tables[0] != null && ViewBag.News.Tables[0].Rows.Count > 0)
    {
        @for (int i = 0; i < ViewBag.News.Tables[0].Rows.Count; i += 2)
        {
            <div class="row" dir="rtl">
                <div class="col-md-6 imgr">
                    <a href='@(ViewBag.id==null?("/Info/News?ID="+ViewBag.News.Tables[0].Rows[i]["NewsId"].ToString()):"")'>
                        
                            <div class="mb-2">@ViewBag.News.Tables[0].Rows[i]["Title"]</div>
                                @*@Html.Raw( sanitizer.Sanitize(ViewBag.News.Tables[0].Rows[i]["Desc"],"https://www.aparat.com"))*@
                                <img style="width:100%" class="bradius" src="/uploads/news/@((ViewBag.id==null?"thumbnails/"+ViewBag.News.Tables[0].Rows[i]["ThumbnailPath"]:ViewBag.News.Tables[0].Rows[i]["ImagesPath"]))" />

                                @if (ViewBag.id != null)
                                {
                                    @Html.Raw(sanitizer.Sanitize(ViewBag.News.Tables[0].Rows[i]["Desc"], "https://www.aparat.com"))
                                }
                                else
                                {
                                    @(ViewBag.News.Tables[0].Rows[i]["Abstract"].ToString())
                                }
                    </a>
                    <hr />
                </div>
                @if (i + 1 < ViewBag.News.Tables[0].Rows.Count)
                {

                    <div class="col-md-6 imgr">
                        <a href='@(ViewBag.id==null?("/Info/News?ID="+ViewBag.News.Tables[0].Rows[i+1]["NewsId"].ToString()):"")'>
                                <div class="mb-2">@ViewBag.News.Tables[0].Rows[i + 1]["Title"]</div>
                                <img style="width:100%" src="/uploads/news/@(ViewBag.id==null?"thumbnails/"+ViewBag.News.Tables[0].Rows[i+1]["ThumbnailPath"]:ViewBag.News.Tables[0].Rows[i+1]["ImagesPath"])" />
                                @*@Html.Raw( sanitizer.Sanitize(ViewBag.News.Tables[0].Rows[i + 1]["Desc"],"https://www.aparat.com"))*@
                                @(ViewBag.News.Tables[0].Rows[i + 1]["Abstract"].ToString())

                        </a>
                        <hr />
                    </div>
                }
            </div>
        }
    }
    @if (ViewBag.News.Tables[1].Rows.Count > 0 && (ViewBag.News.Tables[1].Rows[0].IsNull(0) || ((bool)ViewBag.News.Tables[1].Rows[0][0]) == false))
    {
        <a class="btn btn-primary" href="/Info/SendNewsToMe">عضو خبرنامه می شوم. تمامی خبرها به من ایمیل شود.</a>
    }
    else
    {
        <a class="btn btn-primary" href="/Info/DoesNotSendNewsToMe">از عضویت خبرنامه انصراف میدهم. لطفا دیگر ایمیل ارسال نشود.</a>
    }
}
    <style>
        .panel.panel-group {
            position: inherit;
            height: auto;
        }

        .panel-body {
            position: inherit;
        }
    </style>