@{
	ViewBag.Title = "نتیجه خرید";
	Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h2></h2>
<div class="col-xs-12">
	<div class="invoice-ribbon-right"><div class="ribbon-inner-right">نتیجه خرید</div></div>

	@*<a href='@(item.thisUserStarted && item.thisUserFinished?"":"/Surveys/SurveyQuastion?SurveyId="+item.SurveyId)'>
	</a>*@
	<div class="panel panel-default radius">
		<div class="panel-body">
			<div class="col-xs-12">
				مبلغ:<div class="float-left">
					@ViewBag.Amount
				</div>
				@if (string.IsNullOrEmpty(ViewBag.ExtraAmountTitle) == false)
				{
					<div class="col-xs-12">
						مبالغ اضافی:<div class="float-left">
							@ViewBag.ExtraAmountTitle &nbsp; @ViewBag.ExtraAmount
						</div>
					</div>
				}
				<div class="col-xs-12">
					تاریخ:<div class="float-left">
						@ViewBag.ShamsiDate
					</div>
				</div>
				<div class="col-xs-12">
					نتیجه تراکنش: <div class="float-left">
						@ViewBag.TransactionStatus
					</div>
				</div>
				<div class="col-xs-12">
					نوع محصول:<div class="float-left">
						@ViewBag.transactiontype
					</div>
				</div>
				@if (string.IsNullOrEmpty(ViewBag.ReferenceNumber) == false)
				{
					<div class="col-xs-12">
						شماره پیگیری بانک: <div class="float-left">
							@ViewBag.ReferenceNumber
						</div>
					</div>
				}
				@if (string.IsNullOrEmpty(ViewBag.InfoTitle) == false)
				{
					<div class="col-xs-12">
						@ViewBag.InfoTitle: <div class="float-left">
							@ViewBag.Info
						</div>
					</div>
				}
				@if (string.IsNullOrEmpty(ViewBag.Info2Title) == false)
				{
					<div class="col-xs-12">
						@ViewBag.Info2Title:<div class="float-left">
							@ViewBag.Info2
						</div>
					</div>
				}
				<div class="col-xs-12">
					کد پیگیری همپیشه:<div class="float-left">
						@ViewBag.WorkflowRunId
					</div>
				</div>
				@if (string.IsNullOrEmpty(ViewBag.Reverse) == false)
				{

					<div class="col-xs-12">
						اطلاعات:@ViewBag.Reverse
					</div>
					if (string.IsNullOrEmpty(ViewBag.auth) == false)
					{
						<div class="col-xs-12">
							کد پیگیری بانک:<div class="float-left">
								@ViewBag.auth
							</div>
						</div>
					}
				}
				@if (string.IsNullOrEmpty(ViewBag.PDFDownload) == false)
				{
					<div class="col-xs-12">
						<a download="" href="@ViewBag.PDFDownload" class="btn btn-default form-control bor-green">دانلود pdf</a>
					</div>
					<div class="visible-xs col-xs-12">
						<a id="whatsapp-btn" data-address="@ViewBag.PDFDownload" class="btn btn-default form-control bor-green">ارسال لینک فاکتور واتس اپ</a>
					</div>
					@*<div class="col-sm-3">
				ارسال لینک دانلود pdf به واتس اپ
				</div>*@
				}
				@if (string.IsNullOrEmpty(ViewBag.ExcelDownload) == false)
				{
					<div class="col-xs-12">
						<a download="" href="@ViewBag.ExcelDownload" class="btn btn-default form-control bor-green">دانلود excel</a>
					</div>
				}
				<div class="visible-xs col-xs-12">
					<a href="https://return.hampisheh.com/callback" class="btn btn-default form-control bor-green">بازگشت به اپلیکشن</a>
				</div>
			</div>

		</div>
	</div>


	<style>
		.break-word {
			word-wrap: break-word;
		}

		.panel-body {
			padding-top: 46px;
			position: static;
		}

		.radius {
			height: auto;
		}

		.btn.btn-default {
			margin: 5px 0;
		}
		html{
			direction:rtl;
		}
	</style>
	@section Scripts {
		<script type="text/javascript">

			document.getElementById('whatsapp-btn').addEventListener('click', function (event) {
				var text = encodeURI("برای دانلود فاکتور بر روی لینک زیر کلیک کنید:\n\rhttps://hampisheh.com" + $(this).attr('data-address'));
				window.location.href = "https://api.whatsapp.com/send?text=" + text;
			});
		</script>
	}
