
@{
    ViewBag.Title = "نتیجه خرید";
}

<h2>نتیجه خرید</h2>

<div class="row" style="direction:rtl">
    <div class="col-sm-10 col-sm-offset-2">
        <div class="col-sm-3">
            مبلغ
        </div>
        <div class="col-sm-9">
            @ViewBag.Amount &nbsp;
        </div>
        @if (string.IsNullOrEmpty(ViewBag.ExtraAmountTitle) == false)
        {
            <div class="col-sm-3">
                مبالغ اضافی
            </div>
            <div class="col-sm-9">
                @ViewBag.ExtraAmountTitle &nbsp; @ViewBag.ExtraAmount
            </div>
        }
        <div class="col-sm-3">
            تاریخ
        </div>
        <div class="col-sm-9">
            @ViewBag.ShamsiDate &nbsp;
        </div>
        <div class="col-sm-3">
            نتیجه تراکنش
        </div>
        <div class="col-sm-9">
            @ViewBag.TransactionStatus &nbsp;
        </div>
        @*@if (ViewBag.ProductStatus != null)
        {
            <div class="col-sm-3">
                نتیجه محصول
            </div>
            <div class="col-sm-9">
                @ViewBag.ProductStatus &nbsp;
            </div>
        }*@
        <div class="col-sm-3">
            نوع محصول
        </div>
        <div class="col-sm-9">
            @ViewBag.transactiontype &nbsp;
        </div>
        @if (string.IsNullOrEmpty(ViewBag.ReferenceNumber) == false)
        {
            <div class="col-sm-3 break-word">
                شماره پیگیری بانک
            </div>
            <div class="col-sm-9">
                @ViewBag.ReferenceNumber&nbsp;
            </div>
        }
        <div class="col-sm-3 break-word">
            @ViewBag.InfoTitle &nbsp;
        </div>
        <div class="col-sm-9">
            @ViewBag.Info &nbsp;
        </div>
        <div class="col-sm-3">
            @ViewBag.Info2Title &nbsp;
        </div>
        <div class="col-sm-9 break-word">
            @ViewBag.Info2 &nbsp;
        </div>
        <div class="col-sm-3">
            کد پیگیری همپیشه
        </div>
        <div class="col-sm-9 break-word">
            @ViewBag.WorkflowRunId
        </div>
        @if (string.IsNullOrEmpty(ViewBag.Reverse) == false)
        {

            <div class="col-sm-3">
                اطلاعات
            </div>
            <div class="col-sm-9 break-word btn-warning">
                @ViewBag.Reverse
            </div>
            <div class="col-sm-3">
                کد پیگیری زرین پال
            </div>
            <div class="col-sm-9 break-word btn-warning">
                @ViewBag.auth
            </div>
        }
        @if (string.IsNullOrEmpty(ViewBag.PDFDownload) == false)
        {
            <div class="col-sm-3">
                دانلود pdf
            </div>

            <div class="col-sm-9 break-word">
                <a download="" href="@ViewBag.PDFDownload" class="btn btn-primary">دانلود</a>
            </div>
        }
        @if (string.IsNullOrEmpty(ViewBag.ExcelDownload) == false)
        {
            <div class="col-sm-3">
                دانلود excel
            </div>

            <div class="col-sm-9 break-word">
                <a download="" href="@ViewBag.ExcelDownload" class="btn btn-primary">دانلود</a>
            </div>
        }
        <div class="visible-xs">
            <a href="https://return.hampisheh.com/callback" class="btn btn-primary">بازگشت به اپلیکشن</a>
        </div>
    </div>
</div>



<style>
    .break-word{
        word-wrap:break-word;
    }
</style>