
@{
    ViewData["Title"] = "UserAccess";
    ViewData.AddActivePage(ManageNavPages.UserAccess);
}
    <form method="post" action="/Manage/RegisterConfirmation">
        <div class="row">
            <div class="col-md-6">
                <label for="RegisterConfirmation" class="col-md-4">
                    ثبت نام نیاز به فعال سازی دارد؟
                </label>
                <input type="checkbox" id="RegisterConfirmation" name="RegisterConfirmation" value="true" @(ViewBag.RegisterConfirmation ? "checked" : "") />
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" name="RegisterConfirmationsbtType" value="submit">تایید و ذخیره</button>
            </div>
        </div>
    </form>
    <form method="post" action="/Manage/RequiredIntroducer">
        <div class="row">
            <div class="col-md-6">
                <label for="RequiredIntroducer" class="col-md-4">
                    در ثبت نام فیلد معرف اجباری باشد؟
                </label>
                <input type="checkbox" id="RequiredIntroducer" name="RequiredIntroducer" value="true" @(ViewBag.RequiredIntroducer ? "checked" : "") />
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" name="RequiredIntroducerbtType" value="submit">تایید و ذخیره</button>
            </div>
        </div>
    </form>
    <form method="post" action="/Manage/MobileConfirmation">
        <div class="row">
            <div class="col-md-6">
                <label for="MobileConfirmation" class="col-md-4">
                    ثبت نام نیاز به تاییدیه موبایل دارد؟
                </label>
                <input type="checkbox" id="MobileConfirmation" name="MobileConfirmation" value="true" @(ViewBag.MobileConfirmation ? "checked" : "") />
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" name="MobileConfirmationbtType" value="submit">تایید و ذخیره</button>
            </div>
        </div>
    </form>
    <form method="post" action="/Manage/CaptchaNeedLogin">
        <div class="row">
            <div class="col-md-6">
                <label for="CaptchaNeedLogin" class="col-md-4">
                    ورود نیاز به کپچا دارد؟
                </label>
                <input type="checkbox" id="CaptchaNeedLogin" name="CaptchaNeedLogin" value="true" @(ViewBag.CaptchaNeedLogin?"checked":"") />
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" name="CaptchaNeedLoginsbtType" value="submit">تایید و ذخیره</button>
            </div>
        </div>
    </form>
    <form method="post" action="/Manage/LockedOut">
        <div class="row">
            <div class="col-md-6">
                <label for="CaptchaNeedLogin" class="col-md-4">
                    در صورت ورود ناموفق اکانت قفل شود؟
                </label>
                <input type="checkbox" id="IsLockedOut" name="IsLockedOut" value="true" @(ViewBag.IsLockedOut?"checked":"") />
            </div>
            <div class="col-md-6">
                <label for="CaptchaNeedLogin" class="col-md-4">
                   تعداد ورود ناموفق جهت قفل شدن؟
                </label>
                <input type="number" id="LockedOutCount" name="LockedOutCount" value="@ViewBag.LockedOutCount" />
            </div>
            <div class="col-md-6">
                <label for="CaptchaNeedLogin" class="col-md-4">
                   مدت زمان قفل شدن(به دقیقه)؟
                </label>
                <input type="number" id="LockedOutTime" name="LockedOutTime" value="@ViewBag.LockedOutTime" />
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" name="CaptchaNeedLoginsbtType" value="submit">تایید و ذخیره</button>
            </div>
        </div>
    </form>
<form method="post" action="/Manage/UserAccess" >
    <div class="row">
        <label for="User" class="col-md-4">
            نام کاربری:
        </label>
        @Html.DropDownList("User", null, "please select", new { @class = "form-control col-md-12",@required="" })
    </div>
    <div class="row">
        <label for="User" class="col-md-4">
            سمت ها:
        </label>
        <div>
            <input type="hidden" id="roleId" name="Role"/>
            @Html.DropDownList("Role", null, "please select", new { @class = "", @multiple = "multiple", @required = "" })
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" name="sbtType" value="submit">تایید و ذخیره</button>
            @*<button type="submit" class="btn btn-danger" name="sbtType" value="deleteUser">delete user</button>*@
        </div>
    </div>
</form>
@section Scripts
    {
    @*<link rel="stylesheet" href="~/css/selectize.css" />*@
    <link rel="stylesheet" href="~/css/selectize.default.css" />
    <script src="/js/selectize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#User").on("change", function () {
                debugger;
                $select[0].selectize.setValue([]);
                $.post("/Manage/GetUserAccess", { userid: $("#User").val() }, function (data, status) {
                    if (data.length > 0)
                        $select[0].selectize.setValue(data);
                    //for (var i = 0; i < data.length; i++) {
                    //}
                });
            });
            var $select = $('#Role').selectize({
            });
            $('form').submit(function (e) {
                $('#roleId').val($('#Role').val());

            });
            $select[0].selectize.setValue('@ViewBag.SelectedRole'.split(','));

        });
    </script>
}
