@model List<AirplanTicketDetailsDto>
@{
	ViewData["Title"] = "AvailibileList";
	Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>Availibile List</h1>

<table class="table">
	<thead>
		<tr>
			<th>date</th>
			<th>cabin type</th>
			<th>departure time</th>
			<th>arrival time</th>
			<th>flight key</th>
			<th>price</th>
			<th>is high price</th>
			<th>is foreign</th>
			<th>type</th>
			<th>airline name</th>
			<th>arrival city name</th>
			<th>capacity</th>
			<th>departure city name</th>
			<th>duration</th>
			<th>flight no</th>
			<th>adult</th>
			<th>child</th>
			<th>infant</th>
			<th>stops count</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{

			<tr>
				<td>@item.date</td>
				<td>@item.cabin_type_lang</td>
				<td>@item.departure_time</td>
				<td>@item.arrival_time</td>
				<td>@item.flight_key</td>
				<td>@item.price</td>
				<td>@item.is_high_price</td>
				<td>@item.is_foreign</td>
				<td>@item.type_lang</td>
				<td>@item.airline_name_lang</td>
				<td>@item.arrival_city_name_lang</td>
				<td>@item.capacity</td>
				<td>@item.departure_city_name_lang</td>
				<td>@item.duration</td>
				<td>@item.flight_no</td>
				<td>@item.adult</td>
				<td>@item.child</td>
				<td>@item.infant</td>
				<td>@item.stops_count</td>
			</tr>
		}
	</tbody>
</table>