@using Microsoft.Data.SqlClient;
@using System.Security.Claims;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var uid = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var db = new DataAccess();
    var mlmPackageDt = db.ProccessSelectQuery("sp_getMLMSubscribe", new SqlParameter[] {
                new SqlParameter("@UserId",uid),
        }, System.Data.CommandType.StoredProcedure);
    var mlmPackageList = mlmPackageDt.Select().Select(r => new { code = r["MLMSubscribePackageId"], title = r["PackageDetails"] }).ToList();
    var dtSelect = new SelectList(mlmPackageList, "code", "title");



    var CurrentPackageDt = db.ProccessSelectQuery("sp_getCurrentMLMSubscribe", new SqlParameter[] {
                new SqlParameter("@UserId",uid),
        }, System.Data.CommandType.StoredProcedure);
    var CurrentPackageList = CurrentPackageDt.Select().Select(r => new { title = r["PackageDetails"], fromdate = r["DateAdded"], todate = r["SubscribeToDate"] }).ToList();

    var AllGift = db.ProccessSelectQuery("sp_getAllMLMGiift", new SqlParameter[] {
                new SqlParameter("@UserId",uid),
        }, System.Data.CommandType.StoredProcedure);
    var AllGiftList = AllGift.Select().Select(r => new { TransactionMLMGiftId = r["TransactionMLMGiftId"], IsHidden = r["IsHidden"], Amount = r["Amount"],
        TransactionId = r["TransactionId"], DateAdded = r["DateAdded"], UserInfo = r["UserInfo"], TypeOfGiftId = r["TypeOfGiftId"], MLMPlanId = r["MLMPlanId"]
    }).ToList();//PackageDetails,a.DateAdded,a.SubscribeToDate
    //TransactionMLMGiftId	IsHidden	Amount	TransactionId	DateAdded	ToUserId	TypeOfGiftId	MLMPlanId
}


<form action="/Info/ShoppingData" method="post">
    @Html.Hidden("WorkFlowId", 2003)
    @Html.Hidden("ShoppingPageId", 1015)
    @Html.Hidden("Amount", 0)
    <fieldset dir="rtl">
        @if (CurrentPackageList.Count > 0)
        {
            <fieldset id="packageFieldset" class="allpart row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>عنوان بسته</th>
                            <th>از تاریخ</th>
                            <th>تا تاریخ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in CurrentPackageList)
                        {
                            <tr>
                                <td>@item.title</td>
                                <td>@ShppaingPart.Controllers.SharedLogic.ToShamsi(DateTime.Parse(item.fromdate.ToString()))</td>
                                <td>@ShppaingPart.Controllers.SharedLogic.ToShamsi(DateTime.Parse(item.todate.ToString()))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </fieldset>
        }
        <fieldset id="packageFieldset" class="allpart row">
            <div class="col-12"><h5>طرح انتخابی</h5></div>
            <div class="col-12 mb-4">
                <div class="form-group col-md-4">
                    <label for="package_id">اشتراک MLM</label>
                    <select name="mlmsubpackageid" id="package_id" class="form-control sample" required asp-items="dtSelect">
                        <option value="">لطفا انتخاب کنید</option>
                    </select>
                    <span validation-for="package_id" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
    </fieldset>
    <button class="btn btn-warning" type="submit" id="btn-pay">خرید</button>
</form>



@if (AllGiftList.Count > 0)
{
    <fieldset id="packageFieldset" class="allpart row">
        <table class="table">
            <thead>
                <tr>
                    <th>کد</th>
                    <th>پنهان</th>
                    <th>مبلغ</th>
                    <th>کد تراکنش</th>
                    <th>تاریخ</th>
                    <th>کاربر</th>
                    <th>نوع هدیه</th>
                    <th>کد پلن MLM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in AllGiftList)
                {

                    //TransactionMLMGiftId = r["TransactionMLMGiftId"], IsHidden = r["IsHidden"], Amount = r["Amount"],
                    //TransactionId = r["TransactionId"], DateAdded = r["DateAdded"], ToUserId = r["ToUserId"], TypeOfGiftId = r["TypeOfGiftId"], MLMPlanId = r["MLMPlanId"]
                    <tr>
                        <td>@item.TransactionMLMGiftId</td>
                        <td>@item.IsHidden</td>
                        <td>@(((long)item.Amount).ToString("N0"))</td>
                        <td>@item.TransactionId</td>
                        <td>@ShppaingPart.Controllers.SharedLogic.ToShamsi(DateTime.Parse(item.DateAdded.ToString()))</td>
                        <td>@item.UserInfo</td>
                        <td>@item.TypeOfGiftId</td>
                        <td>@item.MLMPlanId</td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
}
