@model IEnumerable<ShppaingPart.Controllers.Logger>

@{
    ViewData["Title"] = "LoggerInfo";
    //Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

@section header {

    <link rel="stylesheet" type="text/css" href="~/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/datatables/DataTables-1.10.20/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/datatables/Buttons-1.6.0/css/buttons.dataTables.min.css">
}
<h2>LoggerInfo</h2>

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Parameters</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body no-padding" style="">
        <div class="row">

            <form method="get" action="LoggerInfo">
                <div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <input name="FromDateJalali" id="FromDateJalali" placeholder="from date" autocomplete="off" class="form-control persian-date" />
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <input name="ToDateJalali" id="ToDateJalali" placeholder="to date" autocomplete="off" class="form-control persian-date" />
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <select name="UserName" id="UserName" class="form-control" asp-items="ViewBag.ToUserId"><option value="">All</option></select>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <input name="url" id="url" placeholder="url" class="form-control" />
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <select name="OnlyError" id="OnlyError" class="form-control"><option value="">All</option><option value="true">Only Errors</option></select>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
    <hr />
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExceptionMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExceptionStackTrace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedParam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Browser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoggerId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExceptionMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExceptionStackTrace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedParam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Browser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoggerId)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @*<script type="text/javascript" src="~/datatables/jQuery-3.3.1/jquery-3.3.1.min.js"></script>*@

    <script type="text/javascript" src="~/datatables/dataTables.min.js"></script>
    <script type="text/javascript" src="~/datatables/FixedHeader-3.1.6/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="~/datatables/Buttons-1.6.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/datatables/JSZip-2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="~/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/datatables/Buttons-1.6.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/datatables/Buttons-1.6.0/js/buttons.print.min.js"></script>


    <link id="datepickerTheme" href="~/persiandate/css/persian-datepicker.min.css" rel="stylesheet" />
    <script src="~/persiandate/js/persian-date.min.js"></script>
    <script src="~/persiandate/js/persian-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            //debugger;
            var strElem = "";
            $('table thead tr th').each(function (index, elem) {
                strElem += "<th>" + $($('table thead tr th')[index]).text() + "</th>";
            });
            $('table').append("<tfoot><tr>" + strElem + "</tr></tfoot>");
            $('table tfoot tr th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('table').DataTable({
                fixedHeader: true,
                orderCellsTop: true,
                responsive: true,
                dom: 'Bfrtip', "order": [],
                buttons: [
                    {
                        extend: 'collection',
                        text: 'Export',
                        buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                        ]
                    }
                ],
                "bAutoWidth": false,
            });
            $('table').on("order.dt", function () {

                if (table.settings().order().length === 1) {
                    var order = table.settings().order()[0];
                    var th = $("table th:eq(" + order[0] + ")");
                    if (th.attr("data-sort-next") === "false") {
                        table.order([]).draw();
                        th.attr("data-sort-next", true);
                    } else {
                        if (order[1] === "desc") {
                            th.attr("data-sort-next", false);
                        } else {
                            th.attr("data-sort-next", true);
                        }
                    }
                }
            });
        });

        $(document).ready(function () {
            // Debug mode
            // --------------------------------------------
            //        window.persianDatepickerDebug = true;

            // Normal Sample
            // --------------------------------------------
            window.pd = $('.persian-date').each(function (index, elem) {
                $(this).persianDatepicker({
                    //altField: "#alt" + (index + 1).toString(),
                    altFormat: 'LLLL',
                    initialValue: false,
                    observer: true,
                    format: 'YYYY/MM/DD',
                    //timePicker: {
                    //    enabled: true
                    //}
                });
            });
        });
    </script>
}