
@{
    ViewData["Title"] = "کمپین نظرسنجی";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>کمپین نظرسنجی</h1>

@foreach (var item in ViewBag.ListSurveys)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-ribbon"><div class="ribbon-inner">@(item.thisUserStarted && item.thisUserFinished?"پاسخ داده اید":item.thisUserStarted?"درحال انجام":"شروع نکرده اید")</div></div>
            <div class="invoice-ribbon-right"><div class="ribbon-inner-right">@(" هدیه " + item.SurveyGiftAmount.ToString("N0")+" ريال ")</div></div>

            <a href='@(item.thisUserStarted && item.thisUserFinished?"":"/Surveys/SurveyQuastion?SurveyId="+item.SurveyId)'>
                <div class="panel panel-default radius">
                    <div class="panel-body">
                        @item.Name
                        <div class="deadLine" data-id="@item.SurveyId" StartDate="@item.StartDate" EndDate="@item.EndDate"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
}



@section Scripts{
    <script type="text/javascript">
        var clientFirstdateTiem = new Date().getTime();
		var x = setInterval(function () {
            $('.deadLine').each(function (index, elem) {
                var noEnd = false;
                var noStart = false;
                var StartDate = new Date('@DateTime.Now.AddDays(-1)').getTime();
                if ($(this).attr('StartDate'))
                    StartDate = new Date($(this).attr('StartDate')).getTime();
                else
                    noStart = true;
                var EndDate = new Date('@DateTime.Now.AddDays(-1)').getTime();
                if ($(this).attr('EndDate'))
                    EndDate = new Date($(this).attr('EndDate')).getTime();
                else
                    noEnd = true;
                if (noEnd && noStart) {
					$(this).html( "بدون محدودیت زمانی");
                    return;
                }
            var serverdate = new Date('@DateTime.Now').getTime();
                var clientdate = new Date().getTime();
            var countDownDateIsStartDate = true;
            var countDownDate = StartDate;
            if ((StartDate - serverdate-(clientdate - clientFirstdateTiem)) < 0) {
                countDownDate = EndDate;
                countDownDateIsStartDate = false;
            }
            var distance = countDownDate - serverdate-(clientdate - clientFirstdateTiem);
			// Time calculations for days, hours, minutes and seconds
			var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            var relative = "";
            if (days > 0)
                relative += days + "روز ";
			if(hours>0)
                relative += hours + "ساعت ";
			if(minutes>0)
                relative += minutes + "دقیقه ";
			if(seconds>0)
                relative += seconds + "ثانیه ";
            if (countDownDateIsStartDate)
                relative += " تا شروع";
			else
                relative += " تا پایان";
            $(this).html(relative);
            if (distance < 0 && noEnd) {
				$(this).html( "بدون محدودیت زمانی");
			}

        });
		}, 1000);
    </script>

}